<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_index_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{165,359}</string>
                <key>spriteSourceSize</key>
                <string>{165,363}</string>
                <key>textureRect</key>
                <string>{{345,1},{165,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_index_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,174}</string>
                <key>spriteSourceSize</key>
                <string>{114,174}</string>
                <key>textureRect</key>
                <string>{{211,1407},{114,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_index_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,481}</string>
                <key>spriteSourceSize</key>
                <string>{141,481}</string>
                <key>textureRect</key>
                <string>{{345,362},{141,481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_index_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,582}</string>
                <key>spriteSourceSize</key>
                <string>{342,582}</string>
                <key>textureRect</key>
                <string>{{1,585},{342,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_index_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,346}</string>
                <key>spriteSourceSize</key>
                <string>{208,346}</string>
                <key>textureRect</key>
                <string>{{1,1169},{208,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_index_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,165}</string>
                <key>spriteSourceSize</key>
                <string>{43,165}</string>
                <key>textureRect</key>
                <string>{{449,845},{43,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_index_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,82}</string>
                <key>spriteSourceSize</key>
                <string>{66,82}</string>
                <key>textureRect</key>
                <string>{{387,1508},{66,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_index_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,65}</string>
                <key>spriteSourceSize</key>
                <string>{24,65}</string>
                <key>textureRect</key>
                <string>{{319,1169},{24,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_index_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,582}</string>
                <key>spriteSourceSize</key>
                <string>{342,582}</string>
                <key>textureRect</key>
                <string>{{1,1},{342,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_index_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,178}</string>
                <key>spriteSourceSize</key>
                <string>{90,178}</string>
                <key>textureRect</key>
                <string>{{387,1328},{90,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_index_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,175}</string>
                <key>spriteSourceSize</key>
                <string>{54,175}</string>
                <key>textureRect</key>
                <string>{{1,1517},{54,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_index_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,236}</string>
                <key>spriteSourceSize</key>
                <string>{106,236}</string>
                <key>textureRect</key>
                <string>{{211,1169},{106,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_index_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,481}</string>
                <key>spriteSourceSize</key>
                <string>{102,481}</string>
                <key>textureRect</key>
                <string>{{345,845},{102,481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet_1.png</string>
            <key>size</key>
            <string>{511,1575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ddfb314f5c101a5de1d8046e993df89:310cd666ac379ecc50d98ca34e95cc6a:22411d9d2bc24cc06b1849bf5ef39bbd$</string>
            <key>textureFileName</key>
            <string>bullet_1.png</string>
        </dict>
    </dict>
</plist>
