<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,142}</string>
                <key>spriteSourceSize</key>
                <string>{36,144}</string>
                <key>textureRect</key>
                <string>{{354,1260},{34,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,242}</string>
                <key>spriteSourceSize</key>
                <string>{159,242}</string>
                <key>textureRect</key>
                <string>{{324,266},{159,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{97,146}</string>
                <key>spriteSourceSize</key>
                <string>{99,162}</string>
                <key>textureRect</key>
                <string>{{374,948},{97,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,263}</string>
                <key>spriteSourceSize</key>
                <string>{300,263}</string>
                <key>textureRect</key>
                <string>{{202,1},{300,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{374,818},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{354,1296},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,392}</string>
                <key>spriteSourceSize</key>
                <string>{145,392}</string>
                <key>textureRect</key>
                <string>{{177,389},{145,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,393}</string>
                <key>spriteSourceSize</key>
                <string>{153,393}</string>
                <key>textureRect</key>
                <string>{{1,784},{153,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{199,386}</string>
                <key>spriteSourceSize</key>
                <string>{199,388}</string>
                <key>textureRect</key>
                <string>{{1,1},{199,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,393}</string>
                <key>spriteSourceSize</key>
                <string>{174,393}</string>
                <key>textureRect</key>
                <string>{{1,389},{174,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>none.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{156,784},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,153}</string>
                <key>spriteSourceSize</key>
                <string>{171,153}</string>
                <key>textureRect</key>
                <string>{{324,510},{171,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,133}</string>
                <key>spriteSourceSize</key>
                <string>{168,133}</string>
                <key>textureRect</key>
                <string>{{324,683},{168,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,134}</string>
                <key>spriteSourceSize</key>
                <string>{172,134}</string>
                <key>textureRect</key>
                <string>{{156,1030},{172,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,132}</string>
                <key>spriteSourceSize</key>
                <string>{162,132}</string>
                <key>textureRect</key>
                <string>{{354,1096},{162,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone_trace.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,210}</string>
                <key>spriteSourceSize</key>
                <string>{216,210}</string>
                <key>textureRect</key>
                <string>{{156,818},{216,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,103}</string>
                <key>spriteSourceSize</key>
                <string>{114,105}</string>
                <key>textureRect</key>
                <string>{{202,266},{112,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,196}</string>
                <key>spriteSourceSize</key>
                <string>{183,196}</string>
                <key>textureRect</key>
                <string>{{169,1166},{183,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,191}</string>
                <key>spriteSourceSize</key>
                <string>{166,191}</string>
                <key>textureRect</key>
                <string>{{1,1179},{166,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{503,1371}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebc22ec288a6a67d2af691e942d31855:8d27a832aa7d94d53a9d11ac4f249b23:2afb0b8dfa048ea2bbd02e313d2c7964$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
