<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_s_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,97}</string>
                <key>textureRect</key>
                <string>{{1319,1534},{89,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,90}</string>
                <key>spriteSourceSize</key>
                <string>{744,94}</string>
                <key>textureRect</key>
                <string>{{981,1},{740,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g_s_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,81}</string>
                <key>spriteSourceSize</key>
                <string>{385,81}</string>
                <key>textureRect</key>
                <string>{{1425,1110},{385,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g_s_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,63}</string>
                <key>spriteSourceSize</key>
                <string>{78,63}</string>
                <key>textureRect</key>
                <string>{{1443,1795},{78,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_s_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-66}</string>
                <key>spriteSize</key>
                <string>{478,1107}</string>
                <key>spriteSourceSize</key>
                <string>{510,1273}</string>
                <key>textureRect</key>
                <string>{{1073,1},{478,1107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_s_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{978,1047}</string>
                <key>spriteSourceSize</key>
                <string>{1108,1047}</string>
                <key>textureRect</key>
                <string>{{1,1},{978,1047}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_s_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{978,1047}</string>
                <key>spriteSourceSize</key>
                <string>{1048,1047}</string>
                <key>textureRect</key>
                <string>{{1,1050},{978,1047}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g_s_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,233}</string>
                <key>spriteSourceSize</key>
                <string>{253,233}</string>
                <key>textureRect</key>
                <string>{{1188,1631},{253,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_s_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{422,104}</string>
                <key>spriteSourceSize</key>
                <string>{426,108}</string>
                <key>textureRect</key>
                <string>{{1319,1110},{422,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g_s_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,129}</string>
                <key>spriteSourceSize</key>
                <string>{519,129}</string>
                <key>textureRect</key>
                <string>{{1188,1110},{519,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g_s_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,71}</string>
                <key>spriteSourceSize</key>
                <string>{180,73}</string>
                <key>textureRect</key>
                <string>{{1443,1617},{176,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g_s_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{981,953},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_s_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,118}</string>
                <key>spriteSourceSize</key>
                <string>{103,118}</string>
                <key>textureRect</key>
                <string>{{1425,1497},{103,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_s_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,67}</string>
                <key>spriteSourceSize</key>
                <string>{715,67}</string>
                <key>textureRect</key>
                <string>{{1119,1110},{715,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g_s_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,167}</string>
                <key>spriteSourceSize</key>
                <string>{124,167}</string>
                <key>textureRect</key>
                <string>{{1050,1827},{124,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_s_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,117}</string>
                <key>spriteSourceSize</key>
                <string>{156,117}</string>
                <key>textureRect</key>
                <string>{{1344,1866},{156,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_s_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,114}</string>
                <key>spriteSourceSize</key>
                <string>{166,114}</string>
                <key>textureRect</key>
                <string>{{1176,1866},{166,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_s_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,48}</string>
                <key>spriteSourceSize</key>
                <string>{208,48}</string>
                <key>textureRect</key>
                <string>{{981,743},{208,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g_s_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,36}</string>
                <key>spriteSourceSize</key>
                <string>{198,36}</string>
                <key>textureRect</key>
                <string>{{1508,1110},{198,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g_s_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,67}</string>
                <key>spriteSourceSize</key>
                <string>{715,67}</string>
                <key>textureRect</key>
                <string>{{1050,1110},{715,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_status.png</string>
            <key>size</key>
            <string>{1552,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3578dbe5fd86b8abfe8b5218cb72d9e5:69a3a0f768fd236f201c49b84fbc22b3:5e45b6789f44d2cf2a883e57cde96d01$</string>
            <key>textureFileName</key>
            <string>game_status.png</string>
        </dict>
    </dict>
</plist>
