<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_b_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,93}</string>
                <key>spriteSourceSize</key>
                <string>{252,93}</string>
                <key>textureRect</key>
                <string>{{1,30},{252,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,93}</string>
                <key>spriteSourceSize</key>
                <string>{252,93}</string>
                <key>textureRect</key>
                <string>{{1,125},{252,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_b_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,93}</string>
                <key>spriteSourceSize</key>
                <string>{252,93}</string>
                <key>textureRect</key>
                <string>{{255,30},{252,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_b_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,93}</string>
                <key>spriteSourceSize</key>
                <string>{252,93}</string>
                <key>textureRect</key>
                <string>{{255,125},{252,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_b_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,93}</string>
                <key>spriteSourceSize</key>
                <string>{252,93}</string>
                <key>textureRect</key>
                <string>{{509,30},{252,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_b_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,93}</string>
                <key>spriteSourceSize</key>
                <string>{252,93}</string>
                <key>textureRect</key>
                <string>{{509,125},{252,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_ui_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,51}</string>
                <key>spriteSourceSize</key>
                <string>{151,51}</string>
                <key>textureRect</key>
                <string>{{763,83},{151,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_ui_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,51}</string>
                <key>spriteSourceSize</key>
                <string>{189,51}</string>
                <key>textureRect</key>
                <string>{{763,30},{189,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_ui_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{763,136},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_ui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{948,15}</string>
                <key>spriteSourceSize</key>
                <string>{948,15}</string>
                <key>textureRect</key>
                <string>{{1,220},{948,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_ui_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,27}</string>
                <key>spriteSourceSize</key>
                <string>{960,27}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_ui_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{829,136},{52,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_ui_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,13}</string>
                <key>spriteSourceSize</key>
                <string>{192,13}</string>
                <key>textureRect</key>
                <string>{{763,202},{192,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_ui_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,58}</string>
                <key>spriteSourceSize</key>
                <string>{186,58}</string>
                <key>textureRect</key>
                <string>{{1016,1},{186,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_ui_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,13}</string>
                <key>spriteSourceSize</key>
                <string>{195,13}</string>
                <key>textureRect</key>
                <string>{{1076,1},{195,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_ui_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,51}</string>
                <key>spriteSourceSize</key>
                <string>{237,57}</string>
                <key>textureRect</key>
                <string>{{963,1},{229,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_ui.png</string>
            <key>size</key>
            <string>{1090,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:532edae71d250bd6449b8879c9be96b2:de93255b202b421f46aaa8264d94a25a:4a6629bec4e9c7c5a5269e20618b7c65$</string>
            <key>textureFileName</key>
            <string>game_ui.png</string>
        </dict>
    </dict>
</plist>
