<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_s_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,123}</string>
                <key>spriteSourceSize</key>
                <string>{375,123}</string>
                <key>textureRect</key>
                <string>{{460,1091},{375,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,68}</string>
                <key>spriteSourceSize</key>
                <string>{279,72}</string>
                <key>textureRect</key>
                <string>{{221,1231},{275,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_s_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,237}</string>
                <key>spriteSourceSize</key>
                <string>{138,237}</string>
                <key>textureRect</key>
                <string>{{221,1091},{138,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>g_s_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{996,1088}</string>
                <key>spriteSourceSize</key>
                <string>{996,1090}</string>
                <key>textureRect</key>
                <string>{{1,1},{996,1088}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_s_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,1091},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>luck_wheel.png</string>
            <key>size</key>
            <string>{998,1310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9577ea72ba581a9cc78d89202afe614:41367d74f06f694f477379643383e430:29c2d1319c65c6f19b468678c95f2055$</string>
            <key>textureFileName</key>
            <string>luck_wheel.png</string>
        </dict>
    </dict>
</plist>
