<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pause_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,4}</string>
                <key>spriteSize</key>
                <string>{193,124}</string>
                <key>spriteSourceSize</key>
                <string>{387,402}</string>
                <key>textureRect</key>
                <string>{{894,1},{193,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,48}</string>
                <key>spriteSourceSize</key>
                <string>{129,48}</string>
                <key>textureRect</key>
                <string>{{1315,55},{129,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,50}</string>
                <key>spriteSourceSize</key>
                <string>{192,54}</string>
                <key>textureRect</key>
                <string>{{657,165},{188,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{891,162}</string>
                <key>spriteSourceSize</key>
                <string>{891,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{891,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,5}</string>
                <key>spriteSize</key>
                <string>{230,70}</string>
                <key>spriteSourceSize</key>
                <string>{268,96}</string>
                <key>textureRect</key>
                <string>{{1,165},{230,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,6}</string>
                <key>spriteSize</key>
                <string>{230,70}</string>
                <key>spriteSourceSize</key>
                <string>{268,96}</string>
                <key>textureRect</key>
                <string>{{233,165},{230,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,111}</string>
                <key>spriteSourceSize</key>
                <string>{121,115}</string>
                <key>textureRect</key>
                <string>{{1036,127},{117,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,111}</string>
                <key>spriteSourceSize</key>
                <string>{121,115}</string>
                <key>textureRect</key>
                <string>{{1089,1},{117,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,111}</string>
                <key>spriteSourceSize</key>
                <string>{121,115}</string>
                <key>textureRect</key>
                <string>{{1149,120},{117,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{1670,70},{52,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{1670,123},{52,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,52}</string>
                <key>textureRect</key>
                <string>{{1315,1},{150,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,45}</string>
                <key>spriteSourceSize</key>
                <string>{129,49}</string>
                <key>textureRect</key>
                <string>{{1375,105},{127,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,111}</string>
                <key>spriteSourceSize</key>
                <string>{121,115}</string>
                <key>textureRect</key>
                <string>{{1202,1},{117,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,111}</string>
                <key>spriteSourceSize</key>
                <string>{121,115}</string>
                <key>textureRect</key>
                <string>{{1262,120},{117,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{187,50}</string>
                <key>spriteSourceSize</key>
                <string>{189,54}</string>
                <key>textureRect</key>
                <string>{{847,165},{187,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1422,105},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,40}</string>
                <key>spriteSourceSize</key>
                <string>{150,40}</string>
                <key>textureRect</key>
                <string>{{1422,204},{150,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,40}</string>
                <key>spriteSourceSize</key>
                <string>{150,40}</string>
                <key>textureRect</key>
                <string>{{1574,204},{150,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{1467,1},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,50}</string>
                <key>spriteSourceSize</key>
                <string>{192,54}</string>
                <key>textureRect</key>
                <string>{{465,165},{190,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,56}</string>
                <key>spriteSourceSize</key>
                <string>{67,58}</string>
                <key>textureRect</key>
                <string>{{1670,1},{67,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pause_ui.png</string>
            <key>size</key>
            <string>{1727,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdf9fe144882e11dc55065d457a46b92:271ae2aeea5fdc52982ecd8af79631e6:3236368831bf9b352de9258bbd0c26de$</string>
            <key>textureFileName</key>
            <string>pause_ui.png</string>
        </dict>
    </dict>
</plist>
