<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_h_fram_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{336,617}</string>
                <key>spriteSourceSize</key>
                <string>{336,657}</string>
                <key>textureRect</key>
                <string>{{1,1},{336,617}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_h_fram_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{336,617}</string>
                <key>spriteSourceSize</key>
                <string>{336,657}</string>
                <key>textureRect</key>
                <string>{{339,1},{336,617}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_h_fram_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{336,617}</string>
                <key>spriteSourceSize</key>
                <string>{336,657}</string>
                <key>textureRect</key>
                <string>{{1,620},{336,617}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_h_fram_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{336,617}</string>
                <key>spriteSourceSize</key>
                <string>{336,657}</string>
                <key>textureRect</key>
                <string>{{677,1},{336,617}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_h_fram_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{336,617}</string>
                <key>spriteSourceSize</key>
                <string>{336,657}</string>
                <key>textureRect</key>
                <string>{{1015,1},{336,617}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_h_fram_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{336,617}</string>
                <key>spriteSourceSize</key>
                <string>{336,657}</string>
                <key>textureRect</key>
                <string>{{620,620},{336,617}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_h_fram_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{336,617}</string>
                <key>spriteSourceSize</key>
                <string>{336,657}</string>
                <key>textureRect</key>
                <string>{{1353,1},{336,617}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_selection_fram.png</string>
            <key>size</key>
            <string>{1690,957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b3cbb30fe629b3cd81862ddc21e0952:be825e99636a509e0d558650d957e7c6:e228c048eb0d778f43748650017486cd$</string>
            <key>textureFileName</key>
            <string>skill_selection_fram.png</string>
        </dict>
    </dict>
</plist>
