<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_dialog_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,213}</string>
                <key>spriteSourceSize</key>
                <string>{364,213}</string>
                <key>textureRect</key>
                <string>{{603,1},{364,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_dialog_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,375}</string>
                <key>spriteSourceSize</key>
                <string>{600,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>story_dialog.png</string>
            <key>size</key>
            <string>{817,377}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37d89c972244d47b69fdaa86a217c0b4:439914e62d114dc52e7dd56024e6a884:e3f1b63054781a231d5bc2884325fdb7$</string>
            <key>textureFileName</key>
            <string>story_dialog.png</string>
        </dict>
    </dict>
</plist>
