<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_b_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,40}</string>
                <key>spriteSourceSize</key>
                <string>{580,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{580,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,40}</string>
                <key>spriteSourceSize</key>
                <string>{580,40}</string>
                <key>textureRect</key>
                <string>{{1,43},{580,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_b_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,40}</string>
                <key>spriteSourceSize</key>
                <string>{580,40}</string>
                <key>textureRect</key>
                <string>{{1,85},{580,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_b_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,151}</string>
                <key>spriteSourceSize</key>
                <string>{154,151}</string>
                <key>textureRect</key>
                <string>{{583,1},{154,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warning_panel.png</string>
            <key>size</key>
            <string>{738,153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fefab54a8c7efbe1bc06cee9e9e7ae7d:bc9d484aa8349902fff22387a4752e97:7762c3dd6ba327b71e68d2d6c8ec7815$</string>
            <key>textureFileName</key>
            <string>warning_panel.png</string>
        </dict>
    </dict>
</plist>
