<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Special_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,240}</string>
                <key>spriteSourceSize</key>
                <string>{323,240}</string>
                <key>textureRect</key>
                <string>{{615,0},{323,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,285}</string>
                <key>spriteSourceSize</key>
                <string>{320,285}</string>
                <key>textureRect</key>
                <string>{{334,799},{320,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,280}</string>
                <key>spriteSourceSize</key>
                <string>{316,280}</string>
                <key>textureRect</key>
                <string>{{0,514},{316,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,303}</string>
                <key>spriteSourceSize</key>
                <string>{275,303}</string>
                <key>textureRect</key>
                <string>{{654,799},{275,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,226}</string>
                <key>spriteSourceSize</key>
                <string>{309,226}</string>
                <key>textureRect</key>
                <string>{{0,0},{309,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,238}</string>
                <key>spriteSourceSize</key>
                <string>{306,238}</string>
                <key>textureRect</key>
                <string>{{309,0},{306,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,257}</string>
                <key>spriteSourceSize</key>
                <string>{323,257}</string>
                <key>textureRect</key>
                <string>{{0,240},{323,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,285}</string>
                <key>spriteSourceSize</key>
                <string>{328,285}</string>
                <key>textureRect</key>
                <string>{{664,514},{328,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,285}</string>
                <key>spriteSourceSize</key>
                <string>{334,285}</string>
                <key>textureRect</key>
                <string>{{0,799},{334,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,261}</string>
                <key>spriteSourceSize</key>
                <string>{337,261}</string>
                <key>textureRect</key>
                <string>{{323,240},{337,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,274}</string>
                <key>spriteSourceSize</key>
                <string>{342,274}</string>
                <key>textureRect</key>
                <string>{{660,240},{342,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,282}</string>
                <key>spriteSourceSize</key>
                <string>{348,282}</string>
                <key>textureRect</key>
                <string>{{316,514},{348,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>watchtower_Special_01.png</string>
            <key>size</key>
            <string>{1002,1102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3ac56455e4acf667188430b9049cdfb:1017ba0a23549d9f2bf088b10daef1ca:7efc7eeab94996e36ea15c4dbc2db7e4$</string>
            <key>textureFileName</key>
            <string>watchtower_Special_01.png</string>
        </dict>
    </dict>
</plist>
