<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Special_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,238}</string>
                <key>spriteSourceSize</key>
                <string>{129,238}</string>
                <key>textureRect</key>
                <string>{{311,174},{129,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,238}</string>
                <key>spriteSourceSize</key>
                <string>{148,238}</string>
                <key>textureRect</key>
                <string>{{0,412},{148,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,308}</string>
                <key>spriteSourceSize</key>
                <string>{256,308}</string>
                <key>textureRect</key>
                <string>{{162,665},{256,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,227}</string>
                <key>spriteSourceSize</key>
                <string>{151,227}</string>
                <key>textureRect</key>
                <string>{{0,174},{151,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,232}</string>
                <key>spriteSourceSize</key>
                <string>{160,232}</string>
                <key>textureRect</key>
                <string>{{151,174},{160,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,255}</string>
                <key>spriteSourceSize</key>
                <string>{162,255}</string>
                <key>textureRect</key>
                <string>{{0,665},{162,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,253}</string>
                <key>spriteSourceSize</key>
                <string>{160,253}</string>
                <key>textureRect</key>
                <string>{{290,412},{160,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,244}</string>
                <key>spriteSourceSize</key>
                <string>{142,244}</string>
                <key>textureRect</key>
                <string>{{148,412},{142,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,132}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{0,0},{134,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,174}</string>
                <key>spriteSourceSize</key>
                <string>{140,174}</string>
                <key>textureRect</key>
                <string>{{274,0},{140,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,171}</string>
                <key>spriteSourceSize</key>
                <string>{140,171}</string>
                <key>textureRect</key>
                <string>{{134,0},{140,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>watchtower_Special_02.png</string>
            <key>size</key>
            <string>{450,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a8901e03db1b3d50285f555c1d283af:69ee513844af36d81dc8bd8884a5e5f1:c6cb89b1dd7eb2a25b60904b10018ff5$</string>
            <key>textureFileName</key>
            <string>watchtower_Special_02.png</string>
        </dict>
    </dict>
</plist>
