<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Special_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,182}</string>
                <key>spriteSourceSize</key>
                <string>{254,182}</string>
                <key>textureRect</key>
                <string>{{0,0},{254,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,236}</string>
                <key>spriteSourceSize</key>
                <string>{268,236}</string>
                <key>textureRect</key>
                <string>{{0,236},{268,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,215}</string>
                <key>spriteSourceSize</key>
                <string>{266,215}</string>
                <key>textureRect</key>
                <string>{{254,0},{266,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,236}</string>
                <key>spriteSourceSize</key>
                <string>{246,236}</string>
                <key>textureRect</key>
                <string>{{520,0},{246,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,274}</string>
                <key>spriteSourceSize</key>
                <string>{256,274}</string>
                <key>textureRect</key>
                <string>{{272,762},{256,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,289}</string>
                <key>spriteSourceSize</key>
                <string>{262,289}</string>
                <key>textureRect</key>
                <string>{{528,762},{262,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,266}</string>
                <key>spriteSourceSize</key>
                <string>{272,266}</string>
                <key>textureRect</key>
                <string>{{0,762},{272,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,264}</string>
                <key>spriteSourceSize</key>
                <string>{276,264}</string>
                <key>textureRect</key>
                <string>{{0,498},{276,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,262}</string>
                <key>spriteSourceSize</key>
                <string>{278,262}</string>
                <key>textureRect</key>
                <string>{{544,236},{278,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,264}</string>
                <key>spriteSourceSize</key>
                <string>{278,264}</string>
                <key>textureRect</key>
                <string>{{276,498},{278,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Special_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,246}</string>
                <key>spriteSourceSize</key>
                <string>{276,246}</string>
                <key>textureRect</key>
                <string>{{268,236},{276,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>watchtower_Special_03.png</string>
            <key>size</key>
            <string>{822,1051}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f75d27e0543717b8152c20a3b5fd7dd9:b42f6dbe6b10824e30d793b12adc3834:f384a55ff5b66be2552c2129f9ebe2ce$</string>
            <key>textureFileName</key>
            <string>watchtower_Special_03.png</string>
        </dict>
    </dict>
</plist>
