<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_s_0_005a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{207,150}</string>
                <key>spriteSourceSize</key>
                <string>{223,218}</string>
                <key>textureRect</key>
                <string>{{1592,1647},{207,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_005b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{163,164}</string>
                <key>spriteSourceSize</key>
                <string>{223,218}</string>
                <key>textureRect</key>
                <string>{{1744,1779},{163,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_005c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{169,160}</string>
                <key>spriteSourceSize</key>
                <string>{223,218}</string>
                <key>textureRect</key>
                <string>{{1744,1617},{169,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_006a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-23}</string>
                <key>spriteSize</key>
                <string>{276,268}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1689,617},{276,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_006b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-30}</string>
                <key>spriteSize</key>
                <string>{302,248}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{247,1435},{302,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_006c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-32}</string>
                <key>spriteSize</key>
                <string>{296,238}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{521,997},{296,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_007a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-11}</string>
                <key>spriteSize</key>
                <string>{286,340}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1387,1},{286,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_007b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-16}</string>
                <key>spriteSize</key>
                <string>{290,304}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1087,621},{290,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_007c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,12}</string>
                <key>spriteSize</key>
                <string>{302,378}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1,343},{302,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_008a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-43}</string>
                <key>spriteSize</key>
                <string>{224,256}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{819,1191},{224,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_008b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-33}</string>
                <key>spriteSize</key>
                <string>{302,266}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{235,1685},{302,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_008c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-32}</string>
                <key>spriteSize</key>
                <string>{380,264}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1,723},{380,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_009a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-44}</string>
                <key>spriteSize</key>
                <string>{332,230}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1729,1},{332,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_009b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-34}</string>
                <key>spriteSize</key>
                <string>{342,242}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{305,343},{342,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_009c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-34}</string>
                <key>spriteSize</key>
                <string>{332,250}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{549,311},{332,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_010a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-47}</string>
                <key>spriteSize</key>
                <string>{330,284}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{801,297},{330,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_010b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-34}</string>
                <key>spriteSize</key>
                <string>{392,244}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1,1105},{392,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_010c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-49}</string>
                <key>spriteSize</key>
                <string>{348,308}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{347,1},{348,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_011a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{280,234}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{551,1411},{280,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_011b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-12}</string>
                <key>spriteSize</key>
                <string>{308,252}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{521,687},{308,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_011c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-26}</string>
                <key>spriteSize</key>
                <string>{278,262}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1111,1683},{278,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_012a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-42}</string>
                <key>spriteSize</key>
                <string>{298,244}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1375,927},{298,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_012b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{274,242}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{787,1417},{274,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_012c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-33}</string>
                <key>spriteSize</key>
                <string>{328,270}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{247,1105},{328,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_013a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{250,284}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1681,887},{250,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_013b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-27}</string>
                <key>spriteSize</key>
                <string>{336,292}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1049,1},{336,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_013c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{344,340}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1,1},{344,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_014a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{270,298}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1075,913},{270,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_014b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-11}</string>
                <key>spriteSize</key>
                <string>{252,306}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1031,1429},{252,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_014c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-11}</string>
                <key>spriteSize</key>
                <string>{254,306}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{819,883},{254,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_015a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-47}</string>
                <key>spriteSize</key>
                <string>{286,248}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1675,1139},{286,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_015b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-39}</string>
                <key>spriteSize</key>
                <string>{244,262}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{847,1693},{244,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_015c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-45}</string>
                <key>spriteSize</key>
                <string>{330,252}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{267,723},{330,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_016a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-42}</string>
                <key>spriteSize</key>
                <string>{260,242}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1359,1403},{260,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_016b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-32}</string>
                <key>spriteSize</key>
                <string>{282,252}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{801,629},{282,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_016c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-44}</string>
                <key>spriteSize</key>
                <string>{384,232}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1,1499},{384,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_017a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-20}</string>
                <key>spriteSize</key>
                <string>{276,280}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1689,335},{276,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_017b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-15}</string>
                <key>spriteSize</key>
                <string>{228,298}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1375,1173},{228,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_017c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-9}</string>
                <key>spriteSize</key>
                <string>{286,306}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1393,619},{286,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_018a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-46}</string>
                <key>spriteSize</key>
                <string>{306,256}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{539,1693},{306,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_018b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-32}</string>
                <key>spriteSize</key>
                <string>{226,282}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1675,1389},{226,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_018c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-38}</string>
                <key>spriteSize</key>
                <string>{242,280}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1077,1185},{242,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_019a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-35}</string>
                <key>spriteSize</key>
                <string>{350,294}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{697,1},{350,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_019b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-26}</string>
                <key>spriteSize</key>
                <string>{304,324}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1087,295},{304,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_019c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{294,328}</string>
                <key>spriteSourceSize</key>
                <string>{414,406}</string>
                <key>textureRect</key>
                <string>{{1393,289},{294,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_020a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-10}</string>
                <key>spriteSize</key>
                <string>{199,162}</string>
                <key>spriteSourceSize</key>
                <string>{223,218}</string>
                <key>textureRect</key>
                <string>{{1391,1647},{199,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_020b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-9}</string>
                <key>spriteSize</key>
                <string>{137,176}</string>
                <key>spriteSourceSize</key>
                <string>{223,218}</string>
                <key>textureRect</key>
                <string>{{1391,1811},{137,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_020c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{219,172}</string>
                <key>spriteSourceSize</key>
                <string>{223,218}</string>
                <key>textureRect</key>
                <string>{{519,1237},{219,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>erjieduan_m_s_0.png</string>
            <key>size</key>
            <string>{1966,1952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5addae32afc701bed17d88ee37cff849:4853e907b7e9a6c571ee19be37412695:82604476668926e67d30918dff0d128a$</string>
            <key>textureFileName</key>
            <string>erjieduan_m_s_0.png</string>
        </dict>
    </dict>
</plist>
