<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{679,255},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,129}</string>
                <key>spriteSourceSize</key>
                <string>{128,129}</string>
                <key>textureRect</key>
                <string>{{495,131},{128,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{863,249},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{106,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{863,359},{106,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{481,349},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{737,379},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{937,157},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailing_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{799,431},{50,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailing_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{799,379},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailing_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1,221},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailing_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{42,216}</string>
                <key>spriteSourceSize</key>
                <string>{116,232}</string>
                <key>textureRect</key>
                <string>{{451,131},{42,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailing_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{611,334},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailing_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,218}</string>
                <key>spriteSourceSize</key>
                <string>{232,218}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailing_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{70,182}</string>
                <key>spriteSourceSize</key>
                <string>{116,232}</string>
                <key>textureRect</key>
                <string>{{495,262},{70,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tailing_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{96,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{625,131},{96,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailing_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{94,218}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{261,383},{94,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tailing_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{58,226}</string>
                <key>spriteSourceSize</key>
                <string>{58,232}</string>
                <key>textureRect</key>
                <string>{{391,131},{58,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailing_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,212}</string>
                <key>spriteSourceSize</key>
                <string>{58,232}</string>
                <key>textureRect</key>
                <string>{{723,157},{44,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tailing_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,212}</string>
                <key>spriteSourceSize</key>
                <string>{58,232}</string>
                <key>textureRect</key>
                <string>{{723,203},{44,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tailing_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{737,249},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailing_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{131,221},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailing_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{739,1},{102,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tailing_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{50,256}</string>
                <key>spriteSourceSize</key>
                <string>{64,256}</string>
                <key>textureRect</key>
                <string>{{739,105},{50,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tailing_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{223,1},{128,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tailing_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,250}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{261,131},{128,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tailing_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{481,1},{128,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tailing_texture.png</string>
            <key>size</key>
            <string>{996,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e91b91fee9e0dba715768f05b28904f:91c52e43576a127d958c111edc16a9f1:f845c4e1880c0e8e8bba8caff55ed85c$</string>
            <key>textureFileName</key>
            <string>tailing_texture.png</string>
        </dict>
    </dict>
</plist>
