<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1003},{1000,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1003,1},{1000,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sahua-1.png</string>
            <key>size</key>
            <string>{2004,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62bfd276c70efd43395d5f8b1bcf1337:ee3c36d03f9d5af575798ab510bf9d69:ac142331d9eeec0d180d19aadc229b07$</string>
            <key>textureFileName</key>
            <string>sahua-1.png</string>
        </dict>
    </dict>
</plist>
