<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bom_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,84}</string>
                <key>spriteSourceSize</key>
                <string>{87,84}</string>
                <key>textureRect</key>
                <string>{{1014,148},{87,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bom_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,219}</string>
                <key>spriteSourceSize</key>
                <string>{219,219}</string>
                <key>textureRect</key>
                <string>{{635,1},{219,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bom_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,241}</string>
                <key>spriteSourceSize</key>
                <string>{280,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bom_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,237}</string>
                <key>spriteSourceSize</key>
                <string>{249,237}</string>
                <key>textureRect</key>
                <string>{{283,1},{249,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bom_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{1014,1},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,139}</string>
                <key>spriteSourceSize</key>
                <string>{124,139}</string>
                <key>textureRect</key>
                <string>{{1131,1},{124,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,210}</string>
                <key>spriteSourceSize</key>
                <string>{79,210}</string>
                <key>textureRect</key>
                <string>{{856,1},{79,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,197}</string>
                <key>spriteSourceSize</key>
                <string>{75,197}</string>
                <key>textureRect</key>
                <string>{{937,1},{75,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,237}</string>
                <key>spriteSourceSize</key>
                <string>{99,237}</string>
                <key>textureRect</key>
                <string>{{534,1},{99,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boom.png</string>
            <key>size</key>
            <string>{1256,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baed05a6e506caf55965ccd1f60cf8ff:c517eafc2fdeed7cd928ea9264af9253:c7959a2c2b0200a771aebd49497ea089$</string>
            <key>textureFileName</key>
            <string>boom.png</string>
        </dict>
    </dict>
</plist>
