<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SoulBeast_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{0,0},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{1911,624},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{2548,624},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{3185,624},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{0,1248},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{637,1248},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{1274,1248},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{1911,1248},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{637,0},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{1274,0},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{1911,0},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{2548,0},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{3185,0},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{0,624},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{637,624},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoulBeast_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,624}</string>
                <key>spriteSourceSize</key>
                <string>{637,624}</string>
                <key>textureRect</key>
                <string>{{1274,624},{637,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Soul_Beast.png</string>
            <key>size</key>
            <string>{3822,1872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22e0d43f5dab2a95375bec0bc801c9ae:68ad63384f3836052877ff1566d448e9:73d794921da896a6520a6667fa386581$</string>
            <key>textureFileName</key>
            <string>Soul_Beast.png</string>
        </dict>
    </dict>
</plist>
