<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_0_0_0_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{112,77}</string>
                <key>textureRect</key>
                <string>{{1212,860},{112,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_0_0_0_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,135}</string>
                <key>spriteSourceSize</key>
                <string>{204,135}</string>
                <key>textureRect</key>
                <string>{{1187,1},{204,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_0_0_0_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,172}</string>
                <key>spriteSourceSize</key>
                <string>{247,172}</string>
                <key>textureRect</key>
                <string>{{739,352},{247,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_0_0_0_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,224}</string>
                <key>spriteSourceSize</key>
                <string>{282,224}</string>
                <key>textureRect</key>
                <string>{{1,742},{282,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_0_0_0_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,324}</string>
                <key>spriteSourceSize</key>
                <string>{312,324}</string>
                <key>textureRect</key>
                <string>{{873,1},{312,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_0_0_0_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,349}</string>
                <key>spriteSourceSize</key>
                <string>{298,349}</string>
                <key>textureRect</key>
                <string>{{573,1},{298,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_0_0_0_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,374}</string>
                <key>spriteSourceSize</key>
                <string>{289,374}</string>
                <key>textureRect</key>
                <string>{{282,1},{289,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_0_0_0_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,396}</string>
                <key>spriteSourceSize</key>
                <string>{279,396}</string>
                <key>textureRect</key>
                <string>{{1,1},{279,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_0_0_0_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,201}</string>
                <key>spriteSourceSize</key>
                <string>{243,201}</string>
                <key>textureRect</key>
                <string>{{913,327},{243,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_0_0_0_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,201}</string>
                <key>spriteSourceSize</key>
                <string>{243,201}</string>
                <key>textureRect</key>
                <string>{{766,601},{243,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_0_0_0_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,200}</string>
                <key>spriteSourceSize</key>
                <string>{243,200}</string>
                <key>textureRect</key>
                <string>{{969,530},{243,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_0_0_0_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,199}</string>
                <key>spriteSourceSize</key>
                <string>{241,199}</string>
                <key>textureRect</key>
                <string>{{969,775},{241,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_0_0_0_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,62}</string>
                <key>spriteSourceSize</key>
                <string>{75,62}</string>
                <key>textureRect</key>
                <string>{{1261,305},{75,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_0_0_0_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{112,77}</string>
                <key>textureRect</key>
                <string>{{1212,860},{112,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_0_0_0_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,101}</string>
                <key>spriteSourceSize</key>
                <string>{156,101}</string>
                <key>textureRect</key>
                <string>{{1158,327},{156,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_0_0_0_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,111}</string>
                <key>spriteSourceSize</key>
                <string>{198,111}</string>
                <key>textureRect</key>
                <string>{{766,846},{198,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_0_0_0_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,161}</string>
                <key>spriteSourceSize</key>
                <string>{231,161}</string>
                <key>textureRect</key>
                <string>{{1171,485},{231,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_0_0_0_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,213}</string>
                <key>spriteSourceSize</key>
                <string>{252,213}</string>
                <key>textureRect</key>
                <string>{{285,719},{252,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_0_0_0_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,265}</string>
                <key>spriteSourceSize</key>
                <string>{264,265}</string>
                <key>textureRect</key>
                <string>{{500,672},{264,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_0_0_0_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,293}</string>
                <key>spriteSourceSize</key>
                <string>{264,293}</string>
                <key>textureRect</key>
                <string>{{473,377},{264,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_0_0_0_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,318}</string>
                <key>spriteSourceSize</key>
                <string>{234,318}</string>
                <key>textureRect</key>
                <string>{{237,399},{234,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_0_0_0_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,341}</string>
                <key>spriteSourceSize</key>
                <string>{234,341}</string>
                <key>textureRect</key>
                <string>{{1,399},{234,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_0_0_0_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,141}</string>
                <key>spriteSourceSize</key>
                <string>{96,141}</string>
                <key>textureRect</key>
                <string>{{1187,207},{96,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_0_0_0_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{96,140}</string>
                <key>textureRect</key>
                <string>{{1212,718},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{1333,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06419f092a515b6685e702a7906da368:5b825a3aef374166d03298b958ad490a:5e16e2626a28a3457b36ca8093546a30$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
