<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dancer01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-191,-3}</string>
                <key>spriteSize</key>
                <string>{439,1129}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{1,1},{439,1129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-122,0}</string>
                <key>spriteSize</key>
                <string>{377,1125}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{969,1128},{377,1125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,0}</string>
                <key>spriteSize</key>
                <string>{435,1123}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{1795,1},{435,1123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-117,2}</string>
                <key>spriteSize</key>
                <string>{427,1119}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{2232,1},{427,1119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-147,0}</string>
                <key>spriteSize</key>
                <string>{437,1123}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{1348,1126},{437,1123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,0}</string>
                <key>spriteSize</key>
                <string>{495,1123}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{1,2259},{495,1123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-158,-1}</string>
                <key>spriteSize</key>
                <string>{429,1125}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{915,1},{429,1125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-115,0}</string>
                <key>spriteSize</key>
                <string>{471,1125}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{442,1},{471,1125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,2}</string>
                <key>spriteSize</key>
                <string>{473,1121}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{2226,1126},{473,1121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,4}</string>
                <key>spriteSize</key>
                <string>{369,1117}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{1126,2750},{369,1117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{114,9}</string>
                <key>spriteSize</key>
                <string>{369,1107}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{2701,1122},{369,1107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{192,13}</string>
                <key>spriteSize</key>
                <string>{425,1099}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{2245,2694},{425,1099}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{227,13}</string>
                <key>spriteSize</key>
                <string>{493,1099}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{1126,2255},{493,1099}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{189,13}</string>
                <key>spriteSize</key>
                <string>{443,1099}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{2227,2249},{443,1099}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{163,13}</string>
                <key>spriteSize</key>
                <string>{409,1099}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{3072,1122},{409,1099}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,13}</string>
                <key>spriteSize</key>
                <string>{377,1099}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{3086,1},{377,1099}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,13}</string>
                <key>spriteSize</key>
                <string>{347,1099}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{1,2756},{347,1099}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-164,2}</string>
                <key>spriteSize</key>
                <string>{423,1119}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{2661,1},{423,1119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-228,0}</string>
                <key>spriteSize</key>
                <string>{513,1125}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{1,1132},{513,1125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-193,0}</string>
                <key>spriteSize</key>
                <string>{451,1125}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{516,1128},{451,1125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer_stand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-192,0}</string>
                <key>spriteSize</key>
                <string>{447,1123}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{1346,1},{447,1123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer_stand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-190,0}</string>
                <key>spriteSize</key>
                <string>{437,1123}</string>
                <key>spriteSourceSize</key>
                <string>{1001,1171}</string>
                <key>textureRect</key>
                <string>{{1787,1126},{437,1123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dancer.png</string>
            <key>size</key>
            <string>{3482,3120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a722c7c8a1cd138d9bd3cb8969228d4:a9206e22bb3f0c449bec697c19c7c84c:c83efc84473b3c268be78f7ea95c0f39$</string>
            <key>textureFileName</key>
            <string>dancer.png</string>
        </dict>
    </dict>
</plist>
