<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>active_menus_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,142}</string>
                <key>spriteSourceSize</key>
                <string>{136,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>active_menus_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,115}</string>
                <key>spriteSourceSize</key>
                <string>{121,115}</string>
                <key>textureRect</key>
                <string>{{125,443},{121,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_menus_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,100}</string>
                <key>spriteSourceSize</key>
                <string>{112,100}</string>
                <key>textureRect</key>
                <string>{{142,225},{112,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_menus_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{109,653},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_menus_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,102}</string>
                <key>spriteSourceSize</key>
                <string>{133,102}</string>
                <key>textureRect</key>
                <string>{{1,272},{133,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_menus_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,117}</string>
                <key>spriteSourceSize</key>
                <string>{114,117}</string>
                <key>textureRect</key>
                <string>{{136,327},{114,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>active_menus_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,131}</string>
                <key>spriteSourceSize</key>
                <string>{139,131}</string>
                <key>textureRect</key>
                <string>{{1,139},{139,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_menus_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,120}</string>
                <key>spriteSourceSize</key>
                <string>{114,120}</string>
                <key>textureRect</key>
                <string>{{1,483},{114,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>active_menus_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,108}</string>
                <key>spriteSourceSize</key>
                <string>{126,108}</string>
                <key>textureRect</key>
                <string>{{145,1},{126,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>active_menus_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,104}</string>
                <key>spriteSourceSize</key>
                <string>{106,104}</string>
                <key>textureRect</key>
                <string>{{1,599},{106,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_menus_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,122}</string>
                <key>spriteSourceSize</key>
                <string>{105,122}</string>
                <key>textureRect</key>
                <string>{{1,376},{105,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>active_menus_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,91}</string>
                <key>spriteSourceSize</key>
                <string>{111,91}</string>
                <key>textureRect</key>
                <string>{{123,560},{111,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_menus_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,108}</string>
                <key>spriteSourceSize</key>
                <string>{94,108}</string>
                <key>textureRect</key>
                <string>{{145,129},{94,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>active_menus.png</string>
            <key>size</key>
            <string>{255,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:236245ad7d6ddb63507e17bc1da9b5b0:9aded78b66b91019e4f827f2ff4e1ee2:2133597739608b1291cc96262fe9a588$</string>
            <key>textureFileName</key>
            <string>active_menus.png</string>
        </dict>
    </dict>
</plist>
