<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>All-ServerGuild_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,141}</string>
                <key>spriteSourceSize</key>
                <string>{150,141}</string>
                <key>textureRect</key>
                <string>{{416,259},{150,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{880,81}</string>
                <key>spriteSourceSize</key>
                <string>{880,81}</string>
                <key>textureRect</key>
                <string>{{720,58},{880,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1101,250}</string>
                <key>spriteSourceSize</key>
                <string>{1101,250}</string>
                <key>textureRect</key>
                <string>{{0,428},{1101,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,96}</string>
                <key>spriteSourceSize</key>
                <string>{213,96}</string>
                <key>textureRect</key>
                <string>{{0,145},{213,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,130}</string>
                <key>spriteSourceSize</key>
                <string>{313,130}</string>
                <key>textureRect</key>
                <string>{{103,259},{313,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,96}</string>
                <key>spriteSourceSize</key>
                <string>{213,96}</string>
                <key>textureRect</key>
                <string>{{213,145},{213,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,114}</string>
                <key>spriteSourceSize</key>
                <string>{312,114}</string>
                <key>textureRect</key>
                <string>{{1468,145},{312,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,43}</string>
                <key>spriteSourceSize</key>
                <string>{81,43}</string>
                <key>textureRect</key>
                <string>{{168,0},{81,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1042,100}</string>
                <key>spriteSourceSize</key>
                <string>{1042,100}</string>
                <key>textureRect</key>
                <string>{{426,145},{1042,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,57}</string>
                <key>spriteSourceSize</key>
                <string>{108,57}</string>
                <key>textureRect</key>
                <string>{{1559,0},{108,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{566,259},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,57}</string>
                <key>spriteSourceSize</key>
                <string>{111,57}</string>
                <key>textureRect</key>
                <string>{{1229,0},{111,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,115}</string>
                <key>spriteSourceSize</key>
                <string>{103,115}</string>
                <key>textureRect</key>
                <string>{{0,259},{103,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,55}</string>
                <key>spriteSourceSize</key>
                <string>{66,55}</string>
                <key>textureRect</key>
                <string>{{1163,0},{66,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{81,87}</string>
                <key>textureRect</key>
                <string>{{1600,58},{81,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,54}</string>
                <key>spriteSourceSize</key>
                <string>{103,54}</string>
                <key>textureRect</key>
                <string>{{1060,0},{103,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,58}</string>
                <key>spriteSourceSize</key>
                <string>{165,58}</string>
                <key>textureRect</key>
                <string>{{1667,0},{165,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,45}</string>
                <key>spriteSourceSize</key>
                <string>{708,45}</string>
                <key>textureRect</key>
                <string>{{249,0},{708,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,60}</string>
                <key>spriteSourceSize</key>
                <string>{720,60}</string>
                <key>textureRect</key>
                <string>{{0,58},{720,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,39}</string>
                <key>spriteSourceSize</key>
                <string>{168,39}</string>
                <key>textureRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,57}</string>
                <key>spriteSourceSize</key>
                <string>{219,57}</string>
                <key>textureRect</key>
                <string>{{1340,0},{219,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,52}</string>
                <key>spriteSourceSize</key>
                <string>{103,52}</string>
                <key>textureRect</key>
                <string>{{957,0},{103,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1051,169}</string>
                <key>spriteSourceSize</key>
                <string>{1051,169}</string>
                <key>textureRect</key>
                <string>{{717,259},{1051,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>All-ServerGuild_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1101,1287}</string>
                <key>spriteSourceSize</key>
                <string>{1101,1287}</string>
                <key>textureRect</key>
                <string>{{0,678},{1101,1287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>All-ServerGuild.png</string>
            <key>size</key>
            <string>{1832,1965}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1911a7958bb2760875dd90065751fff:b391cebd45d04b9a6ae0cae585932aec:b0b90e9a4d68e255b9909b793f20f056$</string>
            <key>textureFileName</key>
            <string>All-ServerGuild.png</string>
        </dict>
    </dict>
</plist>
