<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>army_pool_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1074,738}</string>
                <key>spriteSourceSize</key>
                <string>{1074,738}</string>
                <key>textureRect</key>
                <string>{{1,1},{1074,738}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>army_pool_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,39}</string>
                <key>spriteSourceSize</key>
                <string>{24,39}</string>
                <key>textureRect</key>
                <string>{{1409,1},{24,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>army_pool_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,108}</string>
                <key>spriteSourceSize</key>
                <string>{330,108}</string>
                <key>textureRect</key>
                <string>{{1077,1},{330,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>army_pool_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1197,193}</string>
                <key>spriteSourceSize</key>
                <string>{1197,193}</string>
                <key>textureRect</key>
                <string>{{1,741},{1197,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuButtons_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,137}</string>
                <key>spriteSourceSize</key>
                <string>{129,137}</string>
                <key>textureRect</key>
                <string>{{1319,538},{129,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menuButtons_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,137}</string>
                <key>spriteSourceSize</key>
                <string>{129,137}</string>
                <key>textureRect</key>
                <string>{{1318,669},{129,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menuButtons_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,129}</string>
                <key>spriteSourceSize</key>
                <string>{111,129}</string>
                <key>textureRect</key>
                <string>{{1077,387},{111,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuButtons_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,129}</string>
                <key>spriteSourceSize</key>
                <string>{111,129}</string>
                <key>textureRect</key>
                <string>{{1190,399},{111,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menuButtons_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,135}</string>
                <key>spriteSourceSize</key>
                <string>{102,135}</string>
                <key>textureRect</key>
                <string>{{1214,650},{102,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuButtons_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,136}</string>
                <key>spriteSourceSize</key>
                <string>{103,136}</string>
                <key>textureRect</key>
                <string>{{1214,512},{103,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuButtons_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,136}</string>
                <key>spriteSourceSize</key>
                <string>{118,136}</string>
                <key>textureRect</key>
                <string>{{1077,111},{118,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuButtons_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,136}</string>
                <key>spriteSourceSize</key>
                <string>{118,136}</string>
                <key>textureRect</key>
                <string>{{1077,249},{118,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuButtons_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,137}</string>
                <key>spriteSourceSize</key>
                <string>{135,137}</string>
                <key>textureRect</key>
                <string>{{1077,518},{135,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuButtons_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,137}</string>
                <key>spriteSourceSize</key>
                <string>{135,137}</string>
                <key>textureRect</key>
                <string>{{1321,399},{135,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuButtons_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,142}</string>
                <key>spriteSourceSize</key>
                <string>{162,144}</string>
                <key>textureRect</key>
                <string>{{1200,111},{160,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuButtons_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,142}</string>
                <key>spriteSourceSize</key>
                <string>{159,142}</string>
                <key>textureRect</key>
                <string>{{1200,255},{159,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuButtons_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,129}</string>
                <key>spriteSourceSize</key>
                <string>{127,129}</string>
                <key>textureRect</key>
                <string>{{1200,800},{127,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuButtons_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,129}</string>
                <key>spriteSourceSize</key>
                <string>{127,129}</string>
                <key>textureRect</key>
                <string>{{1329,800},{127,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>army_img.png</string>
            <key>size</key>
            <string>{1457,935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65ddc79c8d68c8bcc74964534a9c5db7:0825b7a13c6ffc71828e464dedca918d:444e6305438cef18535c622aa5909ff0$</string>
            <key>textureFileName</key>
            <string>army_img.png</string>
        </dict>
    </dict>
</plist>
