<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>army_fonts_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,115}</string>
                <key>spriteSourceSize</key>
                <string>{412,117}</string>
                <key>textureRect</key>
                <string>{{1,65},{412,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>army_fonts_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,42}</string>
                <key>spriteSourceSize</key>
                <string>{81,42}</string>
                <key>textureRect</key>
                <string>{{1,551},{81,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>army_fonts_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,42}</string>
                <key>spriteSourceSize</key>
                <string>{81,42}</string>
                <key>textureRect</key>
                <string>{{84,634},{79,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>army_fonts_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,40}</string>
                <key>spriteSourceSize</key>
                <string>{81,42}</string>
                <key>textureRect</key>
                <string>{{1,681},{79,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>army_fonts_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,42}</string>
                <key>spriteSourceSize</key>
                <string>{81,42}</string>
                <key>textureRect</key>
                <string>{{84,551},{81,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>army_fonts_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,33}</string>
                <key>spriteSourceSize</key>
                <string>{69,33}</string>
                <key>textureRect</key>
                <string>{{1,794},{69,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>army_fonts_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,42}</string>
                <key>spriteSourceSize</key>
                <string>{81,42}</string>
                <key>textureRect</key>
                <string>{{1,595},{81,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>army_fonts_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,33}</string>
                <key>spriteSourceSize</key>
                <string>{69,33}</string>
                <key>textureRect</key>
                <string>{{1,829},{69,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>army_fonts_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,40}</string>
                <key>spriteSourceSize</key>
                <string>{81,42}</string>
                <key>textureRect</key>
                <string>{{1,639},{79,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>army_fonts_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,62}</string>
                <key>spriteSourceSize</key>
                <string>{129,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{125,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>army_fonts_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,33}</string>
                <key>spriteSourceSize</key>
                <string>{70,33}</string>
                <key>textureRect</key>
                <string>{{1,759},{70,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>army_fonts_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,36}</string>
                <key>spriteSourceSize</key>
                <string>{72,36}</string>
                <key>textureRect</key>
                <string>{{82,715},{72,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>army_fonts_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,34}</string>
                <key>spriteSourceSize</key>
                <string>{105,34}</string>
                <key>textureRect</key>
                <string>{{1,515},{105,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>army_fonts_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,33}</string>
                <key>spriteSourceSize</key>
                <string>{69,33}</string>
                <key>textureRect</key>
                <string>{{73,789},{69,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>army_fonts_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,34}</string>
                <key>textureRect</key>
                <string>{{1,723},{72,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>army_fonts_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,34}</string>
                <key>spriteSourceSize</key>
                <string>{106,34}</string>
                <key>textureRect</key>
                <string>{{1,479},{106,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>army_fonts.png</string>
            <key>size</key>
            <string>{127,863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9312dbf4a65655bb88687b77fbc75ada:3a40cfe9865cdfb902d372122a0f3c12:9ebd21bee2916a891086df611d3c2de2$</string>
            <key>textureFileName</key>
            <string>army_fonts.png</string>
        </dict>
    </dict>
</plist>
