<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chat_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,153}</string>
                <key>spriteSourceSize</key>
                <string>{151,153}</string>
                <key>textureRect</key>
                <string>{{211,186},{151,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,56}</string>
                <key>spriteSourceSize</key>
                <string>{102,56}</string>
                <key>textureRect</key>
                <string>{{364,0},{102,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,54}</string>
                <key>spriteSourceSize</key>
                <string>{105,54}</string>
                <key>textureRect</key>
                <string>{{259,0},{105,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,54}</string>
                <key>spriteSourceSize</key>
                <string>{102,54}</string>
                <key>textureRect</key>
                <string>{{157,0},{102,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,52}</string>
                <key>spriteSourceSize</key>
                <string>{103,52}</string>
                <key>textureRect</key>
                <string>{{54,0},{103,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{0,56},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{868,75}</string>
                <key>spriteSourceSize</key>
                <string>{868,75}</string>
                <key>textureRect</key>
                <string>{{0,453},{868,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{868,133}</string>
                <key>spriteSourceSize</key>
                <string>{868,133}</string>
                <key>textureRect</key>
                <string>{{0,618},{868,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{186,56},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{459,75}</string>
                <key>spriteSourceSize</key>
                <string>{459,75}</string>
                <key>textureRect</key>
                <string>{{516,339},{459,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{801,90}</string>
                <key>spriteSourceSize</key>
                <string>{801,90}</string>
                <key>textureRect</key>
                <string>{{0,528},{801,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{372,56},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,100}</string>
                <key>spriteSourceSize</key>
                <string>{211,100}</string>
                <key>textureRect</key>
                <string>{{0,186},{211,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,114}</string>
                <key>spriteSourceSize</key>
                <string>{258,114}</string>
                <key>textureRect</key>
                <string>{{362,186},{258,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,114}</string>
                <key>spriteSourceSize</key>
                <string>{258,114}</string>
                <key>textureRect</key>
                <string>{{620,186},{258,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,114}</string>
                <key>spriteSourceSize</key>
                <string>{258,114}</string>
                <key>textureRect</key>
                <string>{{0,339},{258,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,114}</string>
                <key>spriteSourceSize</key>
                <string>{258,114}</string>
                <key>textureRect</key>
                <string>{{258,339},{258,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,36}</string>
                <key>spriteSourceSize</key>
                <string>{240,36}</string>
                <key>textureRect</key>
                <string>{{610,0},{240,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,42}</string>
                <key>spriteSourceSize</key>
                <string>{144,42}</string>
                <key>textureRect</key>
                <string>{{466,0},{144,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chat_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,70}</string>
                <key>spriteSourceSize</key>
                <string>{294,70}</string>
                <key>textureRect</key>
                <string>{{502,56},{294,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Chat.png</string>
            <key>size</key>
            <string>{975,751}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcc44d57d467567e0da245dee1a1cf83:0d39dd6867508029ea27f3c62dba743d:054c709634d5cb2d67cc30fe69d4e814$</string>
            <key>textureFileName</key>
            <string>Chat.png</string>
        </dict>
    </dict>
</plist>
