<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CreateGuild_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,57}</string>
                <key>spriteSourceSize</key>
                <string>{219,57}</string>
                <key>textureRect</key>
                <string>{{0,48},{219,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,114}</string>
                <key>spriteSourceSize</key>
                <string>{313,114}</string>
                <key>textureRect</key>
                <string>{{132,199},{313,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,132}</string>
                <key>spriteSourceSize</key>
                <string>{133,132}</string>
                <key>textureRect</key>
                <string>{{445,199},{133,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{578,199},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{710,199},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,58}</string>
                <key>spriteSourceSize</key>
                <string>{67,58}</string>
                <key>textureRect</key>
                <string>{{276,48},{67,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,156}</string>
                <key>spriteSourceSize</key>
                <string>{141,156}</string>
                <key>textureRect</key>
                <string>{{278,332},{141,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,154}</string>
                <key>spriteSourceSize</key>
                <string>{139,154}</string>
                <key>textureRect</key>
                <string>{{139,332},{139,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,153}</string>
                <key>spriteSourceSize</key>
                <string>{139,153}</string>
                <key>textureRect</key>
                <string>{{0,332},{139,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,204}</string>
                <key>spriteSourceSize</key>
                <string>{285,204}</string>
                <key>textureRect</key>
                <string>{{680,332},{285,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,93}</string>
                <key>spriteSourceSize</key>
                <string>{132,93}</string>
                <key>textureRect</key>
                <string>{{0,199},{132,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,39}</string>
                <key>spriteSourceSize</key>
                <string>{168,39}</string>
                <key>textureRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,70}</string>
                <key>spriteSourceSize</key>
                <string>{313,70}</string>
                <key>textureRect</key>
                <string>{{343,48},{313,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,48}</string>
                <key>spriteSourceSize</key>
                <string>{177,48}</string>
                <key>textureRect</key>
                <string>{{168,0},{177,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,48}</string>
                <key>spriteSourceSize</key>
                <string>{177,48}</string>
                <key>textureRect</key>
                <string>{{345,0},{177,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,48}</string>
                <key>spriteSourceSize</key>
                <string>{177,48}</string>
                <key>textureRect</key>
                <string>{{522,0},{177,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,48}</string>
                <key>spriteSourceSize</key>
                <string>{177,48}</string>
                <key>textureRect</key>
                <string>{{699,0},{177,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{951,81}</string>
                <key>spriteSourceSize</key>
                <string>{951,81}</string>
                <key>textureRect</key>
                <string>{{0,118},{951,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,180}</string>
                <key>spriteSourceSize</key>
                <string>{261,180}</string>
                <key>textureRect</key>
                <string>{{419,332},{261,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateGuild_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{219,48},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CreateGuild.png</string>
            <key>size</key>
            <string>{965,536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:212ee7d8d879d861bb81cb88d274778b:9df9c06e6424cc0cc205e6e4d116a866:dfec96c38ec32fe9887552fc1fd1abff$</string>
            <key>textureFileName</key>
            <string>CreateGuild.png</string>
        </dict>
    </dict>
</plist>
