<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daily_task_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{922,265}</string>
                <key>spriteSourceSize</key>
                <string>{924,267}</string>
                <key>textureRect</key>
                <string>{{1,1},{922,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_task_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{895,144}</string>
                <key>spriteSourceSize</key>
                <string>{895,144}</string>
                <key>textureRect</key>
                <string>{{1,730},{895,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_task_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,69}</string>
                <key>textureRect</key>
                <string>{{925,1},{251,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daily_task_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,141}</string>
                <key>spriteSourceSize</key>
                <string>{447,145}</string>
                <key>textureRect</key>
                <string>{{1,876},{443,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_task_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,63}</string>
                <key>spriteSourceSize</key>
                <string>{261,67}</string>
                <key>textureRect</key>
                <string>{{925,254},{257,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daily_task_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,141}</string>
                <key>spriteSourceSize</key>
                <string>{447,145}</string>
                <key>textureRect</key>
                <string>{{446,876},{443,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_task_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{915,256}</string>
                <key>spriteSourceSize</key>
                <string>{915,256}</string>
                <key>textureRect</key>
                <string>{{1,472},{915,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_task_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,31}</string>
                <key>spriteSourceSize</key>
                <string>{223,31}</string>
                <key>textureRect</key>
                <string>{{946,825},{223,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daily_task_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,38}</string>
                <key>spriteSourceSize</key>
                <string>{483,42}</string>
                <key>textureRect</key>
                <string>{{1,1082},{479,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_task_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,54}</string>
                <key>spriteSourceSize</key>
                <string>{348,54}</string>
                <key>textureRect</key>
                <string>{{484,1075},{348,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_task_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,61}</string>
                <key>spriteSourceSize</key>
                <string>{483,63}</string>
                <key>textureRect</key>
                <string>{{1,1019},{481,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_task_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{922,202}</string>
                <key>spriteSourceSize</key>
                <string>{924,204}</string>
                <key>textureRect</key>
                <string>{{1,268},{922,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_task_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,54}</string>
                <key>spriteSourceSize</key>
                <string>{408,54}</string>
                <key>textureRect</key>
                <string>{{484,1019},{406,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_task_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,76}</string>
                <key>spriteSourceSize</key>
                <string>{310,78}</string>
                <key>textureRect</key>
                <string>{{918,513},{310,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daily_task_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,46}</string>
                <key>spriteSourceSize</key>
                <string>{283,48}</string>
                <key>textureRect</key>
                <string>{{898,825},{283,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>daily_task.png</string>
            <key>size</key>
            <string>{995,1130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:444a63a10c993120cf87e8f6ec7228b0:05565b14eff5f1acb408c683f6ec8900:a20b4bdce74de56c1b8da02749a088a4$</string>
            <key>textureFileName</key>
            <string>daily_task.png</string>
        </dict>
    </dict>
</plist>
