<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dnf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,232}</string>
                <key>spriteSourceSize</key>
                <string>{243,232}</string>
                <key>textureRect</key>
                <string>{{0,361},{243,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,300}</string>
                <key>spriteSourceSize</key>
                <string>{734,300}</string>
                <key>textureRect</key>
                <string>{{737,361},{734,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,300}</string>
                <key>spriteSourceSize</key>
                <string>{734,300}</string>
                <key>textureRect</key>
                <string>{{0,661},{734,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,61}</string>
                <key>spriteSourceSize</key>
                <string>{174,61}</string>
                <key>textureRect</key>
                <string>{{582,46},{174,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,28}</string>
                <key>spriteSourceSize</key>
                <string>{86,28}</string>
                <key>textureRect</key>
                <string>{{434,0},{86,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,94}</string>
                <key>textureRect</key>
                <string>{{0,131},{100,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,41}</string>
                <key>spriteSourceSize</key>
                <string>{136,41}</string>
                <key>textureRect</key>
                <string>{{1455,0},{136,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,29}</string>
                <key>spriteSourceSize</key>
                <string>{216,29}</string>
                <key>textureRect</key>
                <string>{{520,0},{216,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,32}</string>
                <key>spriteSourceSize</key>
                <string>{148,32}</string>
                <key>textureRect</key>
                <string>{{914,0},{148,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,32}</string>
                <key>spriteSourceSize</key>
                <string>{122,32}</string>
                <key>textureRect</key>
                <string>{{1062,0},{122,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,30}</string>
                <key>spriteSourceSize</key>
                <string>{178,30}</string>
                <key>textureRect</key>
                <string>{{736,0},{178,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,238}</string>
                <key>spriteSourceSize</key>
                <string>{244,238}</string>
                <key>textureRect</key>
                <string>{{243,361},{244,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,32}</string>
                <key>spriteSourceSize</key>
                <string>{132,32}</string>
                <key>textureRect</key>
                <string>{{1184,0},{132,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1293,131},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{930,46},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{997,46},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1064,46},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,74}</string>
                <key>spriteSourceSize</key>
                <string>{780,74}</string>
                <key>textureRect</key>
                <string>{{1131,46},{780,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,61}</string>
                <key>spriteSourceSize</key>
                <string>{174,61}</string>
                <key>textureRect</key>
                <string>{{756,46},{174,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,41}</string>
                <key>spriteSourceSize</key>
                <string>{82,41}</string>
                <key>textureRect</key>
                <string>{{1591,0},{82,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,46}</string>
                <key>spriteSourceSize</key>
                <string>{181,46}</string>
                <key>textureRect</key>
                <string>{{1673,0},{181,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,336}</string>
                <key>spriteSourceSize</key>
                <string>{734,336}</string>
                <key>textureRect</key>
                <string>{{0,1261},{734,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,18}</string>
                <key>spriteSourceSize</key>
                <string>{93,18}</string>
                <key>textureRect</key>
                <string>{{25,0},{93,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,336}</string>
                <key>spriteSourceSize</key>
                <string>{734,336}</string>
                <key>textureRect</key>
                <string>{{734,1261},{734,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,100}</string>
                <key>spriteSourceSize</key>
                <string>{76,100}</string>
                <key>textureRect</key>
                <string>{{100,131},{76,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,100}</string>
                <key>spriteSourceSize</key>
                <string>{76,100}</string>
                <key>textureRect</key>
                <string>{{176,131},{76,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{1356,0},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{1316,0},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,104}</string>
                <key>spriteSourceSize</key>
                <string>{347,104}</string>
                <key>textureRect</key>
                <string>{{252,131},{347,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,104}</string>
                <key>spriteSourceSize</key>
                <string>{347,104}</string>
                <key>textureRect</key>
                <string>{{599,131},{347,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,27}</string>
                <key>spriteSourceSize</key>
                <string>{31,27}</string>
                <key>textureRect</key>
                <string>{{403,0},{31,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1420,0},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,47}</string>
                <key>spriteSourceSize</key>
                <string>{181,47}</string>
                <key>textureRect</key>
                <string>{{401,46},{181,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,18}</string>
                <key>spriteSourceSize</key>
                <string>{49,18}</string>
                <key>textureRect</key>
                <string>{{118,0},{49,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,23}</string>
                <key>spriteSourceSize</key>
                <string>{144,23}</string>
                <key>textureRect</key>
                <string>{{259,0},{144,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,230}</string>
                <key>spriteSourceSize</key>
                <string>{232,230}</string>
                <key>textureRect</key>
                <string>{{1401,131},{232,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,238}</string>
                <key>spriteSourceSize</key>
                <string>{250,238}</string>
                <key>textureRect</key>
                <string>{{487,361},{250,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,46}</string>
                <key>spriteSourceSize</key>
                <string>{182,46}</string>
                <key>textureRect</key>
                <string>{{1854,0},{182,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,300}</string>
                <key>spriteSourceSize</key>
                <string>{734,300}</string>
                <key>textureRect</key>
                <string>{{734,661},{734,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,46}</string>
                <key>spriteSourceSize</key>
                <string>{221,46}</string>
                <key>textureRect</key>
                <string>{{0,46},{221,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,300}</string>
                <key>spriteSourceSize</key>
                <string>{734,300}</string>
                <key>textureRect</key>
                <string>{{0,961},{734,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,46}</string>
                <key>spriteSourceSize</key>
                <string>{180,46}</string>
                <key>textureRect</key>
                <string>{{221,46},{180,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,104}</string>
                <key>spriteSourceSize</key>
                <string>{347,104}</string>
                <key>textureRect</key>
                <string>{{946,131},{347,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,230}</string>
                <key>spriteSourceSize</key>
                <string>{240,230}</string>
                <key>textureRect</key>
                <string>{{1633,131},{240,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{36,18}</string>
                <key>textureRect</key>
                <string>{{167,0},{36,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,300}</string>
                <key>spriteSourceSize</key>
                <string>{734,300}</string>
                <key>textureRect</key>
                <string>{{734,961},{734,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,11}</string>
                <key>spriteSourceSize</key>
                <string>{25,11}</string>
                <key>textureRect</key>
                <string>{{0,0},{25,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,23}</string>
                <key>spriteSourceSize</key>
                <string>{56,23}</string>
                <key>textureRect</key>
                <string>{{203,0},{56,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{1394,0},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dnf_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,85}</string>
                <key>spriteSourceSize</key>
                <string>{83,85}</string>
                <key>textureRect</key>
                <string>{{1911,46},{83,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dnf_ui_1.png</string>
            <key>size</key>
            <string>{2036,1597}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fadfdb5304609609f81e579746f500c:43e3c6e0a4f7d627a7d656ec2b552743:0cb42c0c8f558b1597c548f941a80381$</string>
            <key>textureFileName</key>
            <string>dnf_ui_1.png</string>
        </dict>
    </dict>
</plist>
