<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Canyon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,132}</string>
                <key>spriteSourceSize</key>
                <string>{126,132}</string>
                <key>textureRect</key>
                <string>{{947,255},{126,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,132}</string>
                <key>spriteSourceSize</key>
                <string>{126,132}</string>
                <key>textureRect</key>
                <string>{{1073,255},{126,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,132}</string>
                <key>spriteSourceSize</key>
                <string>{126,132}</string>
                <key>textureRect</key>
                <string>{{1199,255},{126,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,132}</string>
                <key>spriteSourceSize</key>
                <string>{126,132}</string>
                <key>textureRect</key>
                <string>{{1325,255},{126,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,132}</string>
                <key>spriteSourceSize</key>
                <string>{126,132}</string>
                <key>textureRect</key>
                <string>{{1451,255},{126,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,27}</string>
                <key>spriteSourceSize</key>
                <string>{69,27}</string>
                <key>textureRect</key>
                <string>{{180,0},{69,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,24}</string>
                <key>spriteSourceSize</key>
                <string>{45,24}</string>
                <key>textureRect</key>
                <string>{{135,0},{45,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,34}</string>
                <key>spriteSourceSize</key>
                <string>{204,34}</string>
                <key>textureRect</key>
                <string>{{633,0},{204,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,39}</string>
                <key>spriteSourceSize</key>
                <string>{120,39}</string>
                <key>textureRect</key>
                <string>{{837,0},{120,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1653,42},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,435}</string>
                <key>spriteSourceSize</key>
                <string>{492,435}</string>
                <key>textureRect</key>
                <string>{{834,825},{492,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{834,337}</string>
                <key>spriteSourceSize</key>
                <string>{834,337}</string>
                <key>textureRect</key>
                <string>{{0,825},{834,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,132}</string>
                <key>spriteSourceSize</key>
                <string>{177,132}</string>
                <key>textureRect</key>
                <string>{{0,387},{177,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,127}</string>
                <key>spriteSourceSize</key>
                <string>{124,127}</string>
                <key>textureRect</key>
                <string>{{394,255},{124,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,42}</string>
                <key>spriteSourceSize</key>
                <string>{129,42}</string>
                <key>textureRect</key>
                <string>{{1003,0},{129,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,105}</string>
                <key>spriteSourceSize</key>
                <string>{111,105}</string>
                <key>textureRect</key>
                <string>{{1502,150},{111,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,28}</string>
                <key>spriteSourceSize</key>
                <string>{60,28}</string>
                <key>textureRect</key>
                <string>{{249,0},{60,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,63}</string>
                <key>spriteSourceSize</key>
                <string>{123,63}</string>
                <key>textureRect</key>
                <string>{{54,150},{123,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,45}</string>
                <key>spriteSourceSize</key>
                <string>{369,45}</string>
                <key>textureRect</key>
                <string>{{177,42},{369,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,43}</string>
                <key>spriteSourceSize</key>
                <string>{177,43}</string>
                <key>textureRect</key>
                <string>{{0,42},{177,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,45}</string>
                <key>spriteSourceSize</key>
                <string>{193,45}</string>
                <key>textureRect</key>
                <string>{{546,42},{193,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,132}</string>
                <key>spriteSourceSize</key>
                <string>{177,132}</string>
                <key>textureRect</key>
                <string>{{518,255},{177,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,45}</string>
                <key>spriteSourceSize</key>
                <string>{84,45}</string>
                <key>textureRect</key>
                <string>{{739,42},{84,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,45}</string>
                <key>spriteSourceSize</key>
                <string>{84,45}</string>
                <key>textureRect</key>
                <string>{{823,42},{84,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,48}</string>
                <key>spriteSourceSize</key>
                <string>{165,48}</string>
                <key>textureRect</key>
                <string>{{0,90},{165,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,48}</string>
                <key>spriteSourceSize</key>
                <string>{165,48}</string>
                <key>textureRect</key>
                <string>{{165,90},{165,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,108}</string>
                <key>spriteSourceSize</key>
                <string>{109,108}</string>
                <key>textureRect</key>
                <string>{{0,255},{109,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,33}</string>
                <key>spriteSourceSize</key>
                <string>{204,33}</string>
                <key>textureRect</key>
                <string>{{429,0},{204,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,42}</string>
                <key>spriteSourceSize</key>
                <string>{213,42}</string>
                <key>textureRect</key>
                <string>{{1132,0},{213,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,42}</string>
                <key>spriteSourceSize</key>
                <string>{213,42}</string>
                <key>textureRect</key>
                <string>{{1345,0},{213,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,48}</string>
                <key>spriteSourceSize</key>
                <string>{339,48}</string>
                <key>textureRect</key>
                <string>{{330,90},{339,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,48}</string>
                <key>spriteSourceSize</key>
                <string>{339,48}</string>
                <key>textureRect</key>
                <string>{{669,90},{339,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,134}</string>
                <key>spriteSourceSize</key>
                <string>{177,134}</string>
                <key>textureRect</key>
                <string>{{177,387},{177,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,48}</string>
                <key>spriteSourceSize</key>
                <string>{339,48}</string>
                <key>textureRect</key>
                <string>{{1008,90},{339,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,48}</string>
                <key>spriteSourceSize</key>
                <string>{183,48}</string>
                <key>textureRect</key>
                <string>{{1347,90},{183,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,45}</string>
                <key>spriteSourceSize</key>
                <string>{373,45}</string>
                <key>textureRect</key>
                <string>{{907,42},{373,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,45}</string>
                <key>spriteSourceSize</key>
                <string>{373,45}</string>
                <key>textureRect</key>
                <string>{{1280,42},{373,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{354,387},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1239,252}</string>
                <key>spriteSourceSize</key>
                <string>{1239,252}</string>
                <key>textureRect</key>
                <string>{{0,573},{1239,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,115}</string>
                <key>spriteSourceSize</key>
                <string>{285,115}</string>
                <key>textureRect</key>
                <string>{{109,255},{285,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,186}</string>
                <key>spriteSourceSize</key>
                <string>{1200,186}</string>
                <key>textureRect</key>
                <string>{{516,387},{1200,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{940,150},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,70}</string>
                <key>spriteSourceSize</key>
                <string>{78,70}</string>
                <key>textureRect</key>
                <string>{{862,150},{78,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,24}</string>
                <key>spriteSourceSize</key>
                <string>{135,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{135,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{369,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,41}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{957,0},{46,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,73}</string>
                <key>spriteSourceSize</key>
                <string>{186,73}</string>
                <key>textureRect</key>
                <string>{{1012,150},{186,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,69}</string>
                <key>spriteSourceSize</key>
                <string>{172,69}</string>
                <key>textureRect</key>
                <string>{{690,150},{172,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,64}</string>
                <key>spriteSourceSize</key>
                <string>{168,64}</string>
                <key>textureRect</key>
                <string>{{177,150},{168,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,67}</string>
                <key>spriteSourceSize</key>
                <string>{174,67}</string>
                <key>textureRect</key>
                <string>{{345,150},{174,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,67}</string>
                <key>spriteSourceSize</key>
                <string>{171,67}</string>
                <key>textureRect</key>
                <string>{{519,150},{171,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{1645,90},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,51}</string>
                <key>spriteSourceSize</key>
                <string>{73,51}</string>
                <key>textureRect</key>
                <string>{{1572,90},{73,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,28}</string>
                <key>spriteSourceSize</key>
                <string>{60,28}</string>
                <key>textureRect</key>
                <string>{{309,0},{60,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,132}</string>
                <key>spriteSourceSize</key>
                <string>{126,132}</string>
                <key>textureRect</key>
                <string>{{695,255},{126,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,81}</string>
                <key>spriteSourceSize</key>
                <string>{304,81}</string>
                <key>textureRect</key>
                <string>{{1198,150},{304,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,132}</string>
                <key>spriteSourceSize</key>
                <string>{126,132}</string>
                <key>textureRect</key>
                <string>{{821,255},{126,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,49}</string>
                <key>spriteSourceSize</key>
                <string>{42,49}</string>
                <key>textureRect</key>
                <string>{{1530,90},{42,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canyon_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{0,150},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dnf_Canyon.png</string>
            <key>size</key>
            <string>{1716,1260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5183d12fc8bb6b6e261a4cc3964db6d9:09e17c2429b1bfe22f6ed3b86d4cb5f8:00cc0cd4b11adfc938512b03e4bda24f$</string>
            <key>textureFileName</key>
            <string>dnf_Canyon.png</string>
        </dict>
    </dict>
</plist>
