<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>First_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{799,667}</string>
                <key>spriteSourceSize</key>
                <string>{799,667}</string>
                <key>textureRect</key>
                <string>{{0,966},{799,667}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,182}</string>
                <key>spriteSourceSize</key>
                <string>{64,182}</string>
                <key>textureRect</key>
                <string>{{409,186},{64,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,39}</string>
                <key>spriteSourceSize</key>
                <string>{72,39}</string>
                <key>textureRect</key>
                <string>{{757,0},{72,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,57}</string>
                <key>spriteSourceSize</key>
                <string>{181,57}</string>
                <key>textureRect</key>
                <string>{{940,0},{181,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,57}</string>
                <key>spriteSourceSize</key>
                <string>{207,57}</string>
                <key>textureRect</key>
                <string>{{1121,0},{207,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,57}</string>
                <key>spriteSourceSize</key>
                <string>{208,57}</string>
                <key>textureRect</key>
                <string>{{1328,0},{208,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,27}</string>
                <key>spriteSourceSize</key>
                <string>{91,27}</string>
                <key>textureRect</key>
                <string>{{120,0},{91,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,27}</string>
                <key>spriteSourceSize</key>
                <string>{93,27}</string>
                <key>textureRect</key>
                <string>{{211,0},{93,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,27}</string>
                <key>spriteSourceSize</key>
                <string>{93,27}</string>
                <key>textureRect</key>
                <string>{{304,0},{93,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{677,66},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,207}</string>
                <key>spriteSourceSize</key>
                <string>{339,207}</string>
                <key>textureRect</key>
                <string>{{473,186},{339,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,95}</string>
                <key>spriteSourceSize</key>
                <string>{148,95}</string>
                <key>textureRect</key>
                <string>{{863,66},{148,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,76}</string>
                <key>spriteSourceSize</key>
                <string>{447,76}</string>
                <key>textureRect</key>
                <string>{{69,66},{447,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,65}</string>
                <key>spriteSourceSize</key>
                <string>{118,65}</string>
                <key>textureRect</key>
                <string>{{1746,0},{118,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{1864,0},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,49}</string>
                <key>spriteSourceSize</key>
                <string>{60,49}</string>
                <key>textureRect</key>
                <string>{{829,0},{60,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,126}</string>
                <key>spriteSourceSize</key>
                <string>{409,126}</string>
                <key>textureRect</key>
                <string>{{0,186},{409,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,485}</string>
                <key>spriteSourceSize</key>
                <string>{55,485}</string>
                <key>textureRect</key>
                <string>{{1347,481},{55,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,485}</string>
                <key>spriteSourceSize</key>
                <string>{55,485}</string>
                <key>textureRect</key>
                <string>{{1402,481},{55,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{60,0},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,23}</string>
                <key>spriteSourceSize</key>
                <string>{30,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,58}</string>
                <key>spriteSourceSize</key>
                <string>{69,58}</string>
                <key>textureRect</key>
                <string>{{1677,0},{69,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{397,0},{63,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{90,0},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,23}</string>
                <key>spriteSourceSize</key>
                <string>{30,23}</string>
                <key>textureRect</key>
                <string>{{30,0},{30,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{460,0},{63,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{589,66},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,68}</string>
                <key>spriteSourceSize</key>
                <string>{69,68}</string>
                <key>textureRect</key>
                <string>{{0,66},{69,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,99}</string>
                <key>spriteSourceSize</key>
                <string>{300,99}</string>
                <key>textureRect</key>
                <string>{{1011,66},{300,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,120}</string>
                <key>spriteSourceSize</key>
                <string>{288,120}</string>
                <key>textureRect</key>
                <string>{{1311,66},{288,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,120}</string>
                <key>spriteSourceSize</key>
                <string>{288,120}</string>
                <key>textureRect</key>
                <string>{{1599,66},{288,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1062,913}</string>
                <key>spriteSourceSize</key>
                <string>{1062,913}</string>
                <key>textureRect</key>
                <string>{{799,966},{1062,913}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{889,0},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1171,387}</string>
                <key>spriteSourceSize</key>
                <string>{1171,387}</string>
                <key>textureRect</key>
                <string>{{176,481},{1171,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,92}</string>
                <key>textureRect</key>
                <string>{{767,66},{96,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,57}</string>
                <key>spriteSourceSize</key>
                <string>{141,57}</string>
                <key>textureRect</key>
                <string>{{1536,0},{141,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1234,295}</string>
                <key>spriteSourceSize</key>
                <string>{1234,295}</string>
                <key>textureRect</key>
                <string>{{812,186},{1234,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,339}</string>
                <key>spriteSourceSize</key>
                <string>{88,339}</string>
                <key>textureRect</key>
                <string>{{0,481},{88,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,77}</string>
                <key>spriteSourceSize</key>
                <string>{73,77}</string>
                <key>textureRect</key>
                <string>{{516,66},{73,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,386}</string>
                <key>spriteSourceSize</key>
                <string>{45,386}</string>
                <key>textureRect</key>
                <string>{{131,481},{45,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,381}</string>
                <key>spriteSourceSize</key>
                <string>{43,381}</string>
                <key>textureRect</key>
                <string>{{88,481},{43,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,39}</string>
                <key>spriteSourceSize</key>
                <string>{201,39}</string>
                <key>textureRect</key>
                <string>{{556,0},{201,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>First_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{523,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>First_top-up.png</string>
            <key>size</key>
            <string>{2046,1879}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:992efca001b21d22a91579b12f13ec35:db44f3924935675857b796684f3ffb88:5a567735022a3ece003b691686fc4d2e$</string>
            <key>textureFileName</key>
            <string>First_top-up.png</string>
        </dict>
    </dict>
</plist>
