<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>forge_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,69}</string>
                <key>spriteSourceSize</key>
                <string>{265,69}</string>
                <key>textureRect</key>
                <string>{{867,412},{263,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>forge_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,223}</string>
                <key>spriteSourceSize</key>
                <string>{210,225}</string>
                <key>textureRect</key>
                <string>{{642,412},{208,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>forge_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,71}</string>
                <key>spriteSourceSize</key>
                <string>{79,71}</string>
                <key>textureRect</key>
                <string>{{938,612},{79,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>forge_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,40}</string>
                <key>spriteSourceSize</key>
                <string>{151,42}</string>
                <key>textureRect</key>
                <string>{{457,631},{147,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forge_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{639,138}</string>
                <key>spriteSourceSize</key>
                <string>{639,138}</string>
                <key>textureRect</key>
                <string>{{1,412},{639,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forge_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,76}</string>
                <key>spriteSourceSize</key>
                <string>{150,78}</string>
                <key>textureRect</key>
                <string>{{610,622},{148,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forge_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{269,650},{54,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>forge_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,96}</string>
                <key>spriteSourceSize</key>
                <string>{456,96}</string>
                <key>textureRect</key>
                <string>{{1,552},{454,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forge_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,81}</string>
                <key>textureRect</key>
                <string>{{457,552},{151,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forge_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,40}</string>
                <key>spriteSourceSize</key>
                <string>{136,42}</string>
                <key>textureRect</key>
                <string>{{1,650},{132,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forge_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,40}</string>
                <key>spriteSourceSize</key>
                <string>{136,42}</string>
                <key>textureRect</key>
                <string>{{135,650},{132,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forge_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{81,87}</string>
                <key>textureRect</key>
                <string>{{760,622},{81,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>forge_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,48}</string>
                <key>spriteSourceSize</key>
                <string>{198,48}</string>
                <key>textureRect</key>
                <string>{{938,412},{198,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>forge_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1012,409}</string>
                <key>spriteSourceSize</key>
                <string>{1014,411}</string>
                <key>textureRect</key>
                <string>{{1,1},{1012,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>forge_ui.png</string>
            <key>size</key>
            <string>{1014,705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a45c55bad1cb817dd3f34bae66d0494b:0d355e52bef5324d0b19c963f0234df2:c463f5fa39669cf608b62ecbd5f1653e$</string>
            <key>textureFileName</key>
            <string>forge_ui.png</string>
        </dict>
    </dict>
</plist>
