<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Formation_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,37}</string>
                <key>spriteSourceSize</key>
                <string>{159,37}</string>
                <key>textureRect</key>
                <string>{{397,33},{159,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{0,557},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{504,557},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{168,557},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{336,557},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{330,33},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,39}</string>
                <key>spriteSourceSize</key>
                <string>{82,39}</string>
                <key>textureRect</key>
                <string>{{709,33},{82,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{414,257},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,57}</string>
                <key>spriteSourceSize</key>
                <string>{246,57}</string>
                <key>textureRect</key>
                <string>{{0,122},{246,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{400,389},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,132}</string>
                <key>spriteSourceSize</key>
                <string>{162,132}</string>
                <key>textureRect</key>
                <string>{{679,257},{162,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,60}</string>
                <key>spriteSourceSize</key>
                <string>{33,60}</string>
                <key>textureRect</key>
                <string>{{246,122},{33,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,132}</string>
                <key>spriteSourceSize</key>
                <string>{162,132}</string>
                <key>textureRect</key>
                <string>{{0,389},{162,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{502,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,78}</string>
                <key>spriteSourceSize</key>
                <string>{303,78}</string>
                <key>textureRect</key>
                <string>{{0,257},{303,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,49}</string>
                <key>spriteSourceSize</key>
                <string>{90,49}</string>
                <key>textureRect</key>
                <string>{{532,72},{90,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,37}</string>
                <key>spriteSourceSize</key>
                <string>{81,37}</string>
                <key>textureRect</key>
                <string>{{556,33},{81,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{478,72},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{535,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{568,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{601,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{634,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{279,122},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{667,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{700,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{733,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{766,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{799,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{832,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{0,33},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{33,33},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{66,33},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{99,33},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,33}</string>
                <key>spriteSourceSize</key>
                <string>{64,33}</string>
                <key>textureRect</key>
                <string>{{310,0},{64,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{132,33},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{165,33},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{198,33},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{231,33},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{264,33},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,131}</string>
                <key>spriteSourceSize</key>
                <string>{136,131}</string>
                <key>textureRect</key>
                <string>{{543,257},{136,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{370,72},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{622,72},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{198,72},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{241,72},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,33}</string>
                <key>spriteSourceSize</key>
                <string>{64,33}</string>
                <key>textureRect</key>
                <string>{{374,0},{64,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{668,72},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{424,72},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{714,72},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{284,72},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{327,72},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{760,72},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{297,33},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,30}</string>
                <key>spriteSourceSize</key>
                <string>{286,30}</string>
                <key>textureRect</key>
                <string>{{24,0},{286,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,140}</string>
                <key>spriteSourceSize</key>
                <string>{97,140}</string>
                <key>textureRect</key>
                <string>{{162,389},{97,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,33}</string>
                <key>spriteSourceSize</key>
                <string>{64,33}</string>
                <key>textureRect</key>
                <string>{{438,0},{64,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,161}</string>
                <key>spriteSourceSize</key>
                <string>{6,161}</string>
                <key>textureRect</key>
                <string>{{720,389},{6,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,282}</string>
                <key>spriteSourceSize</key>
                <string>{6,282}</string>
                <key>textureRect</key>
                <string>{{842,557},{6,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{364,33},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,39}</string>
                <key>spriteSourceSize</key>
                <string>{84,39}</string>
                <key>textureRect</key>
                <string>{{791,33},{84,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,200}</string>
                <key>spriteSourceSize</key>
                <string>{160,200}</string>
                <key>textureRect</key>
                <string>{{682,557},{160,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,39}</string>
                <key>spriteSourceSize</key>
                <string>{198,39}</string>
                <key>textureRect</key>
                <string>{{0,72},{198,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,104}</string>
                <key>spriteSourceSize</key>
                <string>{111,104}</string>
                <key>textureRect</key>
                <string>{{303,257},{111,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,75}</string>
                <key>spriteSourceSize</key>
                <string>{598,75}</string>
                <key>textureRect</key>
                <string>{{0,182},{598,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{560,389},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,39}</string>
                <key>spriteSourceSize</key>
                <string>{72,39}</string>
                <key>textureRect</key>
                <string>{{637,33},{72,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{259,389},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Formation_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{726,389},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Formation.png</string>
            <key>size</key>
            <string>{894,839}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e910a5f40cd1a54d7557e4ac2fe472d5:9bf7f685b51a727c6b50cd02a1ada2ca:fb149aed49ad092f8e243a8ef2e41aa7$</string>
            <key>textureFileName</key>
            <string>Formation.png</string>
        </dict>
    </dict>
</plist>
