<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_detail_ui_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,99}</string>
                <key>spriteSourceSize</key>
                <string>{295,103}</string>
                <key>textureRect</key>
                <string>{{900,584},{291,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_detail_ui_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,100}</string>
                <key>spriteSourceSize</key>
                <string>{780,100}</string>
                <key>textureRect</key>
                <string>{{1,584},{780,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_detail_ui_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{880,875}</string>
                <key>spriteSourceSize</key>
                <string>{880,875}</string>
                <key>textureRect</key>
                <string>{{1078,1},{880,875}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_detail_ui_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1075,495}</string>
                <key>spriteSourceSize</key>
                <string>{1075,495}</string>
                <key>textureRect</key>
                <string>{{1,1},{1075,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_detail_ui_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1065,84}</string>
                <key>spriteSourceSize</key>
                <string>{1065,84}</string>
                <key>textureRect</key>
                <string>{{1,498},{1065,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_detail_ui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,62}</string>
                <key>spriteSourceSize</key>
                <string>{180,66}</string>
                <key>textureRect</key>
                <string>{{1,714},{176,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_detail_ui_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,18}</string>
                <key>spriteSourceSize</key>
                <string>{750,18}</string>
                <key>textureRect</key>
                <string>{{1,694},{750,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_detail_ui_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,108}</string>
                <key>spriteSourceSize</key>
                <string>{115,108}</string>
                <key>textureRect</key>
                <string>{{783,584},{115,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_detail_ui_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,43}</string>
                <key>spriteSourceSize</key>
                <string>{225,45}</string>
                <key>textureRect</key>
                <string>{{1001,584},{223,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_detail_ui_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{151,41}</string>
                <key>spriteSourceSize</key>
                <string>{153,45}</string>
                <key>textureRect</key>
                <string>{{179,714},{151,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_detail_ui_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,41}</string>
                <key>spriteSourceSize</key>
                <string>{94,45}</string>
                <key>textureRect</key>
                <string>{{332,714},{92,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_detail_ui_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,103}</string>
                <key>spriteSourceSize</key>
                <string>{109,103}</string>
                <key>textureRect</key>
                <string>{{753,694},{109,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_detail_ui_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{1001,809},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_card_detail.png</string>
            <key>size</key>
            <string>{1959,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3f4be43d127e3dbf8e9cd0e499888b5:c06b79660a3188c9edde8949f1cde86f:d35a89fb0ec7a52e492898abdea0437a$</string>
            <key>textureFileName</key>
            <string>hall_card_detail.png</string>
        </dict>
    </dict>
</plist>
