<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_ui_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,49}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{66,425},{37,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{952,289},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{238,162}</string>
                <key>spriteSourceSize</key>
                <string>{244,166}</string>
                <key>textureRect</key>
                <string>{{329,303},{238,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{238,162}</string>
                <key>spriteSourceSize</key>
                <string>{244,166}</string>
                <key>textureRect</key>
                <string>{{569,303},{238,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,300}</string>
                <key>spriteSourceSize</key>
                <string>{598,302}</string>
                <key>textureRect</key>
                <string>{{143,1},{594,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{151,142}</string>
                <key>spriteSourceSize</key>
                <string>{153,144}</string>
                <key>textureRect</key>
                <string>{{960,1},{151,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{151,142}</string>
                <key>spriteSourceSize</key>
                <string>{153,144}</string>
                <key>textureRect</key>
                <string>{{960,145},{151,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,140}</string>
                <key>spriteSourceSize</key>
                <string>{426,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{422,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,85}</string>
                <key>spriteSourceSize</key>
                <string>{220,85}</string>
                <key>textureRect</key>
                <string>{{786,1},{220,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,85}</string>
                <key>spriteSourceSize</key>
                <string>{220,85}</string>
                <key>textureRect</key>
                <string>{{873,1},{220,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,63}</string>
                <key>spriteSourceSize</key>
                <string>{57,63}</string>
                <key>textureRect</key>
                <string>{{1,425},{57,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,72}</string>
                <key>spriteSourceSize</key>
                <string>{127,72}</string>
                <key>textureRect</key>
                <string>{{786,223},{127,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,186}</string>
                <key>spriteSourceSize</key>
                <string>{141,186}</string>
                <key>textureRect</key>
                <string>{{809,297},{141,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,108}</string>
                <key>spriteSourceSize</key>
                <string>{91,108}</string>
                <key>textureRect</key>
                <string>{{143,303},{91,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,48}</string>
                <key>spriteSourceSize</key>
                <string>{222,48}</string>
                <key>textureRect</key>
                <string>{{105,425},{222,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,45}</string>
                <key>spriteSourceSize</key>
                <string>{267,45}</string>
                <key>textureRect</key>
                <string>{{739,1},{267,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_ui_1.png</string>
            <key>size</key>
            <string>{1112,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:823f203462a4c10bb5d2f8c32bfb0cba:bfaa116181fbad4e75db54958adc21ca:75801bc2cbd3e2051bd733cc6454e502$</string>
            <key>textureFileName</key>
            <string>hall_ui_1.png</string>
        </dict>
    </dict>
</plist>
