<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>relic_set_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,151}</string>
                <key>spriteSourceSize</key>
                <string>{412,153}</string>
                <key>textureRect</key>
                <string>{{1,657},{410,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,130}</string>
                <key>spriteSourceSize</key>
                <string>{312,132}</string>
                <key>textureRect</key>
                <string>{{663,221},{310,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{926,784},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,490}</string>
                <key>spriteSourceSize</key>
                <string>{660,490}</string>
                <key>textureRect</key>
                <string>{{1,1},{660,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{921,880},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,108}</string>
                <key>spriteSourceSize</key>
                <string>{243,112}</string>
                <key>textureRect</key>
                <string>{{512,873},{239,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,108}</string>
                <key>spriteSourceSize</key>
                <string>{363,112}</string>
                <key>textureRect</key>
                <string>{{663,1},{359,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,108}</string>
                <key>spriteSourceSize</key>
                <string>{363,112}</string>
                <key>textureRect</key>
                <string>{{663,111},{359,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,159}</string>
                <key>spriteSourceSize</key>
                <string>{150,159}</string>
                <key>textureRect</key>
                <string>{{776,657},{148,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,144}</string>
                <key>textureRect</key>
                <string>{{364,873},{146,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,159}</string>
                <key>spriteSourceSize</key>
                <string>{168,159}</string>
                <key>textureRect</key>
                <string>{{753,818},{166,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,130}</string>
                <key>spriteSourceSize</key>
                <string>{312,132}</string>
                <key>textureRect</key>
                <string>{{663,353},{310,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,71}</string>
                <key>spriteSourceSize</key>
                <string>{211,75}</string>
                <key>textureRect</key>
                <string>{{1,942},{207,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{891,162}</string>
                <key>spriteSourceSize</key>
                <string>{891,162}</string>
                <key>textureRect</key>
                <string>{{1,493},{891,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,82}</string>
                <key>spriteSourceSize</key>
                <string>{331,84}</string>
                <key>textureRect</key>
                <string>{{413,789},{329,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,66}</string>
                <key>spriteSourceSize</key>
                <string>{201,66}</string>
                <key>textureRect</key>
                <string>{{926,581},{201,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>relic_set_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,130}</string>
                <key>spriteSourceSize</key>
                <string>{363,132}</string>
                <key>textureRect</key>
                <string>{{1,810},{361,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,130}</string>
                <key>spriteSourceSize</key>
                <string>{363,132}</string>
                <key>textureRect</key>
                <string>{{413,657},{361,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{894,485},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_relic_ui.png</string>
            <key>size</key>
            <string>{1023,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:178110139fc7f0712c17155cc353adf6:7122d721e8531f3f23f4a3a68596e992:f112149ddfedeb3d94e25ca8573547d4$</string>
            <key>textureFileName</key>
            <string>hall_relic_ui.png</string>
        </dict>
    </dict>
</plist>
