<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_ui_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{642,138},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{106,92}</string>
                <key>spriteSourceSize</key>
                <string>{108,94}</string>
                <key>textureRect</key>
                <string>{{543,33},{106,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,96}</string>
                <key>spriteSourceSize</key>
                <string>{73,96}</string>
                <key>textureRect</key>
                <string>{{641,233},{71,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{103,98}</string>
                <key>textureRect</key>
                <string>{{651,33},{103,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,91}</string>
                <key>spriteSourceSize</key>
                <string>{99,93}</string>
                <key>textureRect</key>
                <string>{{543,127},{97,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{633,386},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{579,220},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{51,57}</string>
                <key>textureRect</key>
                <string>{{636,327},{51,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,54}</string>
                <key>spriteSourceSize</key>
                <string>{51,54}</string>
                <key>textureRect</key>
                <string>{{692,306},{51,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,30}</string>
                <key>spriteSourceSize</key>
                <string>{177,30}</string>
                <key>textureRect</key>
                <string>{{543,1},{177,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{579,386},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{692,359},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{692,400},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,34}</string>
                <key>spriteSourceSize</key>
                <string>{216,34}</string>
                <key>textureRect</key>
                <string>{{543,220},{216,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,59}</string>
                <key>textureRect</key>
                <string>{{579,270},{55,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,59}</string>
                <key>textureRect</key>
                <string>{{579,327},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,438}</string>
                <key>spriteSourceSize</key>
                <string>{540,438}</string>
                <key>textureRect</key>
                <string>{{1,1},{540,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_ui_2.png</string>
            <key>size</key>
            <string>{750,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8361e1d59168bc3fe8288fced6adf062:916b3f6ce50818098b9746a362272b13:c6eac791d00b8bf7b9d1d435163846cd$</string>
            <key>textureFileName</key>
            <string>hall_ui_2.png</string>
        </dict>
    </dict>
</plist>
