<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_ui_font_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,87}</string>
                <key>spriteSourceSize</key>
                <string>{369,87}</string>
                <key>textureRect</key>
                <string>{{1,1},{369,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_font_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,34}</string>
                <key>spriteSourceSize</key>
                <string>{127,36}</string>
                <key>textureRect</key>
                <string>{{409,1},{123,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_font_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{124,35}</string>
                <key>spriteSourceSize</key>
                <string>{126,37}</string>
                <key>textureRect</key>
                <string>{{372,1},{124,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_font_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{148,41}</string>
                <key>spriteSourceSize</key>
                <string>{150,43}</string>
                <key>textureRect</key>
                <string>{{207,134},{148,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_font_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,42}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{369,127},{76,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_font_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{112,42}</string>
                <key>spriteSourceSize</key>
                <string>{114,42}</string>
                <key>textureRect</key>
                <string>{{1,143},{112,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_font_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,42}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{413,126},{76,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_font_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,42}</string>
                <key>spriteSourceSize</key>
                <string>{150,42}</string>
                <key>textureRect</key>
                <string>{{45,143},{150,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_font_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,51}</string>
                <key>spriteSourceSize</key>
                <string>{208,55}</string>
                <key>textureRect</key>
                <string>{{1,90},{204,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_font_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,40}</string>
                <key>spriteSourceSize</key>
                <string>{79,42}</string>
                <key>textureRect</key>
                <string>{{369,205},{75,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_font_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{327,177},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_font_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,34}</string>
                <key>spriteSourceSize</key>
                <string>{127,36}</string>
                <key>textureRect</key>
                <string>{{445,1},{123,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_font_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,40}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{285,177},{78,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_font_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,42}</string>
                <key>spriteSourceSize</key>
                <string>{150,42}</string>
                <key>textureRect</key>
                <string>{{207,90},{150,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_ui_font_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,42}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{197,177},{78,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_font_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,42}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{241,177},{78,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hall_ui_font_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{148,41}</string>
                <key>spriteSourceSize</key>
                <string>{150,43}</string>
                <key>textureRect</key>
                <string>{{45,187},{148,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_ui_font.png</string>
            <key>size</key>
            <string>{480,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3ee7cc5348ed402a1aa6e8bd124b774:2518de101e7905c4c54010933f1068d6:8c1d104cebdd65be6e624f547a97ecde$</string>
            <key>textureFileName</key>
            <string>hall_ui_font.png</string>
        </dict>
    </dict>
</plist>
