<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_reward_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,59}</string>
                <key>spriteSourceSize</key>
                <string>{238,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_reward_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,111}</string>
                <key>spriteSourceSize</key>
                <string>{381,111}</string>
                <key>textureRect</key>
                <string>{{1,374},{381,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_reward_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{801,90}</string>
                <key>spriteSourceSize</key>
                <string>{801,90}</string>
                <key>textureRect</key>
                <string>{{161,405},{801,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_reward_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,130}</string>
                <key>spriteSourceSize</key>
                <string>{412,132}</string>
                <key>textureRect</key>
                <string>{{1,782},{410,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_reward_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,78}</string>
                <key>spriteSourceSize</key>
                <string>{331,82}</string>
                <key>textureRect</key>
                <string>{{133,62},{327,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_reward_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{389,45}</string>
                <key>spriteSourceSize</key>
                <string>{391,49}</string>
                <key>textureRect</key>
                <string>{{114,391},{389,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_reward_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,130}</string>
                <key>spriteSourceSize</key>
                <string>{312,132}</string>
                <key>textureRect</key>
                <string>{{1,62},{310,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_reward_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,41}</string>
                <key>spriteSourceSize</key>
                <string>{345,45}</string>
                <key>textureRect</key>
                <string>{{213,62},{341,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle_reward.png</string>
            <key>size</key>
            <string>{255,1207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1bc308eeb3aa999c6854670fbad454b:b8b5e0d4a057aeb7e7e184351fd9d53d:57233d3e1500528b8c02159b9832ddf1$</string>
            <key>textureFileName</key>
            <string>idle_reward.png</string>
        </dict>
    </dict>
</plist>
