<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Invite_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,42}</string>
                <key>spriteSourceSize</key>
                <string>{181,42}</string>
                <key>textureRect</key>
                <string>{{707,0},{181,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,54}</string>
                <key>spriteSourceSize</key>
                <string>{103,54}</string>
                <key>textureRect</key>
                <string>{{604,0},{103,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,46}</string>
                <key>spriteSourceSize</key>
                <string>{288,46}</string>
                <key>textureRect</key>
                <string>{{1613,0},{288,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{934,45}</string>
                <key>spriteSourceSize</key>
                <string>{934,45}</string>
                <key>textureRect</key>
                <string>{{920,250},{934,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,163}</string>
                <key>spriteSourceSize</key>
                <string>{157,163}</string>
                <key>textureRect</key>
                <string>{{1018,64},{157,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,70}</string>
                <key>spriteSourceSize</key>
                <string>{351,70}</string>
                <key>textureRect</key>
                <string>{{667,64},{351,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,114}</string>
                <key>spriteSourceSize</key>
                <string>{306,114}</string>
                <key>textureRect</key>
                <string>{{0,250},{306,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,109}</string>
                <key>spriteSourceSize</key>
                <string>{313,109}</string>
                <key>textureRect</key>
                <string>{{1649,64},{313,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1050,220}</string>
                <key>spriteSourceSize</key>
                <string>{1050,220}</string>
                <key>textureRect</key>
                <string>{{0,568},{1050,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,114}</string>
                <key>spriteSourceSize</key>
                <string>{307,114}</string>
                <key>textureRect</key>
                <string>{{306,250},{307,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,114}</string>
                <key>spriteSourceSize</key>
                <string>{307,114}</string>
                <key>textureRect</key>
                <string>{{613,250},{307,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1008,204}</string>
                <key>spriteSourceSize</key>
                <string>{1008,204}</string>
                <key>textureRect</key>
                <string>{{0,364},{1008,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{280,0},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,53}</string>
                <key>spriteSourceSize</key>
                <string>{103,53}</string>
                <key>textureRect</key>
                <string>{{501,0},{103,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{334,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,33}</string>
                <key>spriteSourceSize</key>
                <string>{78,33}</string>
                <key>textureRect</key>
                <string>{{202,0},{78,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,57}</string>
                <key>spriteSourceSize</key>
                <string>{208,57}</string>
                <key>textureRect</key>
                <string>{{1405,0},{208,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,102}</string>
                <key>spriteSourceSize</key>
                <string>{291,102}</string>
                <key>textureRect</key>
                <string>{{1175,64},{291,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,51}</string>
                <key>spriteSourceSize</key>
                <string>{172,51}</string>
                <key>textureRect</key>
                <string>{{1059,0},{172,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,51}</string>
                <key>spriteSourceSize</key>
                <string>{171,51}</string>
                <key>textureRect</key>
                <string>{{888,0},{171,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,51}</string>
                <key>spriteSourceSize</key>
                <string>{174,51}</string>
                <key>textureRect</key>
                <string>{{1231,0},{174,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1113,1813}</string>
                <key>spriteSourceSize</key>
                <string>{1113,1813}</string>
                <key>textureRect</key>
                <string>{{0,788},{1113,1813}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1008,204}</string>
                <key>spriteSourceSize</key>
                <string>{1008,204}</string>
                <key>textureRect</key>
                <string>{{1008,364},{1008,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,70}</string>
                <key>spriteSourceSize</key>
                <string>{295,70}</string>
                <key>textureRect</key>
                <string>{{372,64},{295,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,21}</string>
                <key>spriteSourceSize</key>
                <string>{46,21}</string>
                <key>textureRect</key>
                <string>{{0,0},{46,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,186}</string>
                <key>spriteSourceSize</key>
                <string>{183,186}</string>
                <key>textureRect</key>
                <string>{{1466,64},{183,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,49}</string>
                <key>spriteSourceSize</key>
                <string>{372,49}</string>
                <key>textureRect</key>
                <string>{{0,64},{372,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,33}</string>
                <key>spriteSourceSize</key>
                <string>{78,33}</string>
                <key>textureRect</key>
                <string>{{46,0},{78,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,33}</string>
                <key>spriteSourceSize</key>
                <string>{78,33}</string>
                <key>textureRect</key>
                <string>{{124,0},{78,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Invite_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,53}</string>
                <key>spriteSourceSize</key>
                <string>{103,53}</string>
                <key>textureRect</key>
                <string>{{398,0},{103,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Invite.png</string>
            <key>size</key>
            <string>{2016,2601}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83e9425dfb8355cce820203ee47d5d1e:0fca3e54a5a06831db0c25d731126582:5ba66a3d949007e0beffd168fb1cf938$</string>
            <key>textureFileName</key>
            <string>Invite.png</string>
        </dict>
    </dict>
</plist>
