<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leader_board_ui_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{999,475}</string>
                <key>spriteSourceSize</key>
                <string>{999,475}</string>
                <key>textureRect</key>
                <string>{{1,1},{999,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{558,93}</string>
                <key>spriteSourceSize</key>
                <string>{558,163}</string>
                <key>textureRect</key>
                <string>{{1379,1060},{558,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,75}</string>
                <key>spriteSourceSize</key>
                <string>{231,79}</string>
                <key>textureRect</key>
                <string>{{1775,466},{227,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,33}</string>
                <key>textureRect</key>
                <string>{{945,838},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{88,79}</string>
                <key>textureRect</key>
                <string>{{1513,1495},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,93}</string>
                <key>spriteSourceSize</key>
                <string>{378,93}</string>
                <key>textureRect</key>
                <string>{{945,1154},{378,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,581}</string>
                <key>spriteSourceSize</key>
                <string>{387,581}</string>
                <key>textureRect</key>
                <string>{{990,571},{387,581}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,487}</string>
                <key>spriteSourceSize</key>
                <string>{315,487}</string>
                <key>textureRect</key>
                <string>{{1697,571},{315,487}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,487}</string>
                <key>spriteSourceSize</key>
                <string>{316,487}</string>
                <key>textureRect</key>
                <string>{{1379,571},{316,487}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,66}</string>
                <key>spriteSourceSize</key>
                <string>{253,66}</string>
                <key>textureRect</key>
                <string>{{945,1306},{253,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,63}</string>
                <key>spriteSourceSize</key>
                <string>{255,67}</string>
                <key>textureRect</key>
                <string>{{945,1374},{251,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{301,55}</string>
                <key>spriteSourceSize</key>
                <string>{303,57}</string>
                <key>textureRect</key>
                <string>{{945,1249},{301,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,338}</string>
                <key>spriteSourceSize</key>
                <string>{343,338}</string>
                <key>textureRect</key>
                <string>{{1325,1155},{343,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,76}</string>
                <key>spriteSourceSize</key>
                <string>{150,78}</string>
                <key>textureRect</key>
                <string>{{1108,1439},{148,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,75}</string>
                <key>spriteSourceSize</key>
                <string>{151,79}</string>
                <key>textureRect</key>
                <string>{{1108,1517},{147,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{987,358}</string>
                <key>spriteSourceSize</key>
                <string>{987,358}</string>
                <key>textureRect</key>
                <string>{{1,478},{987,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,259}</string>
                <key>spriteSourceSize</key>
                <string>{771,259}</string>
                <key>textureRect</key>
                <string>{{1002,310},{771,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{253,55}</string>
                <key>spriteSourceSize</key>
                <string>{255,57}</string>
                <key>textureRect</key>
                <string>{{1258,1495},{253,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,338}</string>
                <key>spriteSourceSize</key>
                <string>{343,338}</string>
                <key>textureRect</key>
                <string>{{1670,1155},{341,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{951,307}</string>
                <key>spriteSourceSize</key>
                <string>{951,307}</string>
                <key>textureRect</key>
                <string>{{1002,1},{951,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{942,300}</string>
                <key>spriteSourceSize</key>
                <string>{942,300}</string>
                <key>textureRect</key>
                <string>{{1,838},{942,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{942,300}</string>
                <key>spriteSourceSize</key>
                <string>{942,300}</string>
                <key>textureRect</key>
                <string>{{1,1140},{942,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1105,174}</string>
                <key>spriteSourceSize</key>
                <string>{1105,174}</string>
                <key>textureRect</key>
                <string>{{1,1442},{1105,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader_board_ui_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{1775,310},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>leader_board_ui.png</string>
            <key>size</key>
            <string>{2013,1617}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3e2ceb15e2bfa0dcd0882adbf878ea9:6ec9d5f439fe9efc5ce6f19fc03bf137:96b2b6bd57916e8a5c187dd4ff9c57a4$</string>
            <key>textureFileName</key>
            <string>leader_board_ui.png</string>
        </dict>
    </dict>
</plist>
