<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>legacy_ui_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,156}</string>
                <key>spriteSourceSize</key>
                <string>{294,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_ui_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,156}</string>
                <key>spriteSourceSize</key>
                <string>{294,156}</string>
                <key>textureRect</key>
                <string>{{1,159},{292,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_ui_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{164,131}</string>
                <key>spriteSourceSize</key>
                <string>{168,133}</string>
                <key>textureRect</key>
                <string>{{200,533},{164,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_ui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,156}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{200,666},{159,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_ui_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,78}</string>
                <key>spriteSourceSize</key>
                <string>{241,82}</string>
                <key>textureRect</key>
                <string>{{200,343},{237,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_ui_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{622,197}</string>
                <key>spriteSourceSize</key>
                <string>{628,199}</string>
                <key>textureRect</key>
                <string>{{1,317},{622,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>legacy_ui_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,185}</string>
                <key>spriteSourceSize</key>
                <string>{108,185}</string>
                <key>textureRect</key>
                <string>{{200,423},{108,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>legacy_ui_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,133}</string>
                <key>spriteSourceSize</key>
                <string>{88,135}</string>
                <key>textureRect</key>
                <string>{{332,824},{86,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_ui_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{130,133}</string>
                <key>spriteSourceSize</key>
                <string>{130,135}</string>
                <key>textureRect</key>
                <string>{{200,824},{130,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_ui_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{130,139}</string>
                <key>spriteSourceSize</key>
                <string>{130,141}</string>
                <key>textureRect</key>
                <string>{{297,1},{130,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>legacy_ui_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{208,138}</string>
                <key>spriteSourceSize</key>
                <string>{210,140}</string>
                <key>textureRect</key>
                <string>{{297,133},{208,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>legacy_ui.png</string>
            <key>size</key>
            <string>{438,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcba6b96e8646c19f356091b5628a31e:50bf9a226fefafb5f9ed7c32415af49e:259f3dc83bb1e346002078d4178f5aee$</string>
            <key>textureFileName</key>
            <string>legacy_ui.png</string>
        </dict>
    </dict>
</plist>
