<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>legacy_icon_bg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{304,152}</string>
                <key>spriteSourceSize</key>
                <string>{312,154}</string>
                <key>textureRect</key>
                <string>{{1501,1},{304,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_icon_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{304,152}</string>
                <key>spriteSourceSize</key>
                <string>{312,154}</string>
                <key>textureRect</key>
                <string>{{1501,155},{304,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_icon_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{304,152}</string>
                <key>spriteSourceSize</key>
                <string>{312,154}</string>
                <key>textureRect</key>
                <string>{{1807,1},{304,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>legacy_icon_bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{304,152}</string>
                <key>spriteSourceSize</key>
                <string>{312,154}</string>
                <key>textureRect</key>
                <string>{{1501,309},{304,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_icon_frame_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,70}</string>
                <key>spriteSourceSize</key>
                <string>{610,70}</string>
                <key>textureRect</key>
                <string>{{1,366},{610,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_icon_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,70}</string>
                <key>spriteSourceSize</key>
                <string>{610,70}</string>
                <key>textureRect</key>
                <string>{{1,438},{610,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_icon_frame_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,70}</string>
                <key>spriteSourceSize</key>
                <string>{610,70}</string>
                <key>textureRect</key>
                <string>{{613,366},{610,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_icon_frame_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,70}</string>
                <key>spriteSourceSize</key>
                <string>{610,70}</string>
                <key>textureRect</key>
                <string>{{613,438},{610,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_icon_light_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{373,363}</string>
                <key>spriteSourceSize</key>
                <string>{375,363}</string>
                <key>textureRect</key>
                <string>{{1,1},{373,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_icon_light_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{373,363}</string>
                <key>spriteSourceSize</key>
                <string>{375,363}</string>
                <key>textureRect</key>
                <string>{{376,1},{373,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_icon_light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{373,363}</string>
                <key>spriteSourceSize</key>
                <string>{375,363}</string>
                <key>textureRect</key>
                <string>{{751,1},{373,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>legacy_icon_light_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{373,363}</string>
                <key>spriteSourceSize</key>
                <string>{375,363}</string>
                <key>textureRect</key>
                <string>{{1126,1},{373,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>legacy_frame.png</string>
            <key>size</key>
            <string>{1960,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40b949d938eb86e0ddb1909a488611b3:045bd3571e5e31cbeb0a00f00f683cb1:298d1970b25f21a0b9b2f5a11b1baee7$</string>
            <key>textureFileName</key>
            <string>legacy_frame.png</string>
        </dict>
    </dict>
</plist>
