<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_stage_box_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,92}</string>
                <key>spriteSourceSize</key>
                <string>{106,92}</string>
                <key>textureRect</key>
                <string>{{144,1},{106,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_stage_box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,96}</string>
                <key>textureRect</key>
                <string>{{139,212},{112,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_stage_box_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,98}</string>
                <key>spriteSourceSize</key>
                <string>{112,98}</string>
                <key>textureRect</key>
                <string>{{139,112},{112,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_stage_open_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,108}</string>
                <key>spriteSourceSize</key>
                <string>{129,108}</string>
                <key>textureRect</key>
                <string>{{1,225},{129,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_stage_open_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{141,109}</string>
                <key>spriteSourceSize</key>
                <string>{141,111}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hall_stage_open_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,111}</string>
                <key>spriteSourceSize</key>
                <string>{136,111}</string>
                <key>textureRect</key>
                <string>{{1,112},{136,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lucky_boxs.png</string>
            <key>size</key>
            <string>{252,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dcb9d822203bbda7785d8a15f70ad3d:f99632a62331359b2c58b6f48ce32749:f98bf9e5a5c134980fa4852175dd3c91$</string>
            <key>textureFileName</key>
            <string>lucky_boxs.png</string>
        </dict>
    </dict>
</plist>
