<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mail_popu_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,621}</string>
                <key>spriteSourceSize</key>
                <string>{351,621}</string>
                <key>textureRect</key>
                <string>{{1,1},{351,621}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mail_popu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{51,57}</string>
                <key>textureRect</key>
                <string>{{842,1},{51,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mail_popu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,107}</string>
                <key>spriteSourceSize</key>
                <string>{312,111}</string>
                <key>textureRect</key>
                <string>{{1,354},{308,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail_popu_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,107}</string>
                <key>spriteSourceSize</key>
                <string>{312,111}</string>
                <key>textureRect</key>
                <string>{{311,354},{308,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail_popu_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,107}</string>
                <key>spriteSourceSize</key>
                <string>{312,111}</string>
                <key>textureRect</key>
                <string>{{621,354},{308,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail_popu_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,107}</string>
                <key>spriteSourceSize</key>
                <string>{312,111}</string>
                <key>textureRect</key>
                <string>{{624,1},{308,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mail_popu_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,107}</string>
                <key>spriteSourceSize</key>
                <string>{312,111}</string>
                <key>textureRect</key>
                <string>{{733,1},{308,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mail_menus.png</string>
            <key>size</key>
            <string>{930,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5435f631f133c288f538aba728b07c91:1a68eb6cae6cfcb8e1dc0459cd0662f2:28799c29879d059f41203c85a2f048a5$</string>
            <key>textureFileName</key>
            <string>mail_menus.png</string>
        </dict>
    </dict>
</plist>
