<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mail_hall_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{801,130}</string>
                <key>spriteSourceSize</key>
                <string>{801,130}</string>
                <key>textureRect</key>
                <string>{{364,1},{801,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mail_hall_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,92}</string>
                <key>spriteSourceSize</key>
                <string>{129,94}</string>
                <key>textureRect</key>
                <string>{{313,804},{125,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail_hall_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,81}</string>
                <key>spriteSourceSize</key>
                <string>{189,81}</string>
                <key>textureRect</key>
                <string>{{217,994},{187,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mail_hall_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,130}</string>
                <key>spriteSourceSize</key>
                <string>{312,132}</string>
                <key>textureRect</key>
                <string>{{1,793},{310,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail_hall_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,214}</string>
                <key>spriteSourceSize</key>
                <string>{243,216}</string>
                <key>textureRect</key>
                <string>{{1,925},{241,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mail_hall_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,81}</string>
                <key>spriteSourceSize</key>
                <string>{189,81}</string>
                <key>textureRect</key>
                <string>{{217,994},{187,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mail_hall_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{259,67}</string>
                <key>spriteSourceSize</key>
                <string>{261,69}</string>
                <key>textureRect</key>
                <string>{{217,925},{259,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail_hall_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,130}</string>
                <key>spriteSourceSize</key>
                <string>{312,132}</string>
                <key>textureRect</key>
                <string>{{1,529},{310,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail_hall_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,130}</string>
                <key>spriteSourceSize</key>
                <string>{312,132}</string>
                <key>textureRect</key>
                <string>{{1,661},{310,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail_hall_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,134}</string>
                <key>spriteSourceSize</key>
                <string>{169,140}</string>
                <key>textureRect</key>
                <string>{{300,994},{163,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mail_hall_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,130}</string>
                <key>spriteSourceSize</key>
                <string>{363,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{361,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail_hall_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,130}</string>
                <key>spriteSourceSize</key>
                <string>{363,132}</string>
                <key>textureRect</key>
                <string>{{1,133},{361,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail_hall_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,130}</string>
                <key>spriteSourceSize</key>
                <string>{363,132}</string>
                <key>textureRect</key>
                <string>{{1,265},{361,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail_hall_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,130}</string>
                <key>spriteSourceSize</key>
                <string>{363,132}</string>
                <key>textureRect</key>
                <string>{{1,397},{361,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mail_hall_ui.png</string>
            <key>size</key>
            <string>{495,1182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49bbe4b4db60f89f64db98ce053e4812:253fb57d7d8228a3ec13706ae1e43d16:8d2053556f3c206acc18b71f32546298$</string>
            <key>textureFileName</key>
            <string>mail_hall_ui.png</string>
        </dict>
    </dict>
</plist>
