<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_preview_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,108}</string>
                <key>spriteSourceSize</key>
                <string>{243,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{239,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_preview_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,108}</string>
                <key>spriteSourceSize</key>
                <string>{243,112}</string>
                <key>textureRect</key>
                <string>{{1,111},{239,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_preview_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{1,864},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_preview_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{1,1067},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_preview_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,108}</string>
                <key>spriteSourceSize</key>
                <string>{243,112}</string>
                <key>textureRect</key>
                <string>{{1,221},{239,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_preview_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,108}</string>
                <key>spriteSourceSize</key>
                <string>{243,112}</string>
                <key>textureRect</key>
                <string>{{1,331},{239,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_preview_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,108}</string>
                <key>spriteSourceSize</key>
                <string>{243,112}</string>
                <key>textureRect</key>
                <string>{{1,441},{239,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_preview_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,108}</string>
                <key>spriteSourceSize</key>
                <string>{243,112}</string>
                <key>textureRect</key>
                <string>{{1,551},{239,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_preview_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,81}</string>
                <key>spriteSourceSize</key>
                <string>{330,81}</string>
                <key>textureRect</key>
                <string>{{1,1270},{330,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_preview_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{84,1582},{45,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_preview_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,130}</string>
                <key>spriteSourceSize</key>
                <string>{312,132}</string>
                <key>textureRect</key>
                <string>{{84,1270},{310,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_preview_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{1,661},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_previem.png</string>
            <key>size</key>
            <string>{241,1628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4a3b271e9b77c5c25d0bd980422e794:54f8f785c7fc81236e9dd17916beea92:780879476e2a560b02c4987aa6f2b802$</string>
            <key>textureFileName</key>
            <string>monster_previem.png</string>
        </dict>
    </dict>
</plist>
