<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monthlypass_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,57}</string>
                <key>spriteSourceSize</key>
                <string>{144,57}</string>
                <key>textureRect</key>
                <string>{{689,72},{144,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,33}</string>
                <key>spriteSourceSize</key>
                <string>{64,33}</string>
                <key>textureRect</key>
                <string>{{1848,0},{64,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,33}</string>
                <key>spriteSourceSize</key>
                <string>{64,33}</string>
                <key>textureRect</key>
                <string>{{1912,0},{64,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,454}</string>
                <key>spriteSourceSize</key>
                <string>{405,454}</string>
                <key>textureRect</key>
                <string>{{0,1065},{405,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{1697,72},{70,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{389,72},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{449,72},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{509,72},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{569,72},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{629,72},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,48}</string>
                <key>spriteSourceSize</key>
                <string>{58,48}</string>
                <key>textureRect</key>
                <string>{{273,72},{58,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,57}</string>
                <key>spriteSourceSize</key>
                <string>{144,57}</string>
                <key>textureRect</key>
                <string>{{833,72},{144,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,48}</string>
                <key>spriteSourceSize</key>
                <string>{58,48}</string>
                <key>textureRect</key>
                <string>{{331,72},{58,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,141}</string>
                <key>spriteSourceSize</key>
                <string>{150,141}</string>
                <key>textureRect</key>
                <string>{{504,380},{150,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,192}</string>
                <key>spriteSourceSize</key>
                <string>{519,192}</string>
                <key>textureRect</key>
                <string>{{654,380},{519,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,39}</string>
                <key>spriteSourceSize</key>
                <string>{300,39}</string>
                <key>textureRect</key>
                <string>{{519,33},{300,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,39}</string>
                <key>spriteSourceSize</key>
                <string>{253,39}</string>
                <key>textureRect</key>
                <string>{{819,33},{253,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,39}</string>
                <key>spriteSourceSize</key>
                <string>{211,39}</string>
                <key>textureRect</key>
                <string>{{1072,33},{211,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,39}</string>
                <key>spriteSourceSize</key>
                <string>{253,39}</string>
                <key>textureRect</key>
                <string>{{1283,33},{253,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,39}</string>
                <key>spriteSourceSize</key>
                <string>{334,39}</string>
                <key>textureRect</key>
                <string>{{1536,33},{334,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{937,146},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{837,146},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,33}</string>
                <key>spriteSourceSize</key>
                <string>{63,33}</string>
                <key>textureRect</key>
                <string>{{1637,0},{63,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1126,523}</string>
                <key>spriteSourceSize</key>
                <string>{1126,523}</string>
                <key>textureRect</key>
                <string>{{405,1065},{1126,523}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,120}</string>
                <key>spriteSourceSize</key>
                <string>{670,120}</string>
                <key>textureRect</key>
                <string>{{0,260},{670,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,120}</string>
                <key>spriteSourceSize</key>
                <string>{670,120}</string>
                <key>textureRect</key>
                <string>{{670,260},{670,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,120}</string>
                <key>spriteSourceSize</key>
                <string>{670,120}</string>
                <key>textureRect</key>
                <string>{{1340,260},{670,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,114}</string>
                <key>spriteSourceSize</key>
                <string>{315,114}</string>
                <key>textureRect</key>
                <string>{{1039,146},{315,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,114}</string>
                <key>spriteSourceSize</key>
                <string>{315,114}</string>
                <key>textureRect</key>
                <string>{{1354,146},{315,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{1907,72},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{1977,72},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{0,146},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{1700,0},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,73}</string>
                <key>spriteSourceSize</key>
                <string>{70,73}</string>
                <key>textureRect</key>
                <string>{{1767,72},{70,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,73}</string>
                <key>spriteSourceSize</key>
                <string>{70,73}</string>
                <key>textureRect</key>
                <string>{{1837,72},{70,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,64}</string>
                <key>spriteSourceSize</key>
                <string>{240,64}</string>
                <key>textureRect</key>
                <string>{{977,72},{240,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,64}</string>
                <key>spriteSourceSize</key>
                <string>{240,64}</string>
                <key>textureRect</key>
                <string>{{1217,72},{240,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,64}</string>
                <key>spriteSourceSize</key>
                <string>{240,64}</string>
                <key>textureRect</key>
                <string>{{1457,72},{240,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,39}</string>
                <key>spriteSourceSize</key>
                <string>{273,39}</string>
                <key>textureRect</key>
                <string>{{0,72},{273,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,37}</string>
                <key>spriteSourceSize</key>
                <string>{273,37}</string>
                <key>textureRect</key>
                <string>{{0,33},{273,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,90}</string>
                <key>spriteSourceSize</key>
                <string>{262,90}</string>
                <key>textureRect</key>
                <string>{{374,146},{262,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,76}</string>
                <key>textureRect</key>
                <string>{{70,146},{100,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,37}</string>
                <key>spriteSourceSize</key>
                <string>{246,37}</string>
                <key>textureRect</key>
                <string>{{273,33},{246,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{57,33}</string>
                <key>textureRect</key>
                <string>{{1727,0},{57,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{27,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{54,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{81,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{108,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{135,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{162,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{189,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,81}</string>
                <key>spriteSourceSize</key>
                <string>{102,81}</string>
                <key>textureRect</key>
                <string>{{170,146},{102,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,81}</string>
                <key>spriteSourceSize</key>
                <string>{102,81}</string>
                <key>textureRect</key>
                <string>{{272,146},{102,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,99}</string>
                <key>spriteSourceSize</key>
                <string>{201,99}</string>
                <key>textureRect</key>
                <string>{{636,146},{201,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,120}</string>
                <key>spriteSourceSize</key>
                <string>{168,120}</string>
                <key>textureRect</key>
                <string>{{0,380},{168,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,120}</string>
                <key>spriteSourceSize</key>
                <string>{168,120}</string>
                <key>textureRect</key>
                <string>{{168,380},{168,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,120}</string>
                <key>spriteSourceSize</key>
                <string>{168,120}</string>
                <key>textureRect</key>
                <string>{{336,380},{168,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,30}</string>
                <key>spriteSourceSize</key>
                <string>{435,30}</string>
                <key>textureRect</key>
                <string>{{216,0},{435,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,360}</string>
                <key>spriteSourceSize</key>
                <string>{561,360}</string>
                <key>textureRect</key>
                <string>{{0,705},{561,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,114}</string>
                <key>spriteSourceSize</key>
                <string>{315,114}</string>
                <key>textureRect</key>
                <string>{{1669,146},{315,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,325}</string>
                <key>spriteSourceSize</key>
                <string>{625,325}</string>
                <key>textureRect</key>
                <string>{{1173,380},{625,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,360}</string>
                <key>spriteSourceSize</key>
                <string>{561,360}</string>
                <key>textureRect</key>
                <string>{{561,705},{561,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,30}</string>
                <key>spriteSourceSize</key>
                <string>{435,30}</string>
                <key>textureRect</key>
                <string>{{651,0},{435,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,360}</string>
                <key>spriteSourceSize</key>
                <string>{561,360}</string>
                <key>textureRect</key>
                <string>{{1122,705},{561,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{58,32}</string>
                <key>textureRect</key>
                <string>{{1521,0},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,30}</string>
                <key>spriteSourceSize</key>
                <string>{435,30}</string>
                <key>textureRect</key>
                <string>{{1086,0},{435,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{58,32}</string>
                <key>textureRect</key>
                <string>{{1579,0},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monthlypass_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,33}</string>
                <key>spriteSourceSize</key>
                <string>{64,33}</string>
                <key>textureRect</key>
                <string>{{1784,0},{64,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monthly_pass.png</string>
            <key>size</key>
            <string>{2047,1588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7eeda3f2ac4195cb321991571b45a1a:df977f81b0bc96aa5e4a02ba48e6655e:8dc6af0f269c8236fc512d141538a33d$</string>
            <key>textureFileName</key>
            <string>Monthly_pass.png</string>
        </dict>
    </dict>
</plist>
