<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>partner_fonts_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,81}</string>
                <key>spriteSourceSize</key>
                <string>{165,81}</string>
                <key>textureRect</key>
                <string>{{183,1},{165,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_fonts_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{163,79}</string>
                <key>spriteSourceSize</key>
                <string>{165,81}</string>
                <key>textureRect</key>
                <string>{{354,1},{163,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_fonts_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{102,108}</string>
                <key>textureRect</key>
                <string>{{1154,96},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{164,42}</string>
                <key>spriteSourceSize</key>
                <string>{166,46}</string>
                <key>textureRect</key>
                <string>{{266,1},{164,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_fonts_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,42}</string>
                <key>spriteSourceSize</key>
                <string>{168,46}</string>
                <key>textureRect</key>
                <string>{{310,1},{164,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_fonts_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,43}</string>
                <key>spriteSourceSize</key>
                <string>{87,45}</string>
                <key>textureRect</key>
                <string>{{498,165},{83,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,42}</string>
                <key>spriteSourceSize</key>
                <string>{87,46}</string>
                <key>textureRect</key>
                <string>{{664,132},{85,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_fonts_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,37}</string>
                <key>spriteSourceSize</key>
                <string>{102,39}</string>
                <key>textureRect</key>
                <string>{{98,183},{98,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,93}</string>
                <key>spriteSourceSize</key>
                <string>{513,93}</string>
                <key>textureRect</key>
                <string>{{734,1},{513,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,42}</string>
                <key>spriteSourceSize</key>
                <string>{132,42}</string>
                <key>textureRect</key>
                <string>{{516,1},{132,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_fonts_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,42}</string>
                <key>spriteSourceSize</key>
                <string>{132,42}</string>
                <key>textureRect</key>
                <string>{{560,1},{132,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_fonts_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{604,1},{129,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_fonts_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,79}</string>
                <key>spriteSourceSize</key>
                <string>{166,81}</string>
                <key>textureRect</key>
                <string>{{435,1},{162,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_fonts_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{896,96},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{788,96},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{1003,96},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{604,1},{129,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_fonts_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,50}</string>
                <key>spriteSourceSize</key>
                <string>{102,54}</string>
                <key>textureRect</key>
                <string>{{198,168},{98,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{298,167},{96,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{100,49}</string>
                <key>spriteSourceSize</key>
                <string>{102,51}</string>
                <key>textureRect</key>
                <string>{{396,166},{100,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,83}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{708,132},{78,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{81,87}</string>
                <key>textureRect</key>
                <string>{{583,135},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,40}</string>
                <key>spriteSourceSize</key>
                <string>{99,42}</string>
                <key>textureRect</key>
                <string>{{1,183},{95,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_fonts_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,42}</string>
                <key>spriteSourceSize</key>
                <string>{105,42}</string>
                <key>textureRect</key>
                <string>{{1110,96},{105,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>partner_fonts.png</string>
            <key>size</key>
            <string>{1253,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04a12384141a6b0dff6216311992032e:6bd76714807b692d61c304f682d61ecf:b8482b499bb221785233fd8fbe93ea17$</string>
            <key>textureFileName</key>
            <string>partner_fonts.png</string>
        </dict>
    </dict>
</plist>
