<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>partner_ui0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,95}</string>
                <key>spriteSourceSize</key>
                <string>{63,97}</string>
                <key>textureRect</key>
                <string>{{445,151},{61,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{450,97},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,151}</string>
                <key>spriteSourceSize</key>
                <string>{243,153}</string>
                <key>textureRect</key>
                <string>{{1,268},{241,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,151}</string>
                <key>spriteSourceSize</key>
                <string>{244,153}</string>
                <key>textureRect</key>
                <string>{{1,115},{242,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,151}</string>
                <key>spriteSourceSize</key>
                <string>{244,153}</string>
                <key>textureRect</key>
                <string>{{245,248},{242,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,103}</string>
                <key>spriteSourceSize</key>
                <string>{177,107}</string>
                <key>textureRect</key>
                <string>{{244,401},{173,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,103}</string>
                <key>spriteSourceSize</key>
                <string>{177,107}</string>
                <key>textureRect</key>
                <string>{{1,575},{173,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_ui15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,103}</string>
                <key>spriteSourceSize</key>
                <string>{177,107}</string>
                <key>textureRect</key>
                <string>{{235,506},{173,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,146}</string>
                <key>spriteSourceSize</key>
                <string>{153,150}</string>
                <key>textureRect</key>
                <string>{{1,421},{149,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_ui17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,99}</string>
                <key>spriteSourceSize</key>
                <string>{84,99}</string>
                <key>textureRect</key>
                <string>{{149,528},{84,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{450,1},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{450,54},{41,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_ui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{377,611},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,31}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{284,209},{34,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_ui21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{144,145}</string>
                <key>textureRect</key>
                <string>{{235,611},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{419,486},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{419,401},{83,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>partner_ui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,105}</string>
                <key>spriteSourceSize</key>
                <string>{84,105}</string>
                <key>textureRect</key>
                <string>{{149,421},{84,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{245,209},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,42}</string>
                <key>spriteSourceSize</key>
                <string>{132,42}</string>
                <key>textureRect</key>
                <string>{{245,165},{132,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,48}</string>
                <key>spriteSourceSize</key>
                <string>{198,48}</string>
                <key>textureRect</key>
                <string>{{245,115},{198,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,112}</string>
                <key>spriteSourceSize</key>
                <string>{447,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{447,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>partner_ui9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,112}</string>
                <key>spriteSourceSize</key>
                <string>{126,112}</string>
                <key>textureRect</key>
                <string>{{106,629},{126,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>partner_ui.png</string>
            <key>size</key>
            <string>{509,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afcfed1a285ca39e3b9ea97b26902f68:1987b40f545ad9f497f151a0908120bf:081132a9f5bfce601e4a1cf6302fa156$</string>
            <key>textureFileName</key>
            <string>partner_ui.png</string>
        </dict>
    </dict>
</plist>
