<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pk_Store_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,55}</string>
                <key>spriteSourceSize</key>
                <string>{61,55}</string>
                <key>textureRect</key>
                <string>{{216,85},{61,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,43}</string>
                <key>spriteSourceSize</key>
                <string>{148,43}</string>
                <key>textureRect</key>
                <string>{{216,42},{148,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,43}</string>
                <key>spriteSourceSize</key>
                <string>{148,43}</string>
                <key>textureRect</key>
                <string>{{364,42},{148,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{277,85},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{340,85},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{763,85},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{120,119}</string>
                <key>textureRect</key>
                <string>{{0,178},{120,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,42}</string>
                <key>spriteSourceSize</key>
                <string>{216,42}</string>
                <key>textureRect</key>
                <string>{{0,42},{216,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,45}</string>
                <key>spriteSourceSize</key>
                <string>{216,45}</string>
                <key>textureRect</key>
                <string>{{0,85},{216,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,43}</string>
                <key>spriteSourceSize</key>
                <string>{216,43}</string>
                <key>textureRect</key>
                <string>{{512,42},{216,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,365}</string>
                <key>spriteSourceSize</key>
                <string>{292,365}</string>
                <key>textureRect</key>
                <string>{{240,178},{292,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{60,93}</string>
                <key>textureRect</key>
                <string>{{839,85},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,366}</string>
                <key>spriteSourceSize</key>
                <string>{291,366}</string>
                <key>textureRect</key>
                <string>{{532,178},{291,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,43}</string>
                <key>spriteSourceSize</key>
                <string>{114,43}</string>
                <key>textureRect</key>
                <string>{{728,42},{114,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1012,1462}</string>
                <key>spriteSourceSize</key>
                <string>{1012,1462}</string>
                <key>textureRect</key>
                <string>{{0,544},{1012,1462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{403,85},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,42}</string>
                <key>spriteSourceSize</key>
                <string>{264,42}</string>
                <key>textureRect</key>
                <string>{{222,0},{264,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,42}</string>
                <key>spriteSourceSize</key>
                <string>{219,42}</string>
                <key>textureRect</key>
                <string>{{486,0},{219,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,42}</string>
                <key>spriteSourceSize</key>
                <string>{201,42}</string>
                <key>textureRect</key>
                <string>{{705,0},{201,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{120,178},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,37}</string>
                <key>spriteSourceSize</key>
                <string>{222,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{222,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pk_Store_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,70}</string>
                <key>spriteSourceSize</key>
                <string>{294,70}</string>
                <key>textureRect</key>
                <string>{{469,85},{294,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pk_Store.png</string>
            <key>size</key>
            <string>{1012,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52943e7d2fba7bdb31163f676df71807:d7e43847c17dfa7117258180d9ad9627:aa0e5aeb1ef8a3a2c69c79b491fdec2a$</string>
            <key>textureFileName</key>
            <string>pk_Store.png</string>
        </dict>
    </dict>
</plist>
