<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_info_ui_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,47}</string>
                <key>spriteSourceSize</key>
                <string>{99,51}</string>
                <key>textureRect</key>
                <string>{{1919,855},{97,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,98}</string>
                <key>spriteSourceSize</key>
                <string>{306,102}</string>
                <key>textureRect</key>
                <string>{{1613,804},{304,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,213}</string>
                <key>spriteSourceSize</key>
                <string>{294,213}</string>
                <key>textureRect</key>
                <string>{{914,1},{294,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{1807,386},{213,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{97,48}</string>
                <key>spriteSourceSize</key>
                <string>{99,50}</string>
                <key>textureRect</key>
                <string>{{1081,816},{97,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{534,174}</string>
                <key>spriteSourceSize</key>
                <string>{534,174}</string>
                <key>textureRect</key>
                <string>{{914,216},{534,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,50}</string>
                <key>spriteSourceSize</key>
                <string>{343,54}</string>
                <key>textureRect</key>
                <string>{{1450,335},{339,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,68}</string>
                <key>spriteSourceSize</key>
                <string>{282,70}</string>
                <key>textureRect</key>
                <string>{{801,816},{278,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,98}</string>
                <key>spriteSourceSize</key>
                <string>{199,100}</string>
                <key>textureRect</key>
                <string>{{364,884},{197,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,39}</string>
                <key>spriteSourceSize</key>
                <string>{255,39}</string>
                <key>textureRect</key>
                <string>{{1526,556},{255,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,49}</string>
                <key>spriteSourceSize</key>
                <string>{99,51}</string>
                <key>textureRect</key>
                <string>{{1919,804},{97,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,49}</string>
                <key>spriteSourceSize</key>
                <string>{147,51}</string>
                <key>textureRect</key>
                <string>{{1791,335},{145,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{891,162}</string>
                <key>spriteSourceSize</key>
                <string>{891,162}</string>
                <key>textureRect</key>
                <string>{{914,392},{891,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,85}</string>
                <key>spriteSourceSize</key>
                <string>{345,87}</string>
                <key>textureRect</key>
                <string>{{1,886},{341,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1938,306},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{801,100}</string>
                <key>spriteSourceSize</key>
                <string>{801,100}</string>
                <key>textureRect</key>
                <string>{{1210,1},{801,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,128}</string>
                <key>spriteSourceSize</key>
                <string>{138,132}</string>
                <key>textureRect</key>
                <string>{{364,754},{134,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,68}</string>
                <key>spriteSourceSize</key>
                <string>{280,72}</string>
                <key>textureRect</key>
                <string>{{751,886},{278,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,130}</string>
                <key>spriteSourceSize</key>
                <string>{363,132}</string>
                <key>textureRect</key>
                <string>{{1,754},{361,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,130}</string>
                <key>spriteSourceSize</key>
                <string>{363,132}</string>
                <key>textureRect</key>
                <string>{{887,684},{361,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,94}</string>
                <key>spriteSourceSize</key>
                <string>{190,98}</string>
                <key>textureRect</key>
                <string>{{563,885},{186,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,130}</string>
                <key>spriteSourceSize</key>
                <string>{363,132}</string>
                <key>textureRect</key>
                <string>{{1250,803},{361,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,31}</string>
                <key>spriteSourceSize</key>
                <string>{570,31}</string>
                <key>textureRect</key>
                <string>{{1450,212},{570,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{760,60}</string>
                <key>spriteSourceSize</key>
                <string>{760,60}</string>
                <key>textureRect</key>
                <string>{{1210,103},{760,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,88}</string>
                <key>spriteSourceSize</key>
                <string>{381,88}</string>
                <key>textureRect</key>
                <string>{{1450,245},{381,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,88}</string>
                <key>spriteSourceSize</key>
                <string>{580,88}</string>
                <key>textureRect</key>
                <string>{{1,664},{580,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,661}</string>
                <key>spriteSourceSize</key>
                <string>{913,663}</string>
                <key>textureRect</key>
                <string>{{1,1},{911,661}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,68}</string>
                <key>spriteSourceSize</key>
                <string>{210,72}</string>
                <key>textureRect</key>
                <string>{{1031,886},{208,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_330.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,68}</string>
                <key>spriteSourceSize</key>
                <string>{351,72}</string>
                <key>textureRect</key>
                <string>{{1613,904},{347,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_333.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{178,57}</string>
                <key>spriteSourceSize</key>
                <string>{180,61}</string>
                <key>textureRect</key>
                <string>{{1241,935},{178,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_334.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{178,59}</string>
                <key>spriteSourceSize</key>
                <string>{180,61}</string>
                <key>textureRect</key>
                <string>{{1833,245},{178,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{84,96}</string>
                <key>textureRect</key>
                <string>{{801,664},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{745,45}</string>
                <key>spriteSourceSize</key>
                <string>{745,45}</string>
                <key>textureRect</key>
                <string>{{1210,165},{745,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,126}</string>
                <key>spriteSourceSize</key>
                <string>{610,126}</string>
                <key>textureRect</key>
                <string>{{914,556},{610,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,200}</string>
                <key>spriteSourceSize</key>
                <string>{280,200}</string>
                <key>textureRect</key>
                <string>{{1526,601},{280,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{1808,601},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,219}</string>
                <key>spriteSourceSize</key>
                <string>{216,219}</string>
                <key>textureRect</key>
                <string>{{583,664},{216,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info_ui_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,86}</string>
                <key>spriteSourceSize</key>
                <string>{234,90}</string>
                <key>textureRect</key>
                <string>{{1250,684},{230,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_info_ui.png</string>
            <key>size</key>
            <string>{2021,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:257d3ff8584095ed905325045b7b6893:012362e5f0273c75c39d4f469fa608a5:5779be79fb20a98a7432da334439e9f0$</string>
            <key>textureFileName</key>
            <string>player_info_ui.png</string>
        </dict>
    </dict>
</plist>
