<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Receive_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,305}</string>
                <key>spriteSourceSize</key>
                <string>{550,305}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Receive_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{550,0},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Receive_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{751,0},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Receive_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{0,305},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Receive_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{798,575}</string>
                <key>spriteSourceSize</key>
                <string>{798,575}</string>
                <key>textureRect</key>
                <string>{{201,305},{798,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Receive.png</string>
            <key>size</key>
            <string>{999,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:162a0e31ab8672631cb9ac3f4070966d:4d02054dd4af44956d6ce9284300c861:1fbf2657d232c788304887cd914875f1$</string>
            <key>textureFileName</key>
            <string>Receive.png</string>
        </dict>
    </dict>
</plist>
