<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Regular_check-in_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{0,0},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,33}</string>
                <key>spriteSourceSize</key>
                <string>{42,33}</string>
                <key>textureRect</key>
                <string>{{132,0},{42,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,33}</string>
                <key>spriteSourceSize</key>
                <string>{63,33}</string>
                <key>textureRect</key>
                <string>{{174,0},{63,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,33}</string>
                <key>spriteSourceSize</key>
                <string>{45,33}</string>
                <key>textureRect</key>
                <string>{{237,0},{45,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,33}</string>
                <key>spriteSourceSize</key>
                <string>{45,33}</string>
                <key>textureRect</key>
                <string>{{282,0},{45,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,33}</string>
                <key>spriteSourceSize</key>
                <string>{45,33}</string>
                <key>textureRect</key>
                <string>{{327,0},{45,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,33}</string>
                <key>spriteSourceSize</key>
                <string>{66,33}</string>
                <key>textureRect</key>
                <string>{{372,0},{66,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,33}</string>
                <key>spriteSourceSize</key>
                <string>{66,33}</string>
                <key>textureRect</key>
                <string>{{438,0},{66,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,81}</string>
                <key>spriteSourceSize</key>
                <string>{85,81}</string>
                <key>textureRect</key>
                <string>{{459,63},{85,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,65}</string>
                <key>spriteSourceSize</key>
                <string>{79,65}</string>
                <key>textureRect</key>
                <string>{{232,63},{79,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,87}</string>
                <key>spriteSourceSize</key>
                <string>{64,87}</string>
                <key>textureRect</key>
                <string>{{544,63},{64,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{311,63},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,72}</string>
                <key>spriteSourceSize</key>
                <string>{75,72}</string>
                <key>textureRect</key>
                <string>{{384,63},{75,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,92}</string>
                <key>spriteSourceSize</key>
                <string>{82,92}</string>
                <key>textureRect</key>
                <string>{{608,63},{82,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,51}</string>
                <key>spriteSourceSize</key>
                <string>{129,51}</string>
                <key>textureRect</key>
                <string>{{609,0},{129,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,51}</string>
                <key>spriteSourceSize</key>
                <string>{129,51}</string>
                <key>textureRect</key>
                <string>{{738,0},{129,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,51}</string>
                <key>spriteSourceSize</key>
                <string>{129,51}</string>
                <key>textureRect</key>
                <string>{{867,0},{129,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,51}</string>
                <key>spriteSourceSize</key>
                <string>{129,51}</string>
                <key>textureRect</key>
                <string>{{996,0},{129,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,51}</string>
                <key>spriteSourceSize</key>
                <string>{129,51}</string>
                <key>textureRect</key>
                <string>{{1125,0},{129,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,51}</string>
                <key>spriteSourceSize</key>
                <string>{129,51}</string>
                <key>textureRect</key>
                <string>{{1254,0},{129,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,42}</string>
                <key>spriteSourceSize</key>
                <string>{105,42}</string>
                <key>textureRect</key>
                <string>{{504,0},{105,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1338,63},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1458,63},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{0,183},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{120,183},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{18,0},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,93}</string>
                <key>spriteSourceSize</key>
                <string>{324,93}</string>
                <key>textureRect</key>
                <string>{{690,63},{324,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,93}</string>
                <key>spriteSourceSize</key>
                <string>{324,93}</string>
                <key>textureRect</key>
                <string>{{1014,63},{324,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,306}</string>
                <key>spriteSourceSize</key>
                <string>{315,306}</string>
                <key>textureRect</key>
                <string>{{0,459},{315,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,63}</string>
                <key>spriteSourceSize</key>
                <string>{231,63}</string>
                <key>textureRect</key>
                <string>{{1383,0},{231,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,64}</string>
                <key>spriteSourceSize</key>
                <string>{232,64}</string>
                <key>textureRect</key>
                <string>{{0,63},{232,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,33}</string>
                <key>spriteSourceSize</key>
                <string>{24,33}</string>
                <key>textureRect</key>
                <string>{{66,0},{24,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,276}</string>
                <key>spriteSourceSize</key>
                <string>{294,276}</string>
                <key>textureRect</key>
                <string>{{1261,183},{294,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,252}</string>
                <key>spriteSourceSize</key>
                <string>{900,252}</string>
                <key>textureRect</key>
                <string>{{361,183},{900,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1014,1349}</string>
                <key>spriteSourceSize</key>
                <string>{1014,1349}</string>
                <key>textureRect</key>
                <string>{{315,459},{1014,1349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{42,0},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,127}</string>
                <key>spriteSourceSize</key>
                <string>{121,127}</string>
                <key>textureRect</key>
                <string>{{240,183},{121,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Regular_check-in_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,33}</string>
                <key>spriteSourceSize</key>
                <string>{42,33}</string>
                <key>textureRect</key>
                <string>{{90,0},{42,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Regular_check-in.png</string>
            <key>size</key>
            <string>{1614,1808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42282b2c648e2449a864a990a4b83237:cd74bebb1c2be006d6aa3d50421dca0a:ba43d335dc847b5c72ad06ffac50433d$</string>
            <key>textureFileName</key>
            <string>Regular_check-in.png</string>
        </dict>
    </dict>
</plist>
