<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>settings_ui_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,67}</string>
                <key>spriteSourceSize</key>
                <string>{57,69}</string>
                <key>textureRect</key>
                <string>{{189,164},{53,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settings_ui_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{117,164},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settings_ui_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,79}</string>
                <key>spriteSourceSize</key>
                <string>{165,81}</string>
                <key>textureRect</key>
                <string>{{117,1},{161,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settings_ui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,52}</string>
                <key>spriteSourceSize</key>
                <string>{105,54}</string>
                <key>textureRect</key>
                <string>{{828,133},{103,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settings_ui_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,51}</string>
                <key>spriteSourceSize</key>
                <string>{105,55}</string>
                <key>textureRect</key>
                <string>{{828,187},{101,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settings_ui_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,55}</string>
                <key>spriteSourceSize</key>
                <string>{217,57}</string>
                <key>textureRect</key>
                <string>{{60,1},{215,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settings_ui_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,57}</string>
                <key>spriteSourceSize</key>
                <string>{219,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{217,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settings_ui_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,130}</string>
                <key>spriteSourceSize</key>
                <string>{363,132}</string>
                <key>textureRect</key>
                <string>{{198,1},{361,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settings_ui_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,130}</string>
                <key>spriteSourceSize</key>
                <string>{363,132}</string>
                <key>textureRect</key>
                <string>{{561,1},{361,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settings_ui_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,110}</string>
                <key>spriteSourceSize</key>
                <string>{292,112}</string>
                <key>textureRect</key>
                <string>{{244,133},{290,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settings_ui_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,110}</string>
                <key>spriteSourceSize</key>
                <string>{292,112}</string>
                <key>textureRect</key>
                <string>{{536,133},{290,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>settings_ui.png</string>
            <key>size</key>
            <string>{932,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fac0051e9eca444300dc79611cfb7f7:6315268499e52719941b0ce6ee3f63f5:7d0c623fcfd3858087736d9479af07c6$</string>
            <key>textureFileName</key>
            <string>settings_ui.png</string>
        </dict>
    </dict>
</plist>
