<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_item_ui_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,291}</string>
                <key>spriteSourceSize</key>
                <string>{304,291}</string>
                <key>textureRect</key>
                <string>{{1508,1170},{304,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_ui_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1170,15}</string>
                <key>spriteSourceSize</key>
                <string>{1170,15}</string>
                <key>textureRect</key>
                <string>{{1579,0},{1170,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_item_ui_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,409}</string>
                <key>spriteSourceSize</key>
                <string>{319,409}</string>
                <key>textureRect</key>
                <string>{{1059,1084},{319,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_item_ui_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,301}</string>
                <key>spriteSourceSize</key>
                <string>{319,301}</string>
                <key>textureRect</key>
                <string>{{1594,0},{319,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_item_ui_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1084,495}</string>
                <key>spriteSourceSize</key>
                <string>{1084,495}</string>
                <key>textureRect</key>
                <string>{{1084,0},{1084,495}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_item_ui_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1084,495}</string>
                <key>spriteSourceSize</key>
                <string>{1084,495}</string>
                <key>textureRect</key>
                <string>{{0,495},{1084,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_ui_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,471}</string>
                <key>spriteSourceSize</key>
                <string>{960,471}</string>
                <key>textureRect</key>
                <string>{{0,990},{960,471}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_ui_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,40}</string>
                <key>spriteSourceSize</key>
                <string>{295,40}</string>
                <key>textureRect</key>
                <string>{{1468,1084},{295,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_item_ui_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,130}</string>
                <key>spriteSourceSize</key>
                <string>{265,132}</string>
                <key>textureRect</key>
                <string>{{1594,636},{263,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_item_ui_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{263,130}</string>
                <key>spriteSourceSize</key>
                <string>{265,132}</string>
                <key>textureRect</key>
                <string>{{1724,636},{263,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_item_ui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{1508,1084},{67,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_item_ui_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{960,1290},{64,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_item_ui_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,99}</string>
                <key>spriteSourceSize</key>
                <string>{300,99}</string>
                <key>textureRect</key>
                <string>{{960,990},{300,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop_item_ui_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,144}</string>
                <key>spriteSourceSize</key>
                <string>{207,144}</string>
                <key>textureRect</key>
                <string>{{1594,899},{207,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_ui_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1084,495}</string>
                <key>spriteSourceSize</key>
                <string>{1084,495}</string>
                <key>textureRect</key>
                <string>{{0,0},{1084,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_ui_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,301}</string>
                <key>spriteSourceSize</key>
                <string>{319,301}</string>
                <key>textureRect</key>
                <string>{{1594,319},{317,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop_ui.png</string>
            <key>size</key>
            <string>{1895,1461}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c1ed0c75b569a5bd253d381cb7d5fd0:2fa461ffa3c10ae08ebdc781bd236e63:40c83d86debe9a468d0cb07e3f07ae33$</string>
            <key>textureFileName</key>
            <string>shop_ui.png</string>
        </dict>
    </dict>
</plist>
