<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_item_fonts_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,46}</string>
                <key>spriteSourceSize</key>
                <string>{135,48}</string>
                <key>textureRect</key>
                <string>{{619,404},{131,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,46}</string>
                <key>spriteSourceSize</key>
                <string>{135,48}</string>
                <key>textureRect</key>
                <string>{{587,452},{131,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,121}</string>
                <key>spriteSourceSize</key>
                <string>{181,121}</string>
                <key>textureRect</key>
                <string>{{404,445},{181,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,122}</string>
                <key>spriteSourceSize</key>
                <string>{219,122}</string>
                <key>textureRect</key>
                <string>{{796,156},{219,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,124}</string>
                <key>spriteSourceSize</key>
                <string>{211,124}</string>
                <key>textureRect</key>
                <string>{{784,280},{211,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,123}</string>
                <key>spriteSourceSize</key>
                <string>{189,123}</string>
                <key>textureRect</key>
                <string>{{428,320},{189,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,153}</string>
                <key>spriteSourceSize</key>
                <string>{196,153}</string>
                <key>textureRect</key>
                <string>{{796,1},{196,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,153}</string>
                <key>spriteSourceSize</key>
                <string>{246,153}</string>
                <key>textureRect</key>
                <string>{{536,165},{246,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,222}</string>
                <key>spriteSourceSize</key>
                <string>{261,222}</string>
                <key>textureRect</key>
                <string>{{1,228},{261,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,228}</string>
                <key>spriteSourceSize</key>
                <string>{261,228}</string>
                <key>textureRect</key>
                <string>{{273,1},{261,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,225}</string>
                <key>spriteSourceSize</key>
                <string>{270,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,72}</string>
                <key>spriteSourceSize</key>
                <string>{300,76}</string>
                <key>textureRect</key>
                <string>{{587,539},{296,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{296,74}</string>
                <key>spriteSourceSize</key>
                <string>{298,76}</string>
                <key>textureRect</key>
                <string>{{720,463},{296,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,55}</string>
                <key>spriteSourceSize</key>
                <string>{220,57}</string>
                <key>textureRect</key>
                <string>{{1,570},{218,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,57}</string>
                <key>spriteSourceSize</key>
                <string>{220,57}</string>
                <key>textureRect</key>
                <string>{{1,452},{220,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,55}</string>
                <key>spriteSourceSize</key>
                <string>{220,57}</string>
                <key>textureRect</key>
                <string>{{752,406},{218,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,57}</string>
                <key>spriteSourceSize</key>
                <string>{220,57}</string>
                <key>textureRect</key>
                <string>{{1,511},{220,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,151}</string>
                <key>spriteSourceSize</key>
                <string>{138,151}</string>
                <key>textureRect</key>
                <string>{{264,383},{138,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,33}</string>
                <key>spriteSourceSize</key>
                <string>{121,37}</string>
                <key>textureRect</key>
                <string>{{587,500},{119,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,82}</string>
                <key>spriteSourceSize</key>
                <string>{154,82}</string>
                <key>textureRect</key>
                <string>{{619,320},{154,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{264,231},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,162}</string>
                <key>spriteSourceSize</key>
                <string>{258,162}</string>
                <key>textureRect</key>
                <string>{{536,1},{258,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,43}</string>
                <key>spriteSourceSize</key>
                <string>{171,45}</string>
                <key>textureRect</key>
                <string>{{223,536},{171,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,72}</string>
                <key>spriteSourceSize</key>
                <string>{298,76}</string>
                <key>textureRect</key>
                <string>{{221,581},{294,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_fonts_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,46}</string>
                <key>spriteSourceSize</key>
                <string>{370,48}</string>
                <key>textureRect</key>
                <string>{{517,613},{368,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop_item.png</string>
            <key>size</key>
            <string>{1017,660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49cc36e6ea3ba0f8961398d49f1b5e4e:b1e8b614ee16b9fb6aee473d28ae8fb8:5291469c03564b7a61a9a1e65f46cd5e$</string>
            <key>textureFileName</key>
            <string>shop_item.png</string>
        </dict>
    </dict>
</plist>
