<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tree_atk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,160}</string>
                <key>spriteSourceSize</key>
                <string>{165,160}</string>
                <key>textureRect</key>
                <string>{{494,507},{165,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_atk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,159}</string>
                <key>spriteSourceSize</key>
                <string>{165,159}</string>
                <key>textureRect</key>
                <string>{{675,674},{165,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_dun_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,160}</string>
                <key>spriteSourceSize</key>
                <string>{165,160}</string>
                <key>textureRect</key>
                <string>{{513,674},{165,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_dun_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,159}</string>
                <key>spriteSourceSize</key>
                <string>{165,159}</string>
                <key>textureRect</key>
                <string>{{818,507},{165,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_fram_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{89,511},{213,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_fram_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,188}</string>
                <key>spriteSourceSize</key>
                <string>{189,188}</string>
                <key>textureRect</key>
                <string>{{304,507},{189,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_fram_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,162}</string>
                <key>spriteSourceSize</key>
                <string>{169,162}</string>
                <key>textureRect</key>
                <string>{{344,698},{167,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_icon_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,83}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{45,764},{97,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{919,183},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,87}</string>
                <key>spriteSourceSize</key>
                <string>{105,87}</string>
                <key>textureRect</key>
                <string>{{919,1},{103,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_icon_s_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,124}</string>
                <key>spriteSourceSize</key>
                <string>{121,128}</string>
                <key>textureRect</key>
                <string>{{130,726},{117,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_index_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{93,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,111}</string>
                <key>textureRect</key>
                <string>{{249,726},{93,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_index_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,86}</string>
                <key>spriteSourceSize</key>
                <string>{75,86}</string>
                <key>textureRect</key>
                <string>{{919,106},{75,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_rect_h_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,42}</string>
                <key>spriteSourceSize</key>
                <string>{508,42}</string>
                <key>textureRect</key>
                <string>{{89,1},{508,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_rect_h_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,42}</string>
                <key>spriteSourceSize</key>
                <string>{508,42}</string>
                <key>textureRect</key>
                <string>{{133,1},{508,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_rect_s_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,761}</string>
                <key>spriteSourceSize</key>
                <string>{42,761}</string>
                <key>textureRect</key>
                <string>{{45,1},{42,761}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_rect_s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,860}</string>
                <key>spriteSourceSize</key>
                <string>{42,860}</string>
                <key>textureRect</key>
                <string>{{1,1},{42,860}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_rect_x_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,369}</string>
                <key>spriteSourceSize</key>
                <string>{504,369}</string>
                <key>textureRect</key>
                <string>{{177,1},{504,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_rect_x_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,369}</string>
                <key>spriteSourceSize</key>
                <string>{504,369}</string>
                <key>textureRect</key>
                <string>{{548,1},{504,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_xin_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,160}</string>
                <key>spriteSourceSize</key>
                <string>{165,160}</string>
                <key>textureRect</key>
                <string>{{656,507},{165,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_xin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,159}</string>
                <key>spriteSourceSize</key>
                <string>{165,159}</string>
                <key>textureRect</key>
                <string>{{836,674},{165,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_tree.png</string>
            <key>size</key>
            <string>{1007,862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f532c5151d8acbe7678c777cbdf2f37d:073962e725ce6908cdf4aef7b08fc387:322abecb20f8e4620bcb6a0e2693b9ab$</string>
            <key>textureFileName</key>
            <string>skill_tree.png</string>
        </dict>
    </dict>
</plist>
