<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skin_preview_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,85}</string>
                <key>spriteSourceSize</key>
                <string>{225,85}</string>
                <key>textureRect</key>
                <string>{{1337,100},{225,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,54}</string>
                <key>spriteSourceSize</key>
                <string>{69,54}</string>
                <key>textureRect</key>
                <string>{{1468,294},{69,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,79}</string>
                <key>spriteSourceSize</key>
                <string>{402,87}</string>
                <key>textureRect</key>
                <string>{{941,153},{394,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,79}</string>
                <key>spriteSourceSize</key>
                <string>{402,87}</string>
                <key>textureRect</key>
                <string>{{941,234},{394,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-35}</string>
                <key>spriteSize</key>
                <string>{314,468}</string>
                <key>spriteSourceSize</key>
                <string>{462,546}</string>
                <key>textureRect</key>
                <string>{{1,153},{314,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin_preview_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-35}</string>
                <key>spriteSize</key>
                <string>{314,468}</string>
                <key>spriteSourceSize</key>
                <string>{462,546}</string>
                <key>textureRect</key>
                <string>{{471,153},{314,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin_preview_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{1218,100},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,65}</string>
                <key>spriteSourceSize</key>
                <string>{261,69}</string>
                <key>textureRect</key>
                <string>{{941,395},{259,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,62}</string>
                <key>spriteSourceSize</key>
                <string>{55,62}</string>
                <key>textureRect</key>
                <string>{{1530,350},{55,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin_preview_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{1277,100},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,65}</string>
                <key>spriteSourceSize</key>
                <string>{262,69}</string>
                <key>textureRect</key>
                <string>{{1208,315},{258,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1215,150}</string>
                <key>spriteSourceSize</key>
                <string>{1215,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{1215,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,78}</string>
                <key>spriteSourceSize</key>
                <string>{265,78}</string>
                <key>textureRect</key>
                <string>{{941,315},{265,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,48}</string>
                <key>spriteSourceSize</key>
                <string>{171,48}</string>
                <key>textureRect</key>
                <string>{{1208,382},{171,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,41}</string>
                <key>spriteSourceSize</key>
                <string>{151,43}</string>
                <key>textureRect</key>
                <string>{{1381,382},{147,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{147,41}</string>
                <key>spriteSourceSize</key>
                <string>{151,43}</string>
                <key>textureRect</key>
                <string>{{1381,425},{147,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,114}</string>
                <key>spriteSourceSize</key>
                <string>{123,114}</string>
                <key>textureRect</key>
                <string>{{1337,187},{123,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,105}</string>
                <key>spriteSourceSize</key>
                <string>{96,105}</string>
                <key>textureRect</key>
                <string>{{1462,187},{96,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_preview_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,97}</string>
                <key>spriteSourceSize</key>
                <string>{378,99}</string>
                <key>textureRect</key>
                <string>{{1218,1},{374,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skin_preview.png</string>
            <key>size</key>
            <string>{1593,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3c7d571e40e592f15e78b1d7b866569:caa161c28cb3df1fdd5020538af10bdf:97b440dcfdb8a5c594911aff55f9405b$</string>
            <key>textureFileName</key>
            <string>skin_preview.png</string>
        </dict>
    </dict>
</plist>
