<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Summon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,117}</string>
                <key>spriteSourceSize</key>
                <string>{97,117}</string>
                <key>textureRect</key>
                <string>{{97,369},{97,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,105}</string>
                <key>spriteSourceSize</key>
                <string>{111,105}</string>
                <key>textureRect</key>
                <string>{{1272,253},{111,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{72,42}</string>
                <key>textureRect</key>
                <string>{{415,0},{72,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{894,90}</string>
                <key>spriteSourceSize</key>
                <string>{894,90}</string>
                <key>textureRect</key>
                <string>{{378,253},{894,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,54}</string>
                <key>spriteSourceSize</key>
                <string>{369,54}</string>
                <key>textureRect</key>
                <string>{{954,48},{369,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,48}</string>
                <key>spriteSourceSize</key>
                <string>{160,48}</string>
                <key>textureRect</key>
                <string>{{1199,0},{160,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,78}</string>
                <key>spriteSourceSize</key>
                <string>{151,78}</string>
                <key>textureRect</key>
                <string>{{933,173},{151,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,78}</string>
                <key>spriteSourceSize</key>
                <string>{153,78}</string>
                <key>textureRect</key>
                <string>{{1084,173},{153,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,81}</string>
                <key>spriteSourceSize</key>
                <string>{297,81}</string>
                <key>textureRect</key>
                <string>{{0,253},{297,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,78}</string>
                <key>spriteSourceSize</key>
                <string>{150,78}</string>
                <key>textureRect</key>
                <string>{{1237,173},{150,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,66}</string>
                <key>spriteSourceSize</key>
                <string>{63,66}</string>
                <key>textureRect</key>
                <string>{{1051,102},{63,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,80}</string>
                <key>spriteSourceSize</key>
                <string>{153,80}</string>
                <key>textureRect</key>
                <string>{{1387,173},{153,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{892,102},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{81,87}</string>
                <key>textureRect</key>
                <string>{{297,253},{81,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{946,102},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,45}</string>
                <key>spriteSourceSize</key>
                <string>{207,45}</string>
                <key>textureRect</key>
                <string>{{487,0},{207,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{933,72}</string>
                <key>spriteSourceSize</key>
                <string>{933,72}</string>
                <key>textureRect</key>
                <string>{{0,173},{933,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,48}</string>
                <key>spriteSourceSize</key>
                <string>{198,48}</string>
                <key>textureRect</key>
                <string>{{1359,0},{198,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,48}</string>
                <key>spriteSourceSize</key>
                <string>{198,48}</string>
                <key>textureRect</key>
                <string>{{1557,0},{198,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,117}</string>
                <key>spriteSourceSize</key>
                <string>{409,117}</string>
                <key>textureRect</key>
                <string>{{194,369},{409,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,117}</string>
                <key>spriteSourceSize</key>
                <string>{270,117}</string>
                <key>textureRect</key>
                <string>{{603,369},{270,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,40}</string>
                <key>spriteSourceSize</key>
                <string>{220,40}</string>
                <key>textureRect</key>
                <string>{{72,0},{220,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,117}</string>
                <key>spriteSourceSize</key>
                <string>{268,117}</string>
                <key>textureRect</key>
                <string>{{873,369},{268,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,117}</string>
                <key>spriteSourceSize</key>
                <string>{306,117}</string>
                <key>textureRect</key>
                <string>{{1141,369},{306,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,117}</string>
                <key>spriteSourceSize</key>
                <string>{409,117}</string>
                <key>textureRect</key>
                <string>{{0,486},{409,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,117}</string>
                <key>spriteSourceSize</key>
                <string>{268,117}</string>
                <key>textureRect</key>
                <string>{{409,486},{268,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1113,748}</string>
                <key>spriteSourceSize</key>
                <string>{1113,748}</string>
                <key>textureRect</key>
                <string>{{595,628},{1113,748}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1113,142}</string>
                <key>spriteSourceSize</key>
                <string>{1113,142}</string>
                <key>textureRect</key>
                <string>{{677,486},{1113,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{115,116}</string>
                <key>textureRect</key>
                <string>{{1636,253},{115,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,254}</string>
                <key>spriteSourceSize</key>
                <string>{207,254}</string>
                <key>textureRect</key>
                <string>{{0,628},{207,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,48}</string>
                <key>spriteSourceSize</key>
                <string>{157,48}</string>
                <key>textureRect</key>
                <string>{{0,48},{157,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,40}</string>
                <key>spriteSourceSize</key>
                <string>{123,40}</string>
                <key>textureRect</key>
                <string>{{292,0},{123,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,48}</string>
                <key>spriteSourceSize</key>
                <string>{157,48}</string>
                <key>textureRect</key>
                <string>{{157,48},{157,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,48}</string>
                <key>spriteSourceSize</key>
                <string>{157,48}</string>
                <key>textureRect</key>
                <string>{{314,48},{157,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,46}</string>
                <key>spriteSourceSize</key>
                <string>{297,46}</string>
                <key>textureRect</key>
                <string>{{902,0},{297,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,54}</string>
                <key>spriteSourceSize</key>
                <string>{198,54}</string>
                <key>textureRect</key>
                <string>{{1323,48},{198,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,54}</string>
                <key>spriteSourceSize</key>
                <string>{198,54}</string>
                <key>textureRect</key>
                <string>{{1521,48},{198,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,45}</string>
                <key>spriteSourceSize</key>
                <string>{208,45}</string>
                <key>textureRect</key>
                <string>{{694,0},{208,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{696,102},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,57}</string>
                <key>spriteSourceSize</key>
                <string>{46,57}</string>
                <key>textureRect</key>
                <string>{{753,102},{46,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,57}</string>
                <key>textureRect</key>
                <string>{{799,102},{48,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,57}</string>
                <key>spriteSourceSize</key>
                <string>{45,57}</string>
                <key>textureRect</key>
                <string>{{847,102},{45,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,36}</string>
                <key>spriteSourceSize</key>
                <string>{72,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,59}</string>
                <key>spriteSourceSize</key>
                <string>{51,59}</string>
                <key>textureRect</key>
                <string>{{1000,102},{51,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,71}</string>
                <key>spriteSourceSize</key>
                <string>{79,71}</string>
                <key>textureRect</key>
                <string>{{1237,102},{79,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,54}</string>
                <key>spriteSourceSize</key>
                <string>{696,54}</string>
                <key>textureRect</key>
                <string>{{0,102},{696,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,66}</string>
                <key>spriteSourceSize</key>
                <string>{123,66}</string>
                <key>textureRect</key>
                <string>{{1114,102},{123,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,48}</string>
                <key>spriteSourceSize</key>
                <string>{483,48}</string>
                <key>textureRect</key>
                <string>{{471,48},{483,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{109,107}</string>
                <key>textureRect</key>
                <string>{{1383,253},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,116}</string>
                <key>spriteSourceSize</key>
                <string>{144,116}</string>
                <key>textureRect</key>
                <string>{{1492,253},{144,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,318}</string>
                <key>spriteSourceSize</key>
                <string>{388,318}</string>
                <key>textureRect</key>
                <string>{{207,628},{388,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,117}</string>
                <key>spriteSourceSize</key>
                <string>{97,117}</string>
                <key>textureRect</key>
                <string>{{0,369},{97,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Summon.png</string>
            <key>size</key>
            <string>{1790,1376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99bc9e64773de19e05deb1bf3f198adf:c8c2d34e22d0ca3f707c30a247dc055d:86b30beee747f09228517752fe7d879e$</string>
            <key>textureFileName</key>
            <string>Summon.png</string>
        </dict>
    </dict>
</plist>
