<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Team up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,30}</string>
                <key>spriteSourceSize</key>
                <string>{147,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{147,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,137}</string>
                <key>spriteSourceSize</key>
                <string>{118,137}</string>
                <key>textureRect</key>
                <string>{{790,164},{118,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,48}</string>
                <key>spriteSourceSize</key>
                <string>{319,48}</string>
                <key>textureRect</key>
                <string>{{0,47},{319,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,57}</string>
                <key>spriteSourceSize</key>
                <string>{133,57}</string>
                <key>textureRect</key>
                <string>{{789,47},{133,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,57}</string>
                <key>spriteSourceSize</key>
                <string>{142,57}</string>
                <key>textureRect</key>
                <string>{{922,47},{142,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,43}</string>
                <key>spriteSourceSize</key>
                <string>{228,43}</string>
                <key>textureRect</key>
                <string>{{450,0},{228,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,57}</string>
                <key>spriteSourceSize</key>
                <string>{216,57}</string>
                <key>textureRect</key>
                <string>{{1064,47},{216,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,48}</string>
                <key>spriteSourceSize</key>
                <string>{91,48}</string>
                <key>textureRect</key>
                <string>{{319,47},{91,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1478,164},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{1608,164},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,60}</string>
                <key>spriteSourceSize</key>
                <string>{420,60}</string>
                <key>textureRect</key>
                <string>{{463,104},{420,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,37}</string>
                <key>spriteSourceSize</key>
                <string>{159,37}</string>
                <key>textureRect</key>
                <string>{{243,0},{159,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,60}</string>
                <key>spriteSourceSize</key>
                <string>{420,60}</string>
                <key>textureRect</key>
                <string>{{883,104},{420,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,60}</string>
                <key>spriteSourceSize</key>
                <string>{420,60}</string>
                <key>textureRect</key>
                <string>{{1303,104},{420,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,60}</string>
                <key>spriteSourceSize</key>
                <string>{420,60}</string>
                <key>textureRect</key>
                <string>{{0,164},{420,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,57}</string>
                <key>spriteSourceSize</key>
                <string>{246,57}</string>
                <key>textureRect</key>
                <string>{{1280,47},{246,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,57}</string>
                <key>spriteSourceSize</key>
                <string>{246,57}</string>
                <key>textureRect</key>
                <string>{{0,104},{246,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,138}</string>
                <key>spriteSourceSize</key>
                <string>{420,138}</string>
                <key>textureRect</key>
                <string>{{908,164},{420,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,57}</string>
                <key>spriteSourceSize</key>
                <string>{217,57}</string>
                <key>textureRect</key>
                <string>{{246,104},{217,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,44}</string>
                <key>spriteSourceSize</key>
                <string>{81,44}</string>
                <key>textureRect</key>
                <string>{{836,0},{81,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,44}</string>
                <key>spriteSourceSize</key>
                <string>{81,44}</string>
                <key>textureRect</key>
                <string>{{917,0},{81,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,45}</string>
                <key>spriteSourceSize</key>
                <string>{190,45}</string>
                <key>textureRect</key>
                <string>{{998,0},{190,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,30}</string>
                <key>spriteSourceSize</key>
                <string>{96,30}</string>
                <key>textureRect</key>
                <string>{{147,0},{96,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,45}</string>
                <key>spriteSourceSize</key>
                <string>{190,45}</string>
                <key>textureRect</key>
                <string>{{1188,0},{190,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,43}</string>
                <key>spriteSourceSize</key>
                <string>{79,43}</string>
                <key>textureRect</key>
                <string>{{678,0},{79,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,43}</string>
                <key>spriteSourceSize</key>
                <string>{79,43}</string>
                <key>textureRect</key>
                <string>{{757,0},{79,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,93}</string>
                <key>spriteSourceSize</key>
                <string>{105,93}</string>
                <key>textureRect</key>
                <string>{{685,164},{105,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{410,47},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{464,47},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,48}</string>
                <key>spriteSourceSize</key>
                <string>{204,48}</string>
                <key>textureRect</key>
                <string>{{518,47},{204,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,45}</string>
                <key>spriteSourceSize</key>
                <string>{226,45}</string>
                <key>textureRect</key>
                <string>{{1378,0},{226,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,92}</string>
                <key>spriteSourceSize</key>
                <string>{108,92}</string>
                <key>textureRect</key>
                <string>{{577,164},{108,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,190}</string>
                <key>spriteSourceSize</key>
                <string>{633,190}</string>
                <key>textureRect</key>
                <string>{{0,324},{633,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{402,0},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,53}</string>
                <key>spriteSourceSize</key>
                <string>{67,53}</string>
                <key>textureRect</key>
                <string>{{722,47},{67,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,47}</string>
                <key>spriteSourceSize</key>
                <string>{36,47}</string>
                <key>textureRect</key>
                <string>{{1604,0},{36,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,65}</string>
                <key>spriteSourceSize</key>
                <string>{78,65}</string>
                <key>textureRect</key>
                <string>{{420,164},{78,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{498,164},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,141}</string>
                <key>spriteSourceSize</key>
                <string>{150,141}</string>
                <key>textureRect</key>
                <string>{{1328,164},{150,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,1404}</string>
                <key>spriteSourceSize</key>
                <string>{501,1404}</string>
                <key>textureRect</key>
                <string>{{1134,324},{501,1404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Team up_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,1404}</string>
                <key>spriteSourceSize</key>
                <string>{501,1404}</string>
                <key>textureRect</key>
                <string>{{633,324},{501,1404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Team_up.png</string>
            <key>size</key>
            <string>{1738,1728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cafa073e5c216546fe49c00bd8ece409:4a19ff89370ef7f2c8dc2722990bef25:c7ffa0ab5a199ac22a86f2c39b7c8360$</string>
            <key>textureFileName</key>
            <string>Team_up.png</string>
        </dict>
    </dict>
</plist>
