<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>watchtower_Enchantment_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,69}</string>
                <key>spriteSourceSize</key>
                <string>{295,69}</string>
                <key>textureRect</key>
                <string>{{1533,0},{295,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1173,220}</string>
                <key>spriteSourceSize</key>
                <string>{1173,220}</string>
                <key>textureRect</key>
                <string>{{0,692},{1173,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,150}</string>
                <key>spriteSourceSize</key>
                <string>{1000,150}</string>
                <key>textureRect</key>
                <string>{{0,169},{1000,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,150}</string>
                <key>spriteSourceSize</key>
                <string>{1000,150}</string>
                <key>textureRect</key>
                <string>{{0,319},{1000,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1000,319},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1150,319},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,76}</string>
                <key>spriteSourceSize</key>
                <string>{300,76}</string>
                <key>textureRect</key>
                <string>{{516,69},{300,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{1479,69},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{1548,69},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,100}</string>
                <key>spriteSourceSize</key>
                <string>{115,100}</string>
                <key>textureRect</key>
                <string>{{1732,69},{115,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,48}</string>
                <key>spriteSourceSize</key>
                <string>{271,48}</string>
                <key>textureRect</key>
                <string>{{421,0},{271,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,33}</string>
                <key>spriteSourceSize</key>
                <string>{66,33}</string>
                <key>textureRect</key>
                <string>{{60,0},{66,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{30,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,546}</string>
                <key>spriteSourceSize</key>
                <string>{381,546}</string>
                <key>textureRect</key>
                <string>{{1173,692},{381,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,84}</string>
                <key>spriteSourceSize</key>
                <string>{63,84}</string>
                <key>textureRect</key>
                <string>{{1416,69},{63,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{0,69},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{72,69},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{144,69},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,162}</string>
                <key>spriteSourceSize</key>
                <string>{486,162}</string>
                <key>textureRect</key>
                <string>{{0,472},{486,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,153}</string>
                <key>spriteSourceSize</key>
                <string>{363,153}</string>
                <key>textureRect</key>
                <string>{{1300,319},{363,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,172}</string>
                <key>spriteSourceSize</key>
                <string>{196,172}</string>
                <key>textureRect</key>
                <string>{{486,472},{196,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,99}</string>
                <key>spriteSourceSize</key>
                <string>{115,99}</string>
                <key>textureRect</key>
                <string>{{1617,69},{115,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,48}</string>
                <key>spriteSourceSize</key>
                <string>{295,48}</string>
                <key>textureRect</key>
                <string>{{126,0},{295,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,58}</string>
                <key>spriteSourceSize</key>
                <string>{420,58}</string>
                <key>textureRect</key>
                <string>{{692,0},{420,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,75}</string>
                <key>spriteSourceSize</key>
                <string>{300,75}</string>
                <key>textureRect</key>
                <string>{{216,69},{300,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,78}</string>
                <key>spriteSourceSize</key>
                <string>{600,78}</string>
                <key>textureRect</key>
                <string>{{816,69},{600,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,58}</string>
                <key>spriteSourceSize</key>
                <string>{421,58}</string>
                <key>textureRect</key>
                <string>{{1112,0},{421,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Enchantment_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1173,220}</string>
                <key>spriteSourceSize</key>
                <string>{1173,220}</string>
                <key>textureRect</key>
                <string>{{682,472},{1173,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>watchtower_Enchantment.png</string>
            <key>size</key>
            <string>{1855,1238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7a4c77a02bee8b67d10162f2a099d89:ac5b332e7f5b45753974e2965ef1ac7a:a051db0adaf27c87ce4ac9f7a238c4f0$</string>
            <key>textureFileName</key>
            <string>watchtower_Enchantment.png</string>
        </dict>
    </dict>
</plist>
