<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Watchtower popup_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,49}</string>
                <key>spriteSourceSize</key>
                <string>{64,49}</string>
                <key>textureRect</key>
                <string>{{185,0},{64,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,58}</string>
                <key>spriteSourceSize</key>
                <string>{217,58}</string>
                <key>textureRect</key>
                <string>{{556,89},{217,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,39}</string>
                <key>spriteSourceSize</key>
                <string>{186,39}</string>
                <key>textureRect</key>
                <string>{{610,0},{186,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{894,69}</string>
                <key>spriteSourceSize</key>
                <string>{894,69}</string>
                <key>textureRect</key>
                <string>{{0,580},{894,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,51}</string>
                <key>spriteSourceSize</key>
                <string>{250,51}</string>
                <key>textureRect</key>
                <string>{{219,200},{250,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,112}</string>
                <key>spriteSourceSize</key>
                <string>{312,112}</string>
                <key>textureRect</key>
                <string>{{0,305},{312,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,57}</string>
                <key>spriteSourceSize</key>
                <string>{219,57}</string>
                <key>textureRect</key>
                <string>{{0,200},{219,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,48}</string>
                <key>spriteSourceSize</key>
                <string>{262,48}</string>
                <key>textureRect</key>
                <string>{{469,200},{262,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,48}</string>
                <key>spriteSourceSize</key>
                <string>{264,48}</string>
                <key>textureRect</key>
                <string>{{0,257},{264,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,111}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{0,89},{139,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,111}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{139,89},{139,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,49}</string>
                <key>spriteSourceSize</key>
                <string>{64,49}</string>
                <key>textureRect</key>
                <string>{{249,0},{64,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,111}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{278,89},{139,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,273}</string>
                <key>spriteSourceSize</key>
                <string>{192,273}</string>
                <key>textureRect</key>
                <string>{{496,305},{192,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,89}</string>
                <key>spriteSourceSize</key>
                <string>{117,89}</string>
                <key>textureRect</key>
                <string>{{313,0},{117,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,275}</string>
                <key>spriteSourceSize</key>
                <string>{184,275}</string>
                <key>textureRect</key>
                <string>{{312,305},{184,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,111}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{417,89},{139,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,501}</string>
                <key>spriteSourceSize</key>
                <string>{900,501}</string>
                <key>textureRect</key>
                <string>{{0,649},{900,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{31,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,30}</string>
                <key>spriteSourceSize</key>
                <string>{180,30}</string>
                <key>textureRect</key>
                <string>{{430,0},{180,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,33}</string>
                <key>spriteSourceSize</key>
                <string>{45,33}</string>
                <key>textureRect</key>
                <string>{{31,0},{45,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{76,0},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,37}</string>
                <key>spriteSourceSize</key>
                <string>{55,37}</string>
                <key>textureRect</key>
                <string>{{130,0},{55,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,39}</string>
                <key>spriteSourceSize</key>
                <string>{297,39}</string>
                <key>textureRect</key>
                <string>{{264,257},{297,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower popup_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,39}</string>
                <key>spriteSourceSize</key>
                <string>{297,39}</string>
                <key>textureRect</key>
                <string>{{561,257},{297,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Watchtower_popup.png</string>
            <key>size</key>
            <string>{900,1150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9859491d5365fa79ad6d9f8c04d143b:1d7d3482429b84b567e080beca62f223:d695af23b9be77f3e7c8132b61b611a2$</string>
            <key>textureFileName</key>
            <string>Watchtower_popup.png</string>
        </dict>
    </dict>
</plist>
