<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>watchtower_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{410,1112},{28,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,12}</string>
                <key>spriteSourceSize</key>
                <string>{19,12}</string>
                <key>textureRect</key>
                <string>{{485,1},{19,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,53}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{388,889},{108,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,31}</string>
                <key>spriteSourceSize</key>
                <string>{111,31}</string>
                <key>textureRect</key>
                <string>{{410,999},{111,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,61}</string>
                <key>spriteSourceSize</key>
                <string>{97,61}</string>
                <key>textureRect</key>
                <string>{{217,1143},{97,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,30}</string>
                <key>spriteSourceSize</key>
                <string>{428,32}</string>
                <key>textureRect</key>
                <string>{{56,349},{426,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,27}</string>
                <key>spriteSourceSize</key>
                <string>{140,27}</string>
                <key>textureRect</key>
                <string>{{251,1018},{140,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,32}</string>
                <key>spriteSourceSize</key>
                <string>{421,32}</string>
                <key>textureRect</key>
                <string>{{88,349},{421,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,24}</string>
                <key>spriteSourceSize</key>
                <string>{408,24}</string>
                <key>textureRect</key>
                <string>{{459,1},{408,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,32}</string>
                <key>spriteSourceSize</key>
                <string>{132,32}</string>
                <key>textureRect</key>
                <string>{{251,984},{132,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,51}</string>
                <key>spriteSourceSize</key>
                <string>{257,51}</string>
                <key>textureRect</key>
                <string>{{56,777},{257,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,93}</string>
                <key>spriteSourceSize</key>
                <string>{129,93}</string>
                <key>textureRect</key>
                <string>{{257,889},{129,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{422,461},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,102}</string>
                <key>spriteSourceSize</key>
                <string>{162,102}</string>
                <key>textureRect</key>
                <string>{{122,671},{162,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,102}</string>
                <key>spriteSourceSize</key>
                <string>{163,102}</string>
                <key>textureRect</key>
                <string>{{257,785},{163,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,73}</string>
                <key>spriteSourceSize</key>
                <string>{142,75}</string>
                <key>textureRect</key>
                <string>{{109,958},{140,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,53}</string>
                <key>spriteSourceSize</key>
                <string>{678,55}</string>
                <key>textureRect</key>
                <string>{{1,349},{676,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,36}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{422,785},{77,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,26}</string>
                <key>spriteSourceSize</key>
                <string>{110,26}</string>
                <key>textureRect</key>
                <string>{{471,661},{110,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{443,864},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,49}</string>
                <key>spriteSourceSize</key>
                <string>{188,49}</string>
                <key>textureRect</key>
                <string>{{448,411},{188,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{443,970},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{443,601},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,20}</string>
                <key>spriteSourceSize</key>
                <string>{43,20}</string>
                <key>textureRect</key>
                <string>{{422,551},{43,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{443,1012},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{315,1047},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{426,1142},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,139}</string>
                <key>spriteSourceSize</key>
                <string>{150,139}</string>
                <key>textureRect</key>
                <string>{{286,644},{150,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,146}</string>
                <key>spriteSourceSize</key>
                <string>{181,146}</string>
                <key>textureRect</key>
                <string>{{274,461},{181,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,146}</string>
                <key>spriteSourceSize</key>
                <string>{181,146}</string>
                <key>textureRect</key>
                <string>{{109,775},{181,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,29}</string>
                <key>spriteSourceSize</key>
                <string>{151,29}</string>
                <key>textureRect</key>
                <string>{{1,1027},{151,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,28}</string>
                <key>spriteSourceSize</key>
                <string>{148,28}</string>
                <key>textureRect</key>
                <string>{{32,1036},{148,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,208}</string>
                <key>spriteSourceSize</key>
                <string>{150,208}</string>
                <key>textureRect</key>
                <string>{{122,461},{150,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{443,1054},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,17}</string>
                <key>textureRect</key>
                <string>{{92,1180},{28,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,110}</string>
                <key>spriteSourceSize</key>
                <string>{324,112}</string>
                <key>textureRect</key>
                <string>{{122,349},{324,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,28}</string>
                <key>spriteSourceSize</key>
                <string>{142,28}</string>
                <key>textureRect</key>
                <string>{{92,1036},{142,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{443,1096},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,95}</string>
                <key>spriteSourceSize</key>
                <string>{96,97}</string>
                <key>textureRect</key>
                <string>{{122,1033},{94,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,95}</string>
                <key>spriteSourceSize</key>
                <string>{96,97}</string>
                <key>textureRect</key>
                <string>{{218,1047},{94,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,346}</string>
                <key>spriteSourceSize</key>
                <string>{456,346}</string>
                <key>textureRect</key>
                <string>{{1,1},{456,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{80,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,95}</string>
                <key>textureRect</key>
                <string>{{122,1130},{80,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,28}</string>
                <key>spriteSourceSize</key>
                <string>{147,28}</string>
                <key>textureRect</key>
                <string>{{62,1036},{147,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{443,920},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{36,18}</string>
                <key>textureRect</key>
                <string>{{422,596},{36,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,17}</string>
                <key>spriteSourceSize</key>
                <string>{56,17}</string>
                <key>textureRect</key>
                <string>{{422,493},{56,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,31}</string>
                <key>spriteSourceSize</key>
                <string>{111,31}</string>
                <key>textureRect</key>
                <string>{{438,661},{111,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>watchtower_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,54}</string>
                <key>spriteSourceSize</key>
                <string>{110,54}</string>
                <key>textureRect</key>
                <string>{{316,1142},{108,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>watchtower_1.png</string>
            <key>size</key>
            <string>{498,1211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55f09c51979f8f74d567000d26e9ae35:986c29147d1beef5e849f23925d20d8d:cea064b0697aff9eba29593b8314a56e$</string>
            <key>textureFileName</key>
            <string>watchtower_1.png</string>
        </dict>
    </dict>
</plist>
