<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Watchtower_UpgradeStar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,69}</string>
                <key>spriteSourceSize</key>
                <string>{295,69}</string>
                <key>textureRect</key>
                <string>{{180,321},{295,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,76}</string>
                <key>spriteSourceSize</key>
                <string>{300,76}</string>
                <key>textureRect</key>
                <string>{{0,501},{300,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,76}</string>
                <key>spriteSourceSize</key>
                <string>{301,76}</string>
                <key>textureRect</key>
                <string>{{0,577},{301,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,66}</string>
                <key>spriteSourceSize</key>
                <string>{130,66}</string>
                <key>textureRect</key>
                <string>{{339,73},{130,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,66}</string>
                <key>spriteSourceSize</key>
                <string>{130,66}</string>
                <key>textureRect</key>
                <string>{{0,147},{130,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,43}</string>
                <key>spriteSourceSize</key>
                <string>{82,43}</string>
                <key>textureRect</key>
                <string>{{0,0},{82,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,43}</string>
                <key>spriteSourceSize</key>
                <string>{82,43}</string>
                <key>textureRect</key>
                <string>{{82,0},{82,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,43}</string>
                <key>spriteSourceSize</key>
                <string>{82,43}</string>
                <key>textureRect</key>
                <string>{{164,0},{82,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{246,0},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{318,0},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{390,0},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,54}</string>
                <key>spriteSourceSize</key>
                <string>{177,54}</string>
                <key>textureRect</key>
                <string>{{0,213},{177,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{72,73},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{0,73},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{144,73},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,162}</string>
                <key>spriteSourceSize</key>
                <string>{486,162}</string>
                <key>textureRect</key>
                <string>{{0,806},{486,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,153}</string>
                <key>spriteSourceSize</key>
                <string>{363,153}</string>
                <key>textureRect</key>
                <string>{{0,653},{363,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,54}</string>
                <key>spriteSourceSize</key>
                <string>{177,54}</string>
                <key>textureRect</key>
                <string>{{177,213},{177,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,54}</string>
                <key>spriteSourceSize</key>
                <string>{201,54}</string>
                <key>textureRect</key>
                <string>{{0,267},{201,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,54}</string>
                <key>spriteSourceSize</key>
                <string>{201,54}</string>
                <key>textureRect</key>
                <string>{{201,267},{201,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,42}</string>
                <key>spriteSourceSize</key>
                <string>{123,42}</string>
                <key>textureRect</key>
                <string>{{216,73},{123,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,66}</string>
                <key>spriteSourceSize</key>
                <string>{132,66}</string>
                <key>textureRect</key>
                <string>{{130,147},{132,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,66}</string>
                <key>spriteSourceSize</key>
                <string>{132,66}</string>
                <key>textureRect</key>
                <string>{{262,147},{132,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_UpgradeStar_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{0,321},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Watchtower_UpgradeStar.png</string>
            <key>size</key>
            <string>{486,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:926d5b2a507eb258e223f52e78c31b51:523e2245c2472f0acd14b99bcc3e4b41:a9669411cfc6c95a92e3e4a822c222fe$</string>
            <key>textureFileName</key>
            <string>Watchtower_UpgradeStar.png</string>
        </dict>
    </dict>
</plist>
