<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>watchtower_Skill_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,39}</string>
                <key>spriteSourceSize</key>
                <string>{387,39}</string>
                <key>textureRect</key>
                <string>{{0,0},{387,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{786,79}</string>
                <key>spriteSourceSize</key>
                <string>{786,79}</string>
                <key>textureRect</key>
                <string>{{786,130},{786,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{786,79}</string>
                <key>spriteSourceSize</key>
                <string>{786,79}</string>
                <key>textureRect</key>
                <string>{{0,209},{786,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,49}</string>
                <key>spriteSourceSize</key>
                <string>{132,49}</string>
                <key>textureRect</key>
                <string>{{732,0},{132,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,49}</string>
                <key>spriteSourceSize</key>
                <string>{132,49}</string>
                <key>textureRect</key>
                <string>{{864,0},{132,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,49}</string>
                <key>spriteSourceSize</key>
                <string>{162,49}</string>
                <key>textureRect</key>
                <string>{{996,0},{162,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,57}</string>
                <key>spriteSourceSize</key>
                <string>{219,57}</string>
                <key>textureRect</key>
                <string>{{1158,0},{219,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,57}</string>
                <key>spriteSourceSize</key>
                <string>{111,57}</string>
                <key>textureRect</key>
                <string>{{1377,0},{111,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,57}</string>
                <key>spriteSourceSize</key>
                <string>{217,57}</string>
                <key>textureRect</key>
                <string>{{1488,0},{217,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,66}</string>
                <key>spriteSourceSize</key>
                <string>{259,66}</string>
                <key>textureRect</key>
                <string>{{276,57},{259,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,100}</string>
                <key>spriteSourceSize</key>
                <string>{192,100}</string>
                <key>textureRect</key>
                <string>{{1572,209},{192,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{786,81}</string>
                <key>spriteSourceSize</key>
                <string>{786,81}</string>
                <key>textureRect</key>
                <string>{{786,209},{786,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1164,198}</string>
                <key>spriteSourceSize</key>
                <string>{1164,198}</string>
                <key>textureRect</key>
                <string>{{486,309},{1164,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1164,198}</string>
                <key>spriteSourceSize</key>
                <string>{1164,198}</string>
                <key>textureRect</key>
                <string>{{0,507},{1164,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1164,198}</string>
                <key>spriteSourceSize</key>
                <string>{1164,198}</string>
                <key>textureRect</key>
                <string>{{0,705},{1164,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,546}</string>
                <key>spriteSourceSize</key>
                <string>{381,546}</string>
                <key>textureRect</key>
                <string>{{1164,705},{381,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,57}</string>
                <key>spriteSourceSize</key>
                <string>{111,57}</string>
                <key>textureRect</key>
                <string>{{0,57},{111,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,57}</string>
                <key>spriteSourceSize</key>
                <string>{165,57}</string>
                <key>textureRect</key>
                <string>{{111,57},{165,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{830,57},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{902,57},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{974,57},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,162}</string>
                <key>spriteSourceSize</key>
                <string>{486,162}</string>
                <key>textureRect</key>
                <string>{{0,309},{486,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,69}</string>
                <key>spriteSourceSize</key>
                <string>{295,69}</string>
                <key>textureRect</key>
                <string>{{535,57},{295,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,49}</string>
                <key>spriteSourceSize</key>
                <string>{69,49}</string>
                <key>textureRect</key>
                <string>{{387,0},{69,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,49}</string>
                <key>spriteSourceSize</key>
                <string>{69,49}</string>
                <key>textureRect</key>
                <string>{{456,0},{69,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,49}</string>
                <key>spriteSourceSize</key>
                <string>{69,49}</string>
                <key>textureRect</key>
                <string>{{525,0},{69,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,49}</string>
                <key>spriteSourceSize</key>
                <string>{69,49}</string>
                <key>textureRect</key>
                <string>{{594,0},{69,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,49}</string>
                <key>spriteSourceSize</key>
                <string>{69,49}</string>
                <key>textureRect</key>
                <string>{{663,0},{69,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_Skill_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{786,79}</string>
                <key>spriteSourceSize</key>
                <string>{786,79}</string>
                <key>textureRect</key>
                <string>{{0,130},{786,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>watchtower_Skill.png</string>
            <key>size</key>
            <string>{1764,1251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93269cce102ac56f89097e539fa7b58f:cf53fa50bd586ffa903411ad0fd28c13:3e23b55faf53cc8efaef3f0c2a93b90c$</string>
            <key>textureFileName</key>
            <string>watchtower_Skill.png</string>
        </dict>
    </dict>
</plist>
