<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Watchtower_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{72,0},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{36,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{123,0},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,302}</string>
                <key>spriteSourceSize</key>
                <string>{210,302}</string>
                <key>textureRect</key>
                <string>{{588,273},{210,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,306}</string>
                <key>spriteSourceSize</key>
                <string>{213,306}</string>
                <key>textureRect</key>
                <string>{{798,273},{213,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,308}</string>
                <key>spriteSourceSize</key>
                <string>{213,308}</string>
                <key>textureRect</key>
                <string>{{1242,273},{213,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,311}</string>
                <key>spriteSourceSize</key>
                <string>{232,311}</string>
                <key>textureRect</key>
                <string>{{1455,273},{232,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,273}</string>
                <key>spriteSourceSize</key>
                <string>{178,273}</string>
                <key>textureRect</key>
                <string>{{1724,0},{178,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,256}</string>
                <key>spriteSourceSize</key>
                <string>{162,256}</string>
                <key>textureRect</key>
                <string>{{857,0},{162,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,273}</string>
                <key>spriteSourceSize</key>
                <string>{189,273}</string>
                <key>textureRect</key>
                <string>{{0,273},{189,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,253}</string>
                <key>spriteSourceSize</key>
                <string>{162,253}</string>
                <key>textureRect</key>
                <string>{{695,0},{162,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,280}</string>
                <key>spriteSourceSize</key>
                <string>{186,280}</string>
                <key>textureRect</key>
                <string>{{189,273},{186,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,289}</string>
                <key>spriteSourceSize</key>
                <string>{213,289}</string>
                <key>textureRect</key>
                <string>{{375,273},{213,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,306}</string>
                <key>spriteSourceSize</key>
                <string>{231,306}</string>
                <key>textureRect</key>
                <string>{{1011,273},{231,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,312}</string>
                <key>spriteSourceSize</key>
                <string>{201,312}</string>
                <key>textureRect</key>
                <string>{{1687,273},{201,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,235}</string>
                <key>spriteSourceSize</key>
                <string>{156,235}</string>
                <key>textureRect</key>
                <string>{{539,0},{156,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,202}</string>
                <key>spriteSourceSize</key>
                <string>{178,202}</string>
                <key>textureRect</key>
                <string>{{174,0},{178,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,224}</string>
                <key>spriteSourceSize</key>
                <string>{187,224}</string>
                <key>textureRect</key>
                <string>{{352,0},{187,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,268}</string>
                <key>spriteSourceSize</key>
                <string>{223,268}</string>
                <key>textureRect</key>
                <string>{{1019,0},{223,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,272}</string>
                <key>textureRect</key>
                <string>{{1242,0},{247,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>watchtower_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,272}</string>
                <key>spriteSourceSize</key>
                <string>{235,272}</string>
                <key>textureRect</key>
                <string>{{1489,0},{235,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>watchtower.png</string>
            <key>size</key>
            <string>{1902,585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4bf4b2ada19ce16185cf25cc9807d7a:d035544d89cc62aac13335c251690dbe:b79aa29ab71cd04d2da9a17386f7d5b4$</string>
            <key>textureFileName</key>
            <string>watchtower.png</string>
        </dict>
    </dict>
</plist>
