<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Watchtower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,55}</string>
                <key>spriteSourceSize</key>
                <string>{367,55}</string>
                <key>textureRect</key>
                <string>{{1201,0},{367,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,177}</string>
                <key>spriteSourceSize</key>
                <string>{178,177}</string>
                <key>textureRect</key>
                <string>{{746,277},{178,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,177}</string>
                <key>spriteSourceSize</key>
                <string>{178,177}</string>
                <key>textureRect</key>
                <string>{{924,277},{178,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,177}</string>
                <key>spriteSourceSize</key>
                <string>{178,177}</string>
                <key>textureRect</key>
                <string>{{1102,277},{178,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,177}</string>
                <key>spriteSourceSize</key>
                <string>{178,177}</string>
                <key>textureRect</key>
                <string>{{1280,277},{178,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,177}</string>
                <key>spriteSourceSize</key>
                <string>{178,177}</string>
                <key>textureRect</key>
                <string>{{1458,277},{178,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1141,69}</string>
                <key>spriteSourceSize</key>
                <string>{1141,69}</string>
                <key>textureRect</key>
                <string>{{559,55},{1141,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1174,414}</string>
                <key>spriteSourceSize</key>
                <string>{1174,414}</string>
                <key>textureRect</key>
                <string>{{372,455},{1174,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{1636,277},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,153}</string>
                <key>spriteSourceSize</key>
                <string>{243,153}</string>
                <key>textureRect</key>
                <string>{{1068,124},{243,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,153}</string>
                <key>spriteSourceSize</key>
                <string>{244,153}</string>
                <key>textureRect</key>
                <string>{{1311,124},{244,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,55}</string>
                <key>spriteSourceSize</key>
                <string>{319,55}</string>
                <key>textureRect</key>
                <string>{{0,55},{319,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,112}</string>
                <key>spriteSourceSize</key>
                <string>{363,112}</string>
                <key>textureRect</key>
                <string>{{411,124},{363,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,63}</string>
                <key>spriteSourceSize</key>
                <string>{240,63}</string>
                <key>textureRect</key>
                <string>{{319,55},{240,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{81,87}</string>
                <key>textureRect</key>
                <string>{{330,124},{81,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{1048,0},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,192}</string>
                <key>spriteSourceSize</key>
                <string>{135,192}</string>
                <key>textureRect</key>
                <string>{{237,455},{135,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,182}</string>
                <key>spriteSourceSize</key>
                <string>{117,182}</string>
                <key>textureRect</key>
                <string>{{120,455},{117,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,179}</string>
                <key>spriteSourceSize</key>
                <string>{120,179}</string>
                <key>textureRect</key>
                <string>{{0,455},{120,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,426}</string>
                <key>spriteSourceSize</key>
                <string>{286,426}</string>
                <key>textureRect</key>
                <string>{{1546,455},{286,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,174}</string>
                <key>spriteSourceSize</key>
                <string>{121,174}</string>
                <key>textureRect</key>
                <string>{{625,277},{121,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,166}</string>
                <key>spriteSourceSize</key>
                <string>{139,166}</string>
                <key>textureRect</key>
                <string>{{486,277},{139,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,48}</string>
                <key>spriteSourceSize</key>
                <string>{93,48}</string>
                <key>textureRect</key>
                <string>{{238,0},{93,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{1099,0},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,48}</string>
                <key>spriteSourceSize</key>
                <string>{531,48}</string>
                <key>textureRect</key>
                <string>{{517,0},{531,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,162}</string>
                <key>spriteSourceSize</key>
                <string>{486,162}</string>
                <key>textureRect</key>
                <string>{{0,277},{486,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,145}</string>
                <key>spriteSourceSize</key>
                <string>{144,145}</string>
                <key>textureRect</key>
                <string>{{924,124},{144,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{36,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{1150,0},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,48}</string>
                <key>spriteSourceSize</key>
                <string>{93,48}</string>
                <key>textureRect</key>
                <string>{{331,0},{93,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,48}</string>
                <key>spriteSourceSize</key>
                <string>{93,48}</string>
                <key>textureRect</key>
                <string>{{424,0},{93,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,141}</string>
                <key>spriteSourceSize</key>
                <string>{150,141}</string>
                <key>textureRect</key>
                <string>{{774,124},{150,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,81}</string>
                <key>spriteSourceSize</key>
                <string>{165,81}</string>
                <key>textureRect</key>
                <string>{{0,124},{165,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,82}</string>
                <key>spriteSourceSize</key>
                <string>{165,82}</string>
                <key>textureRect</key>
                <string>{{165,124},{165,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,46}</string>
                <key>spriteSourceSize</key>
                <string>{166,46}</string>
                <key>textureRect</key>
                <string>{{72,0},{166,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>watchtower_Option.png</string>
            <key>size</key>
            <string>{1832,881}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3275c321c84c1e093b587bb111d5051:ec32373d97e7f1925392cad4d8a619cd:add6b1cb1c1d3442ed43a016a35b6f62$</string>
            <key>textureFileName</key>
            <string>watchtower_Option.png</string>
        </dict>
    </dict>
</plist>
