<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Watchtower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{375,36},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,81}</string>
                <key>spriteSourceSize</key>
                <string>{165,81}</string>
                <key>textureRect</key>
                <string>{{0,305},{165,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,82}</string>
                <key>spriteSourceSize</key>
                <string>{165,82}</string>
                <key>textureRect</key>
                <string>{{165,305},{165,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,46}</string>
                <key>spriteSourceSize</key>
                <string>{166,46}</string>
                <key>textureRect</key>
                <string>{{648,78},{166,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,92}</string>
                <key>spriteSourceSize</key>
                <string>{145,92}</string>
                <key>textureRect</key>
                <string>{{162,469},{145,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,48}</string>
                <key>spriteSourceSize</key>
                <string>{642,48}</string>
                <key>textureRect</key>
                <string>{{0,124},{642,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,40}</string>
                <key>spriteSourceSize</key>
                <string>{210,40}</string>
                <key>textureRect</key>
                <string>{{165,36},{210,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{631,48}</string>
                <key>spriteSourceSize</key>
                <string>{631,48}</string>
                <key>textureRect</key>
                <string>{{0,172},{631,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,36}</string>
                <key>spriteSourceSize</key>
                <string>{612,36}</string>
                <key>textureRect</key>
                <string>{{272,0},{612,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,48}</string>
                <key>spriteSourceSize</key>
                <string>{198,48}</string>
                <key>textureRect</key>
                <string>{{631,172},{198,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,76}</string>
                <key>spriteSourceSize</key>
                <string>{385,76}</string>
                <key>textureRect</key>
                <string>{{595,229},{385,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{28,18}</string>
                <key>textureRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,140}</string>
                <key>spriteSourceSize</key>
                <string>{193,140}</string>
                <key>textureRect</key>
                <string>{{659,469},{193,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,153}</string>
                <key>spriteSourceSize</key>
                <string>{243,153}</string>
                <key>textureRect</key>
                <string>{{288,612},{243,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,153}</string>
                <key>spriteSourceSize</key>
                <string>{244,153}</string>
                <key>textureRect</key>
                <string>{{531,612},{244,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,113}</string>
                <key>spriteSourceSize</key>
                <string>{213,113}</string>
                <key>textureRect</key>
                <string>{{307,469},{213,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1017,82}</string>
                <key>spriteSourceSize</key>
                <string>{1017,82}</string>
                <key>textureRect</key>
                <string>{{0,387},{1017,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,57}</string>
                <key>spriteSourceSize</key>
                <string>{115,57}</string>
                <key>textureRect</key>
                <string>{{880,172},{115,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,39}</string>
                <key>spriteSourceSize</key>
                <string>{165,39}</string>
                <key>textureRect</key>
                <string>{{0,36},{165,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,84}</string>
                <key>spriteSourceSize</key>
                <string>{81,84}</string>
                <key>textureRect</key>
                <string>{{0,469},{81,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,73}</string>
                <key>spriteSourceSize</key>
                <string>{282,73}</string>
                <key>textureRect</key>
                <string>{{313,229},{282,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{66,60}</string>
                <key>textureRect</key>
                <string>{{0,229},{66,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{446,78},{36,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{81,87}</string>
                <key>textureRect</key>
                <string>{{81,469},{81,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{66,229},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{520,469},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{829,172},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,208}</string>
                <key>spriteSourceSize</key>
                <string>{225,208}</string>
                <key>textureRect</key>
                <string>{{486,765},{225,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,219}</string>
                <key>spriteSourceSize</key>
                <string>{271,219}</string>
                <key>textureRect</key>
                <string>{{711,765},{271,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,219}</string>
                <key>spriteSourceSize</key>
                <string>{271,219}</string>
                <key>textureRect</key>
                <string>{{0,984},{271,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,43}</string>
                <key>spriteSourceSize</key>
                <string>{226,43}</string>
                <key>textureRect</key>
                <string>{{220,78},{226,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,42}</string>
                <key>spriteSourceSize</key>
                <string>{222,42}</string>
                <key>textureRect</key>
                <string>{{417,36},{222,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,312}</string>
                <key>spriteSourceSize</key>
                <string>{225,312}</string>
                <key>textureRect</key>
                <string>{{271,984},{225,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,30}</string>
                <key>textureRect</key>
                <string>{{208,0},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{126,229},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,168}</string>
                <key>spriteSourceSize</key>
                <string>{486,168}</string>
                <key>textureRect</key>
                <string>{{0,765},{486,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,42}</string>
                <key>spriteSourceSize</key>
                <string>{213,42}</string>
                <key>textureRect</key>
                <string>{{639,36},{213,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{186,229},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,145}</string>
                <key>spriteSourceSize</key>
                <string>{144,145}</string>
                <key>textureRect</key>
                <string>{{0,612},{144,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,145}</string>
                <key>spriteSourceSize</key>
                <string>{144,145}</string>
                <key>textureRect</key>
                <string>{{144,612},{144,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{684,519}</string>
                <key>spriteSourceSize</key>
                <string>{684,519}</string>
                <key>textureRect</key>
                <string>{{0,1296},{684,519}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,143}</string>
                <key>spriteSourceSize</key>
                <string>{150,143}</string>
                <key>textureRect</key>
                <string>{{852,469},{150,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,42}</string>
                <key>spriteSourceSize</key>
                <string>{220,42}</string>
                <key>textureRect</key>
                <string>{{0,78},{220,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,25}</string>
                <key>spriteSourceSize</key>
                <string>{42,25}</string>
                <key>textureRect</key>
                <string>{{28,0},{42,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,72}</string>
                <key>spriteSourceSize</key>
                <string>{67,72}</string>
                <key>textureRect</key>
                <string>{{246,229},{67,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,27}</string>
                <key>spriteSourceSize</key>
                <string>{54,27}</string>
                <key>textureRect</key>
                <string>{{154,0},{54,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,25}</string>
                <key>spriteSourceSize</key>
                <string>{84,25}</string>
                <key>textureRect</key>
                <string>{{70,0},{84,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watchtower_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,46}</string>
                <key>spriteSourceSize</key>
                <string>{166,46}</string>
                <key>textureRect</key>
                <string>{{482,78},{166,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Watchtower1.png</string>
            <key>size</key>
            <string>{1017,1815}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd617f631d334e78a20d7f8f471e6501:c19d8ee079f1c6ef05caf0298041a12a:8b1a20d5d5189944a07ae3d95fbfeed4$</string>
            <key>textureFileName</key>
            <string>Watchtower1.png</string>
        </dict>
    </dict>
</plist>
