<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,240}</string>
                <key>spriteSourceSize</key>
                <string>{59,240}</string>
                <key>textureRect</key>
                <string>{{117,447},{59,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,234}</string>
                <key>spriteSourceSize</key>
                <string>{56,234}</string>
                <key>textureRect</key>
                <string>{{61,447},{56,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,200}</string>
                <key>spriteSourceSize</key>
                <string>{54,200}</string>
                <key>textureRect</key>
                <string>{{54,247},{54,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,165}</string>
                <key>spriteSourceSize</key>
                <string>{54,165}</string>
                <key>textureRect</key>
                <string>{{0,247},{54,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,126}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{64,110},{50,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,110}</string>
                <key>spriteSourceSize</key>
                <string>{42,110}</string>
                <key>textureRect</key>
                <string>{{199,0},{42,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,79}</string>
                <key>spriteSourceSize</key>
                <string>{43,79}</string>
                <key>textureRect</key>
                <string>{{44,0},{43,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,74}</string>
                <key>spriteSourceSize</key>
                <string>{56,74}</string>
                <key>textureRect</key>
                <string>{{87,0},{56,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,74}</string>
                <key>spriteSourceSize</key>
                <string>{56,74}</string>
                <key>textureRect</key>
                <string>{{143,0},{56,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,97}</string>
                <key>spriteSourceSize</key>
                <string>{64,97}</string>
                <key>textureRect</key>
                <string>{{0,110},{64,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,117}</string>
                <key>spriteSourceSize</key>
                <string>{61,117}</string>
                <key>textureRect</key>
                <string>{{114,110},{61,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,137}</string>
                <key>spriteSourceSize</key>
                <string>{59,137}</string>
                <key>textureRect</key>
                <string>{{175,110},{59,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,170}</string>
                <key>spriteSourceSize</key>
                <string>{65,170}</string>
                <key>textureRect</key>
                <string>{{108,247},{65,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,182}</string>
                <key>spriteSourceSize</key>
                <string>{62,182}</string>
                <key>textureRect</key>
                <string>{{173,247},{62,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,209}</string>
                <key>spriteSourceSize</key>
                <string>{61,209}</string>
                <key>textureRect</key>
                <string>{{0,447},{61,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,247}</string>
                <key>spriteSourceSize</key>
                <string>{58,247}</string>
                <key>textureRect</key>
                <string>{{176,447},{58,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>st1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,318}</string>
                <key>spriteSourceSize</key>
                <string>{204,318}</string>
                <key>textureRect</key>
                <string>{{0,694},{204,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>st.png</string>
            <key>size</key>
            <string>{241,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2bba995e2095a71d191ecb73c75389e:1a95987f11021702e5fb60d2cab8fe84:b8c8a15774f9a5911c4031ddc977cadd$</string>
            <key>textureFileName</key>
            <string>st.png</string>
        </dict>
    </dict>
</plist>
