<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guild_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,57}</string>
                <key>spriteSourceSize</key>
                <string>{219,57}</string>
                <key>textureRect</key>
                <string>{{781,48},{219,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,39}</string>
                <key>spriteSourceSize</key>
                <string>{168,39}</string>
                <key>textureRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1051,181}</string>
                <key>spriteSourceSize</key>
                <string>{1051,181}</string>
                <key>textureRect</key>
                <string>{{201,371},{1051,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,48}</string>
                <key>spriteSourceSize</key>
                <string>{252,48}</string>
                <key>textureRect</key>
                <string>{{1178,0},{252,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,48}</string>
                <key>spriteSourceSize</key>
                <string>{252,48}</string>
                <key>textureRect</key>
                <string>{{1430,0},{252,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,204}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1252,371},{204,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,48}</string>
                <key>spriteSourceSize</key>
                <string>{252,48}</string>
                <key>textureRect</key>
                <string>{{0,48},{252,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{880,81}</string>
                <key>spriteSourceSize</key>
                <string>{880,81}</string>
                <key>textureRect</key>
                <string>{{0,108},{880,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,166}</string>
                <key>spriteSourceSize</key>
                <string>{205,166}</string>
                <key>textureRect</key>
                <string>{{1152,204},{205,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,167}</string>
                <key>spriteSourceSize</key>
                <string>{207,167}</string>
                <key>textureRect</key>
                <string>{{1357,204},{207,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,57}</string>
                <key>spriteSourceSize</key>
                <string>{220,57}</string>
                <key>textureRect</key>
                <string>{{1000,48},{220,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,96}</string>
                <key>spriteSourceSize</key>
                <string>{213,96}</string>
                <key>textureRect</key>
                <string>{{1264,108},{213,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,96}</string>
                <key>spriteSourceSize</key>
                <string>{213,96}</string>
                <key>textureRect</key>
                <string>{{1477,108},{213,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,114}</string>
                <key>spriteSourceSize</key>
                <string>{313,114}</string>
                <key>textureRect</key>
                <string>{{176,204},{313,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,114}</string>
                <key>spriteSourceSize</key>
                <string>{313,114}</string>
                <key>textureRect</key>
                <string>{{489,204},{313,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,54}</string>
                <key>spriteSourceSize</key>
                <string>{102,54}</string>
                <key>textureRect</key>
                <string>{{408,48},{102,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,115}</string>
                <key>spriteSourceSize</key>
                <string>{103,115}</string>
                <key>textureRect</key>
                <string>{{898,204},{103,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{1001,204},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{312,48},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{252,48},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,55}</string>
                <key>spriteSourceSize</key>
                <string>{66,55}</string>
                <key>textureRect</key>
                <string>{{715,48},{66,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,53}</string>
                <key>spriteSourceSize</key>
                <string>{39,53}</string>
                <key>textureRect</key>
                <string>{{369,48},{39,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{961,108},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,94}</string>
                <key>textureRect</key>
                <string>{{1156,108},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,96}</string>
                <key>spriteSourceSize</key>
                <string>{73,96}</string>
                <key>textureRect</key>
                <string>{{0,204},{73,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{103,98}</string>
                <key>textureRect</key>
                <string>{{73,204},{103,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,93}</string>
                <key>spriteSourceSize</key>
                <string>{99,93}</string>
                <key>textureRect</key>
                <string>{{1057,108},{99,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,114}</string>
                <key>spriteSourceSize</key>
                <string>{96,114}</string>
                <key>textureRect</key>
                <string>{{802,204},{96,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,46}</string>
                <key>spriteSourceSize</key>
                <string>{51,46}</string>
                <key>textureRect</key>
                <string>{{1127,0},{51,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,39}</string>
                <key>spriteSourceSize</key>
                <string>{135,39}</string>
                <key>textureRect</key>
                <string>{{168,0},{135,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,54}</string>
                <key>spriteSourceSize</key>
                <string>{102,54}</string>
                <key>textureRect</key>
                <string>{{510,48},{102,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,54}</string>
                <key>spriteSourceSize</key>
                <string>{103,54}</string>
                <key>textureRect</key>
                <string>{{612,48},{103,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,240}</string>
                <key>spriteSourceSize</key>
                <string>{237,240}</string>
                <key>textureRect</key>
                <string>{{1456,371},{237,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{880,108},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,167}</string>
                <key>spriteSourceSize</key>
                <string>{201,167}</string>
                <key>textureRect</key>
                <string>{{0,371},{201,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,43}</string>
                <key>spriteSourceSize</key>
                <string>{90,43}</string>
                <key>textureRect</key>
                <string>{{303,0},{90,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,46}</string>
                <key>spriteSourceSize</key>
                <string>{147,46}</string>
                <key>textureRect</key>
                <string>{{980,0},{147,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,45}</string>
                <key>spriteSourceSize</key>
                <string>{442,45}</string>
                <key>textureRect</key>
                <string>{{538,0},{442,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,60}</string>
                <key>spriteSourceSize</key>
                <string>{450,60}</string>
                <key>textureRect</key>
                <string>{{1220,48},{450,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guild_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,43}</string>
                <key>spriteSourceSize</key>
                <string>{145,43}</string>
                <key>textureRect</key>
                <string>{{393,0},{145,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Guild.png</string>
            <key>size</key>
            <string>{1693,611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cc12e6e7cdbcec55d336c646ee85f51:a663176a258dc206f6af763d78e21ca2:4805488bc670dd5c90174ee4138754ce$</string>
            <key>textureFileName</key>
            <string>Guild.png</string>
        </dict>
    </dict>
</plist>
