<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_0_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,156}</string>
                <key>spriteSourceSize</key>
                <string>{185,156}</string>
                <key>textureRect</key>
                <string>{{391,0},{185,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_0_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,192}</string>
                <key>spriteSourceSize</key>
                <string>{144,192}</string>
                <key>textureRect</key>
                <string>{{856,355},{144,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_0_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,174}</string>
                <key>spriteSourceSize</key>
                <string>{161,174}</string>
                <key>textureRect</key>
                <string>{{700,168},{161,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_0_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,189}</string>
                <key>spriteSourceSize</key>
                <string>{172,189}</string>
                <key>textureRect</key>
                <string>{{0,355},{172,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_0_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,163}</string>
                <key>spriteSourceSize</key>
                <string>{154,163}</string>
                <key>textureRect</key>
                <string>{{1119,0},{154,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_0_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,166}</string>
                <key>spriteSourceSize</key>
                <string>{177,166}</string>
                <key>textureRect</key>
                <string>{{1594,0},{177,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_1_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,195}</string>
                <key>spriteSourceSize</key>
                <string>{193,195}</string>
                <key>textureRect</key>
                <string>{{1734,355},{193,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_1_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,185}</string>
                <key>spriteSourceSize</key>
                <string>{196,185}</string>
                <key>textureRect</key>
                <string>{{1236,168},{196,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_1_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,183}</string>
                <key>spriteSourceSize</key>
                <string>{186,183}</string>
                <key>textureRect</key>
                <string>{{861,168},{186,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_1_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,161}</string>
                <key>spriteSourceSize</key>
                <string>{191,161}</string>
                <key>textureRect</key>
                <string>{{928,0},{191,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_1_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,189}</string>
                <key>spriteSourceSize</key>
                <string>{168,189}</string>
                <key>textureRect</key>
                <string>{{172,355},{168,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_1_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,187}</string>
                <key>spriteSourceSize</key>
                <string>{195,187}</string>
                <key>textureRect</key>
                <string>{{1773,168},{195,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_2_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,169}</string>
                <key>spriteSourceSize</key>
                <string>{166,169}</string>
                <key>textureRect</key>
                <string>{{173,168},{166,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_2_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,191}</string>
                <key>spriteSourceSize</key>
                <string>{161,191}</string>
                <key>textureRect</key>
                <string>{{529,355},{161,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_2_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,163}</string>
                <key>spriteSourceSize</key>
                <string>{166,163}</string>
                <key>textureRect</key>
                <string>{{1273,0},{166,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_2_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,191}</string>
                <key>spriteSourceSize</key>
                <string>{166,191}</string>
                <key>textureRect</key>
                <string>{{690,355},{166,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_2_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,168}</string>
                <key>spriteSourceSize</key>
                <string>{141,168}</string>
                <key>textureRect</key>
                <string>{{1771,0},{141,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_2_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,158}</string>
                <key>spriteSourceSize</key>
                <string>{183,158}</string>
                <key>textureRect</key>
                <string>{{576,0},{183,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_3_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,144}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_3_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,186}</string>
                <key>spriteSourceSize</key>
                <string>{196,186}</string>
                <key>textureRect</key>
                <string>{{1432,168},{196,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_3_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,192}</string>
                <key>spriteSourceSize</key>
                <string>{171,192}</string>
                <key>textureRect</key>
                <string>{{1000,355},{171,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_3_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,192}</string>
                <key>spriteSourceSize</key>
                <string>{190,192}</string>
                <key>textureRect</key>
                <string>{{1171,355},{190,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_3_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,158}</string>
                <key>spriteSourceSize</key>
                <string>{169,158}</string>
                <key>textureRect</key>
                <string>{{759,0},{169,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_3_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,170}</string>
                <key>spriteSourceSize</key>
                <string>{186,170}</string>
                <key>textureRect</key>
                <string>{{339,168},{186,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_3_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,192}</string>
                <key>spriteSourceSize</key>
                <string>{190,192}</string>
                <key>textureRect</key>
                <string>{{1361,355},{190,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_4_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,192}</string>
                <key>spriteSourceSize</key>
                <string>{183,192}</string>
                <key>textureRect</key>
                <string>{{1551,355},{183,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_4_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,168}</string>
                <key>spriteSourceSize</key>
                <string>{173,168}</string>
                <key>textureRect</key>
                <string>{{0,168},{173,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_4_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,184}</string>
                <key>spriteSourceSize</key>
                <string>{189,184}</string>
                <key>textureRect</key>
                <string>{{1047,168},{189,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_4_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,186}</string>
                <key>spriteSourceSize</key>
                <string>{145,186}</string>
                <key>textureRect</key>
                <string>{{1628,168},{145,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_4_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,163}</string>
                <key>spriteSourceSize</key>
                <string>{155,163}</string>
                <key>textureRect</key>
                <string>{{1439,0},{155,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_4_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{189,189}</string>
                <key>textureRect</key>
                <string>{{340,355},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_4_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,148}</string>
                <key>spriteSourceSize</key>
                <string>{191,148}</string>
                <key>textureRect</key>
                <string>{{200,0},{191,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_4_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,172}</string>
                <key>spriteSourceSize</key>
                <string>{175,172}</string>
                <key>textureRect</key>
                <string>{{525,168},{175,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_icons.png</string>
            <key>size</key>
            <string>{1968,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cd93cb5c41841145d387fb630e79d2a:96bba92bf5d02762c1111fa3a610b687:771c4db336c671d36557cd1baac004c3$</string>
            <key>textureFileName</key>
            <string>hero_icons.png</string>
        </dict>
    </dict>
</plist>
