<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_0_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,154}</string>
                <key>spriteSourceSize</key>
                <string>{190,154}</string>
                <key>textureRect</key>
                <string>{{162,1129},{190,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_0_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,159}</string>
                <key>spriteSourceSize</key>
                <string>{156,159}</string>
                <key>textureRect</key>
                <string>{{1,1125},{156,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_0_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,170}</string>
                <key>spriteSourceSize</key>
                <string>{169,170}</string>
                <key>textureRect</key>
                <string>{{340,1303},{169,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_0_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,162}</string>
                <key>spriteSourceSize</key>
                <string>{147,162}</string>
                <key>textureRect</key>
                <string>{{1,823},{147,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_1_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,165}</string>
                <key>spriteSourceSize</key>
                <string>{159,165}</string>
                <key>textureRect</key>
                <string>{{1,1285},{159,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_1_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,108}</string>
                <key>spriteSourceSize</key>
                <string>{171,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{171,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_1_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,155}</string>
                <key>spriteSourceSize</key>
                <string>{147,155}</string>
                <key>textureRect</key>
                <string>{{165,824},{147,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_1_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,151}</string>
                <key>spriteSourceSize</key>
                <string>{184,151}</string>
                <key>textureRect</key>
                <string>{{322,976},{184,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_1_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{154,144}</string>
                <key>textureRect</key>
                <string>{{148,530},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_1_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,141}</string>
                <key>spriteSourceSize</key>
                <string>{169,141}</string>
                <key>textureRect</key>
                <string>{{281,387},{169,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_n_0_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,146}</string>
                <key>spriteSourceSize</key>
                <string>{165,146}</string>
                <key>textureRect</key>
                <string>{{297,676},{165,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_n_0_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,126}</string>
                <key>spriteSourceSize</key>
                <string>{172,126}</string>
                <key>textureRect</key>
                <string>{{147,114},{172,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_n_0_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,150}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{322,824},{156,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_n_0_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,144}</string>
                <key>textureRect</key>
                <string>{{304,530},{150,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_n_0_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,137}</string>
                <key>spriteSourceSize</key>
                <string>{174,137}</string>
                <key>textureRect</key>
                <string>{{284,248},{174,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_n_0_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{141,379},{142,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_n_0_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,135}</string>
                <key>spriteSourceSize</key>
                <string>{141,135}</string>
                <key>textureRect</key>
                <string>{{1,237},{141,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_n_0_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,156}</string>
                <key>spriteSourceSize</key>
                <string>{172,156}</string>
                <key>textureRect</key>
                <string>{{354,1129},{172,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_n_1_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,133}</string>
                <key>spriteSourceSize</key>
                <string>{108,133}</string>
                <key>textureRect</key>
                <string>{{174,1},{108,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_n_1_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{1,374},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_n_1_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,147}</string>
                <key>spriteSourceSize</key>
                <string>{144,147}</string>
                <key>textureRect</key>
                <string>{{1,667},{144,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_n_1_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,142}</string>
                <key>spriteSourceSize</key>
                <string>{145,142}</string>
                <key>textureRect</key>
                <string>{{1,523},{145,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,145}</string>
                <key>spriteSourceSize</key>
                <string>{148,145}</string>
                <key>textureRect</key>
                <string>{{147,676},{148,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,153}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{167,973},{153,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_0_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,170}</string>
                <key>spriteSourceSize</key>
                <string>{163,170}</string>
                <key>textureRect</key>
                <string>{{168,1285},{163,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_0_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,132}</string>
                <key>spriteSourceSize</key>
                <string>{183,132}</string>
                <key>textureRect</key>
                <string>{{321,114},{183,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_1_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,111}</string>
                <key>spriteSourceSize</key>
                <string>{177,111}</string>
                <key>textureRect</key>
                <string>{{309,1},{177,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_s_1_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,164}</string>
                <key>spriteSourceSize</key>
                <string>{150,164}</string>
                <key>textureRect</key>
                <string>{{1,973},{150,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_1_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{124,144}</string>
                <key>textureRect</key>
                <string>{{1,111},{124,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_s_1_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,138}</string>
                <key>spriteSourceSize</key>
                <string>{135,138}</string>
                <key>textureRect</key>
                <string>{{144,242},{135,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_icons.png</string>
            <key>size</key>
            <string>{511,1473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c10e14c84832348180704fd716e8dfbd:5e8224cf18689ec40d58feb40dcb88e7:c23d354492636145ae367fcdefdd2f57$</string>
            <key>textureFileName</key>
            <string>monster_icons.png</string>
        </dict>
    </dict>
</plist>
