<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_0_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,187}</string>
                <key>spriteSourceSize</key>
                <string>{191,187}</string>
                <key>textureRect</key>
                <string>{{0,0},{191,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_0_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,187}</string>
                <key>spriteSourceSize</key>
                <string>{191,187}</string>
                <key>textureRect</key>
                <string>{{191,0},{191,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_0_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,221}</string>
                <key>spriteSourceSize</key>
                <string>{227,221}</string>
                <key>textureRect</key>
                <string>{{191,374},{227,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_0_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,187}</string>
                <key>spriteSourceSize</key>
                <string>{191,187}</string>
                <key>textureRect</key>
                <string>{{382,0},{191,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_1_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,187}</string>
                <key>spriteSourceSize</key>
                <string>{191,187}</string>
                <key>textureRect</key>
                <string>{{573,0},{191,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_1_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,187}</string>
                <key>spriteSourceSize</key>
                <string>{191,187}</string>
                <key>textureRect</key>
                <string>{{764,0},{191,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_1_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,221}</string>
                <key>spriteSourceSize</key>
                <string>{227,221}</string>
                <key>textureRect</key>
                <string>{{418,374},{227,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_1_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,253}</string>
                <key>spriteSourceSize</key>
                <string>{258,253}</string>
                <key>textureRect</key>
                <string>{{681,595},{258,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,187}</string>
                <key>spriteSourceSize</key>
                <string>{191,187}</string>
                <key>textureRect</key>
                <string>{{0,187},{191,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_2_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,187}</string>
                <key>spriteSourceSize</key>
                <string>{191,187}</string>
                <key>textureRect</key>
                <string>{{191,187},{191,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_2_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,253}</string>
                <key>spriteSourceSize</key>
                <string>{258,253}</string>
                <key>textureRect</key>
                <string>{{0,848},{258,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_2_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,221}</string>
                <key>spriteSourceSize</key>
                <string>{227,221}</string>
                <key>textureRect</key>
                <string>{{645,374},{227,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,187}</string>
                <key>spriteSourceSize</key>
                <string>{191,187}</string>
                <key>textureRect</key>
                <string>{{382,187},{191,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_3_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,187}</string>
                <key>spriteSourceSize</key>
                <string>{191,187}</string>
                <key>textureRect</key>
                <string>{{573,187},{191,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_3_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,221}</string>
                <key>spriteSourceSize</key>
                <string>{227,221}</string>
                <key>textureRect</key>
                <string>{{0,595},{227,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_3_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,253}</string>
                <key>spriteSourceSize</key>
                <string>{258,253}</string>
                <key>textureRect</key>
                <string>{{258,848},{258,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_4_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,187}</string>
                <key>spriteSourceSize</key>
                <string>{191,187}</string>
                <key>textureRect</key>
                <string>{{764,187},{191,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_4_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,187}</string>
                <key>spriteSourceSize</key>
                <string>{191,187}</string>
                <key>textureRect</key>
                <string>{{0,374},{191,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_4_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,221}</string>
                <key>spriteSourceSize</key>
                <string>{227,221}</string>
                <key>textureRect</key>
                <string>{{227,595},{227,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_4_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,221}</string>
                <key>spriteSourceSize</key>
                <string>{227,221}</string>
                <key>textureRect</key>
                <string>{{454,595},{227,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Partner_1.png</string>
            <key>size</key>
            <string>{955,1101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f302498eb2554dbb23dc7b9f851275ff:885d0785406ff24e7f7b508a0909def2:1dac86bb594ceae646c96ee5e3125a8e$</string>
            <key>textureFileName</key>
            <string>Partner_1.png</string>
        </dict>
    </dict>
</plist>
