<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>relic_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{231,1},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{461,1},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{691,1},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{921,1},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1151,1},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1,231},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{231,231},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{461,231},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{691,231},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{921,231},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1151,231},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1,461},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1,691},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1,921},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1,1151},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1,1381},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{231,461},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{461,461},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{691,461},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{921,461},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1151,461},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{231,691},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{231,921},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{231,1151},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{231,1381},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{461,691},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_4_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{691,691},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{921,691},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1151,691},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{461,921},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_5_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{461,1151},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_5_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{461,1381},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_5_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{691,921},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_5_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{921,921},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1151,921},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{691,1151},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{691,1381},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_6_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{921,1151},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_6_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1151,1151},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_6_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{921,1381},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_6_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1151,1381},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>relic_icons.png</string>
            <key>size</key>
            <string>{1380,1610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2e5f3627713275193612e5fcb66bee7:459dd281450058d8ca615b3b14390c30:d68867c63cd3cbdb5b95d040ae686e68$</string>
            <key>textureFileName</key>
            <string>relic_icons.png</string>
        </dict>
    </dict>
</plist>
