<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>relic_set_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,198}</string>
                <key>spriteSourceSize</key>
                <string>{198,198}</string>
                <key>textureRect</key>
                <string>{{204,1},{198,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{404,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{586,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relic_set_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,198}</string>
                <key>spriteSourceSize</key>
                <string>{201,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>relic_set_icons.png</string>
            <key>size</key>
            <string>{767,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f351605f4ecf2ee9207983f34501260:952705854c9a545619c4eabc3bf22c0f:01b13a5d2e717b23de96ce21f595f87b$</string>
            <key>textureFileName</key>
            <string>relic_set_icons.png</string>
        </dict>
    </dict>
</plist>
