<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eq_fr_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,195}</string>
                <key>spriteSourceSize</key>
                <string>{196,195}</string>
                <key>textureRect</key>
                <string>{{226,199},{196,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eq_fr_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,195}</string>
                <key>spriteSourceSize</key>
                <string>{196,195}</string>
                <key>textureRect</key>
                <string>{{1,226},{196,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eq_fr_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{226,1},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eq_fr_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,195}</string>
                <key>spriteSourceSize</key>
                <string>{196,195}</string>
                <key>textureRect</key>
                <string>{{199,396},{196,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eq_fr_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{223,223}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{223,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eq_fr_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,195}</string>
                <key>spriteSourceSize</key>
                <string>{196,195}</string>
                <key>textureRect</key>
                <string>{{1,423},{196,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>equip_frame.png</string>
            <key>size</key>
            <string>{423,619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32a658c8fbd8554ca43f3c7aec8aa321:58bd7fec59797c1ecb5277cdfc9cf370:34871687e921e6f965cc7043950f3322$</string>
            <key>textureFileName</key>
            <string>equip_frame.png</string>
        </dict>
    </dict>
</plist>
