<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_f_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1581,182},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_f_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1581,289},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>class_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,169}</string>
                <key>spriteSourceSize</key>
                <string>{169,169}</string>
                <key>textureRect</key>
                <string>{{1085,182},{169,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>class_rec_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{180,179}</string>
                <key>spriteSourceSize</key>
                <string>{186,183}</string>
                <key>textureRect</key>
                <string>{{902,1},{180,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>class_rec_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{180,179}</string>
                <key>spriteSourceSize</key>
                <string>{186,183}</string>
                <key>textureRect</key>
                <string>{{1084,1},{180,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>class_rec_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{180,179}</string>
                <key>spriteSourceSize</key>
                <string>{186,183}</string>
                <key>textureRect</key>
                <string>{{1266,1},{180,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>class_rec_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{180,179}</string>
                <key>spriteSourceSize</key>
                <string>{186,183}</string>
                <key>textureRect</key>
                <string>{{1448,1},{180,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>class_rec_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{180,179}</string>
                <key>spriteSourceSize</key>
                <string>{186,183}</string>
                <key>textureRect</key>
                <string>{{541,241},{180,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>class_rec_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{180,179}</string>
                <key>spriteSourceSize</key>
                <string>{186,183}</string>
                <key>textureRect</key>
                <string>{{722,183},{180,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>class_rec_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{180,179}</string>
                <key>spriteSourceSize</key>
                <string>{186,183}</string>
                <key>textureRect</key>
                <string>{{903,182},{180,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{1256,349},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{1409,349},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,155}</string>
                <key>spriteSourceSize</key>
                <string>{156,155}</string>
                <key>textureRect</key>
                <string>{{1423,182},{156,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,155}</string>
                <key>spriteSourceSize</key>
                <string>{156,155}</string>
                <key>textureRect</key>
                <string>{{1423,182},{156,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_card_bg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,238}</string>
                <key>spriteSourceSize</key>
                <string>{177,238}</string>
                <key>textureRect</key>
                <string>{{541,1},{177,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_card_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,241}</string>
                <key>spriteSourceSize</key>
                <string>{178,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_card_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,241}</string>
                <key>spriteSourceSize</key>
                <string>{178,241}</string>
                <key>textureRect</key>
                <string>{{1,244},{178,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_card_bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,241}</string>
                <key>spriteSourceSize</key>
                <string>{178,241}</string>
                <key>textureRect</key>
                <string>{{181,1},{178,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_card_bg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,241}</string>
                <key>spriteSourceSize</key>
                <string>{178,241}</string>
                <key>textureRect</key>
                <string>{{181,244},{178,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_card_bg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,240}</string>
                <key>spriteSourceSize</key>
                <string>{178,240}</string>
                <key>textureRect</key>
                <string>{{361,1},{178,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_card_bg_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,240}</string>
                <key>spriteSourceSize</key>
                <string>{178,240}</string>
                <key>textureRect</key>
                <string>{{361,243},{178,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_k_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,130}</string>
                <key>spriteSourceSize</key>
                <string>{129,130}</string>
                <key>textureRect</key>
                <string>{{722,365},{129,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_k_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{854,365},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_k_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,130}</string>
                <key>spriteSourceSize</key>
                <string>{129,130}</string>
                <key>textureRect</key>
                <string>{{986,363},{129,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_k_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,130}</string>
                <key>spriteSourceSize</key>
                <string>{129,130}</string>
                <key>textureRect</key>
                <string>{{1117,353},{129,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_k_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1256,182},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{720,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>frame.png</string>
            <key>size</key>
            <string>{1687,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3731fbdd58cb8933613a5a519ac68711:f6804c2b7daf179da0c25113789a57f2:7a8537b1e7d876680d01b5eb9d61f35f$</string>
            <key>textureFileName</key>
            <string>frame.png</string>
        </dict>
    </dict>
</plist>
